.card-container {
  display: flex;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 420px;
}
.card-con {
  width: 420px;
}
.card-shape {
  margin-bottom: 20px;
}

.card-content {
  flex: 1;
  padding: 16px;
}

.curve-strip {
  width: 7px;
  background: orange;
}

