<div class="row compact-form">
    <div class="col-12">
        <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
            <div class="col-md-4 pb-2">
                <h4 class="page-title mb-0"> Airline</h4>
            </div>
            <div class="col-md-8 pb-2">
                <div
                    class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="navigateBack()">
                        <i class="fas fa-chevron-left me-1"></i>
                        Back
                    </button>
                    <!-- <button class="btn btn-sm btn-light-secondary dofi-min-w-80 dofi-max-w-80">
                        <i-feather name="edit-3" class="feather-sm me-1"></i-feather> Edit
                    </button> -->
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
                        <i class="fas fa-sync-alt me-1"></i>
                        Reset
                    </button>
                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
                        <i class="fas fa-save me-1"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100 mb-0">
            <div class="card-body border rounded">
                <div class="row">
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Name">
                            <label for="text-input" class="input-label">Name <span class="text-danger">*</span></label>
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Code">
                            <label for="text-input" class="input-label">Code <span class="text-danger">*</span></label>
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="numericCode">
                            <label for="text-input" class="input-label">Numeric Code <span
                                    class="text-danger">*</span></label>
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="3letterCode">
                            <label for="text-input" class="input-label">3 Letter Code</label>
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="address1">
                            <label for="text-input" class="input-label">Address1</label>

                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="address2">
                            <label for="text-input" class="input-label">Address2</label>

                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="address3">
                            <label for="text-input" class="input-label">Address3</label>

                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="city">
                            <label for="text-input" class="input-label">City</label>

                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="postalCode">
                            <label for="text-input" class="input-label">Postal Code</label>

                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="country">
                            <label for="text-input" class="input-label">Country</label>

                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="reorderedQTY">
                            <label for="text-input" class="input-label">Reorderd Qty.</label>

                        </div>
                    </aside>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-md-0 mt-3">
        <div class="card h-100 mb-0">
            <div class="card-body border rounded">
                <div class="row">
                    <!-- <h6 class="card-title mb-0">Basic Info 2</h6> -->
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="file" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="MinTemp">
                            <label for="text-input" class="input-label"></label>

                        </div>
                    </aside>
                    <aside>
                        <div class="row py-2">
                            <div class="col-md-4 mb-2">
                                <div class="form-check">
                                    <input type="checkbox" id="CASS" class="form-check-input">
                                    <label for="CASS" class="form-check-label">CASS Controlled</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-check">
                                    <input type="checkbox" id="IATA" class="form-check-input">
                                    <label for="IATA" class="form-check-label">IATA</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-check">
                                    <input type="checkbox" id="ATA" class="form-check-input">
                                    <label for="ATA" class="form-check-label">ATA</label>
                                </div>
                            </div>
                        </div>

                        <div class="row py-2">
                            <div class="col-md-4 mb-2">
                                <div class="form-check">
                                    <input type="checkbox" id="AIRNC" class="form-check-input">
                                    <label for="AIRNC" class="form-check-label">AIRNC</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <div class="form-check">
                                    <input type="checkbox" id="SITA" class="form-check-input">
                                    <label for="SITA" class="form-check-label">SITA</label>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="col-md-12 pt-2">
                        <div class="custom-form-group">
                            <textarea id="" placeholder="" rows="1" class="custom-input-field sm"
                                formControlName="Remarks"></textarea>
                            <label for="text-input" class="input-label">Remarks </label>
                        </div>
                    </aside>

                    <aside class="col-md-6 mt-md-3">
                            <div class="form-check">
                                <input type="checkbox" id="EAWB" class="form-check-input">
                                <label for="EAWB" class="form-check-label">EAWB Agreement Signed</label>
                            </div>
                    </aside>
                    
                    <aside class="col-md-6 mt-3 mt-md-0">
                        <div class="custom-form-group custom-form-group-select">
                            <ng-select formControlName="PortType" [items]="modeOfStatus" bindLabel="name"
                                bindValue="name">

                            </ng-select>
                            <label for="" class="input-label">Status <span class="text-danger">*</span></label>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

</div>