

/* In your component's SCSS file */
.booking-link {
  display: block;
  border-radius: 4px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.booking-link:hover {
  background-color: #e9ecef;
  color: #0056b3;
  text-decoration: underline;
}

:host ::ng-deep .route-details-form .custom-form-group {
  padding-bottom: 0;
}

:host ::ng-deep .route-details-form .error-message {
  position: absolute;
  right: 0;
  top: 2px;
  margin: 0;
  text-align: right;
  font-size: 11px;
}

:host ::ng-deep .route-details-form .custom-form-group-select-date {
  padding-top: 10px;
  padding-bottom: 18px;
}

:host ::ng-deep .route-details-form .custom-form-group-select-date .input-label {
  top: -6px;
  background: #ffffff;
  z-index: 2;
}

:host ::ng-deep .route-details-form .custom-form-group-select-date .error-message {
  right: 0;
  top: 100%;
  margin-top: 2px;
  text-align: right;
  font-size: 11px;
}

:host ::ng-deep .route-details-form .input-label {
  top: -10px;
  font-size: 12px;
  color: var(--bs-blue);
  background: #ffffff;
  z-index: 2;
  padding: 0 3px;
}

:host ::ng-deep .route-details-form .custom-input-field,
:host ::ng-deep .route-details-form .form-control,
:host ::ng-deep .route-details-form .ng-select,
:host ::ng-deep .route-details-form .ng-select .ng-select-container {
  padding-top: 12px;
}
