.compact-form {
  .custom-form-group {
    margin-bottom: .25rem;
  }

  .custom-input-field {
    border-radius: 0;
    padding: 6px 4px 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: none;
    color: black;
    font-weight: 600 !important;
     font-size: 0.9rem !important;
  }

  .input-label {
    left: 0px;
    padding-left: 0;
    padding-right: 0;
    color: #05608d;
    font-weight: 600 !important;
  }

  .error-message {
    top: inherit;
    bottom: 0;
  }

  .ng-select {
    .ng-select-container {
      border-radius: 0;
      border-top: 0;
      border-left: 0;
      color: black;
      padding: 6px 4px 0px;
      border-right: 0;
      font-weight: 600 !important;
       max-height: 29px !important;
      font-size: 0.9rem !important;
    }
      .form-control {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 6px 4px 0px;
    max-height: 29px;
    color: black;
    font-weight: 600 !important;
    font-size: 0.9rem !important;
  }
  }

   .form-control {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 6px 4px 0px;
    max-height: 29px;
    color: black;
    font-weight: 600 !important;
    font-size: 0.9rem !important;
  }


  .card {
    --bs-card-spacer-y: 8px;
    --bs-card-spacer-x: 8px;
  }

  .custom-form-group-select {
    position: relative;

    ng-select {
      display: block;

      .ng-value-container {
        padding-left: 0 !important;
        padding-top: 0;
      }

      .ng-input input {
        padding-left: 0 !important;
        padding-top: 0;

      }

    }

    multi-select {
      display: block;

      .ng-value-container {
        padding-left: 0 !important;
        padding-top: 0;
      }

      .ng-input input {
        padding-left: 0 !important;
        padding-top: 0;
      }
    }

    .input-label {
      position: absolute;
      left: -4px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      pointer-events: none;
      background-color: #fff;
      padding: 0 5px;
      padding-top: 3px;
      // color: #333;
      transition: 0.2s ease all;
      z-index: 1;
      font-weight: 600 !important;
    }

    &:focus-within .input-label,
    &.filled .input-label {
      top: -8px;
      font-size: 12px;
      color: #05608D;
      transform: none;
      left:-2px;
      font-weight: 600 !important;
    }
  }


  .custom-form-group-select-date {
    position: relative;
    margin-bottom: 0px;

    .input-label {
      left: 0px;
      padding-left: 0;
      padding-right: 0;
      color: #05567F;
      font-weight: 600;
    }

    .input-group{
      margin-bottom: -3ppx !important;
    }
  }

  .custom-form-group-select-date .input-label {
    position: absolute;
    left: 3px;
  }

  .form-check-label{
    color: #05608d;
  }
}