// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
:root {
    --navValue:-28px;
}
.link-external {
    --value:36px;
    width:var(--value);
    height:var(--value);
    border-radius:var(--value);
    line-height:calc(var(--value) / 3);
    display:flex;
    align-items:center;
    justify-content:center;
}

.menu-card {
    --menu-background:var(--bs-secondary-bg);
    background:var(--menu-background);
    -webkit-border-top-left-radius: 24px;
    -webkit-border-top-right-radius: 24px;
    -moz-border-radius-topleft: 24px;
    -moz-border-radius-topright: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding-left:1rem;
    padding-right:1rem;
    position:relative;
    z-index:0;
    bottom: 0;

    &:after {
        content:'';
        width: 100%;
        height: 28px;
        background-color: var(--menu-background);

        position: absolute;
        left: 0;
        bottom: var(--navValue);
    }

    a {
        --link-color:var(--bs-dark);
        display:block;
        padding-top:16px;
        padding-bottom:16px;
        color: var(--link-color);
        position: relative;

        &:hover {
            .link-external {
                background-color: var(--bs-dark);
                --link-color:var(--bs-white);
            }
        }

        
    }

    .link-external {
        // background-color: var(--bs-dark);
        --link-color:var(--bs-white);
    }
    

    &.nav-lead {
        --menu-background:#E6EFF4;
        // top:0;
        a {
            --link-color:var(--bs-dark);
        }
    }
    &.nav-lead-schedule {
        --menu-background:#69A0BB;
        
        a {
            --link-color:var(--bs-light)
        }
    }
    &.nav-calendar {
        --menu-background:#CDDFE8;
        a {
            --link-color:var(--bs-dark);
        }
    }
    &.nav-customer {
        --menu-background:#B4CFDD;
        a {
            --link-color:var(--bs-dark);
        }
    }
    &.nav-rate-request {
        --menu-background:#82B0C6;
        a {
            --link-color:var(--bs-dark);
        }
    }
    &.nav-quotation {
        --menu-background:#5090AF;
        a {
            --link-color:var(--bs-light)
        }
    }
    &.nav-todo {
        --menu-background:#9BBFD1;
        a {
            --link-color:var(--bs-dark);
        }
    }
    
    &.nav-dues {
        --menu-background:#3780A4;
        a {
            --link-color:var(--bs-light)
        }
    }
    &.nav-lead-analysis {
        --menu-background:#1E7098;
        a {
            --link-color:var(--bs-light)
        }
    }
    &.nav-crm {
        --menu-background:#05608D;

        a {
            padding-bottom: 28px;
            --link-color:var(--bs-light)
        }
    }
    &.nav-lead-schedule {
        --menu-background:#05567F;

        a {
            padding-bottom: 28px;
            --link-color:var(--bs-light)
        }
    }

    
    &:hover {
        &.nav-lead,
        &.nav-calendar,
        &.nav-customer,
        &.nav-todo,
        &.nav-rate-request {
            color:var(--bs-white) !important;
        }
    }
      

}

.accordion {
    --bs-accordion-btn-bg:var(--bs-white);
    --bs-accordion-active-bg:#E2E8F0;
}

.fieldset {
    min-width: inherit;
    padding: inherit;
    margin: inherit;
    border: 1px solid var(--bs-primary);

    legend {
        float: unset;
        width: unset;
        padding: inherit;
        margin-bottom: inherit;
        font-size: inherit;
        line-height: inherit;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.pattern {
    &-1 {
        background-image: url(../images/pattern-light-001.png);
        background-repeat: repeat;
    }
}

.btn-min-width {
    min-width:100px;
}

// .input-group {
// }
.input-group-text,
.form-control,
.form-select {
    border-color:#D3D9E4;
}

.form-check-input {
    --bs-form-check-bg: #FFF;
    border:2px solid currentColor;
    transform: scale(0.8);
}

// custom tab

.tab-custom {
    border:1px solid var(--bs-border-color);
    padding:.125rem;
    background-color:#EDEDED;
    border-radius:var(--bs-border-radius-pill);
    gap:0.5rem;

    .nav-item {
        flex:1 0 0%;
        button {
            width:100%;
        }
    }

    .nav-link.active,
    .nav-link {
        border-radius:var(--bs-border-radius-pill);
        border:0;
        font-weight:bold;
    }
    .nav-link:hover, 
    .nav-link:focus {
        --bs-nav-link-hover-color:var(--bs-blue);
    }
}


.has-arrow {
    &:after {
        display: none;
        // margin-left: 0;
        // vertical-align: 0.255em;
        // content: "";
        // border-top: 0.3em solid;
        // border-right: 0 solid transparent;
        // border-bottom: 0;
        // border-left: 0 solid transparent;
    }
}

.form-control,
.form-select {
    &:focus {
        border-color:var(--bs-blue);
    }
}

.form-outline {
    position: relative;
    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.mobileWave {
    height: auto; /* Default height */
    transition: height 0.3s ease-in-out;
    overflow: hidden;

    &.waveCollapsed {
        height: 0;
        transition: height 0.3s ease-in;
    }
}

// table-sm start

.table.table-sm  > :not(caption) > * > * {
    padding:2px;
    font-size:15px;
}
// table-sm end

.pagination {
    margin-bottom: 0;
}

// moadl Logs
.audit-log-modal .modal-dialog {
  max-width: 80% !important; /* Makes modal almost full width */
  width: auto;               /* Let it adjust dynamically */
  height: auto;               /* Let height adjust to content */
  margin: 1rem auto;          /* Center with some margin */
}



.audit-log-modal .modal-content {
  max-height: 90vh;           /* Limit total height to viewport */
  display: flex;
  flex-direction: column;
}

.audit-log-modal .modal-body {
  flex: 1 1 auto;
  overflow-y: auto;           /* Scroll only when content exceeds height */
}

.audit-log-modal1 .modal-dialog {
  max-width: 80% !important;
  margin: 1rem auto;
  width: auto;
  height: auto;
}

.audit-log-modal1 .modal-content {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.audit-log-modal1 .modal-body {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: auto;
}

