$main-body-bg: #0A2744 !default;
$gray-100: #f8f9fa !default;
$border-color-dark: #333f55 !default;
$body-color-dark: #7c8fac !default;
$body-bg-dark: #2a3447 !default;
$link-color-dark: #7c8fac !default;
$body-secondary-color-dark: rgba($body-color-dark, 1) !default;