:host .agent-mawb-cargo-form .custom-form-group {
  margin-bottom: 0.75rem;
}

:host .agent-mawb-cargo-form .error-message {
  position: static;
  display: block;
  margin-top: 2px;
  line-height: 1.1;
  text-align: left;
  white-space: normal;
}

:host ::ng-deep .agent-mawb-product-table thead .text-danger {
  color: #ffb3b3 !important;
  font-size: 12px !important;
}
