<!-- <div class="d-flex justify-content-end mb-2">
  <i
    [ngClass]="isFavorite ? 'fas fa-star fs-5 text-danger' : 'far fa-star fs-5 text-secondary'"
    (click)="toggleFavorite()"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Favorites"
    style="cursor: pointer;">
  </i>
</div> -->
<div class="row">
    <!-- #region Search Panel -->
    <!-- <div class="col-12">
        <div class="rounded-3 p-2 bg-body-tertiary shadow mb-2">
            <form action="" class="d-flex align-items-center gap-2">
                <div class="form-outline col">
                    <input type="search" class="form-control ps-5" [(ngModel)]="searchText" name="search"
                        (input)="searchCountry()" autocomplete="off" placeholder="Search">
                    <i class="fas fa-search ms-3"></i>
                </div>
                <button type="button" class="btn btn-info btn-sm" (click)="createNew()">
                    <i class="mdi mdi-plus"></i> Add
                </button>
            </form>
        </div>
    </div> -->
    <app-listpage
    [title]="'Country'"
    [searchOptions]="[
    { value: 'countryName', label: 'Country Name'},
    { value: 'countryCode', label: 'Country Code'},
    { value: 'UNM49Code', label: 'Zone'},
    { value: 'AWBCurrencyName', label: 'Currency Name'},
    { value: 'status', label: 'Status'}
    ]"
    [searchPerformed]="searchPerformed"
    [defaultSearchType]="'countryName'"
    (onCreateClick)="createNew()"
    (onReportClick)="report()"
    (onResetClick)="reset()"
    (onSearchClick)="onSearch($event)"
    ></app-listpage>
    <!-- <div class="col-12">
        <div class="rounded-3 p-2 bg-body-tertiary shadow mb-2">
            <div class="col-8 mx-auto">
                <div class="rounded-3 p-2 bg-body-tertiary  mb-2" data-bs-theme="light">
                    <form class="d-flex align-items-center gap-2">
                        <div class="form-outline col">
                            <input type="search" class="form-control ps-5" [(ngModel)]="searchText" name="search"
                                (input)="searchCountry()" autocomplete="off" placeholder="Search">
                            <i class="fas fa-search ms-3"></i>
                        </div>
                        <div class="form-outline col">
                            <input  name="filterValue" type="text" class="form-control"
                                placeholder="Enter filter value">
                            <i
                                class="fas fa-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                        </div>

                        <button type="button" class="btn btn-info btn-sm dofi-min-w-80">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <button type="button" class="btn btn-info btn-sm dofi-min-w-80"
                           (click)="createNew()">
                            <i class="mdi mdi-plus"></i> Create
                        </button>
                        <button type="button" class="btn btn-info btn-sm dofi-min-w-80" >
                            
                            Report
                        </button>
                        <button type="button" class="btn btn-info btn-sm dofi-min-w-80">
                          
                            Reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <!-- #endregion -->

    <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="totalLengthOfCollection >0">
        <div class="col-12 p-0">
            <div class="card">
                <!-- #region lead view -->
                <div class="table-responsive">
                    <table class="table table-hover align-middle no-wrap table-bordered">
                        
<thead>
  <tr class="bg-info">
    <th class="bg-transparent text-light" scope="col" width="10%">Action</th>
    <th class="bg-transparent text-light" scope="col" 
        (click)="sort('countryName')"
        style="cursor: pointer;">
      Country Name
      <i class="fas fa-sort ms-1" 
         [ngClass]="{
           'fa-sort-up': sortColumn === 'countryName' && sortDirection === 'asc',
           'fa-sort-down': sortColumn === 'countryName' && sortDirection === 'desc'
         }"></i>
    </th>
    <th class="bg-transparent text-light" scope="col" (click)="sort('countryCode')">
      Country Code
      <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'countryCode', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'countryCode'}"></i>
    </th>
    <th class="bg-transparent text-light" scope="col" (click)="sort('zoneName')">
      Zone
      <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'zoneName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'zoneName'}"></i>
    </th>
    <th class="bg-transparent text-light" scope="col" (click)="sort('currencyName')">
      Currency
      <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'currencyName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'currencyName'}"></i>
    </th>
    <th class="bg-transparent text-light" scope="col" width="10%">Status</th>
  </tr>
</thead>
                    <tbody>
                        <tr *ngFor="let country of countryList">
                            <td>
                                <div class="d-flex align-items-center">
                                    <a class="text-info mx-2 ps-3" 
                                       [routerLink]="['/master/country/entry/', country.CountryMasterSid]">
                                        <i-feather class="feather-sm" name="eye"></i-feather>
                                    </a>
                                    <a class="text-danger mx-2 ps-3 border-start" 
                                       (click)="deleteCountry(country.CountryMasterSid)">
                                        <i-feather name="trash-2" class="feather-sm"></i-feather>
                                    </a>
                                </div>
                            </td>
                            <td>{{ country.countryName }}</td>
                            <td>{{ country.countryCode }}</td>
                            <td>{{ country.zoneName }}</td>
                            <td>{{ country.currencyName }}</td>
                            <td>
                                @if(country.status === "A"){
                                <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                    Active
                                </div>
                                } @else {
                                <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                    Suspended
                                </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                                    </table>
                </div>

               
                <!-- #endregion -->
            </div>
            <div>
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                    [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()" [rotate]="true"
                    [ellipses]="false" [maxSize]="5">
                </ngb-pagination>
            </div>
        </div>
        <div class="col-12" *ngIf="totalLengthOfCollection === 0">
            <div>No records found</div>
        </div>
    </div>

</div>