<form [formGroup]="unitForm"> 
    <div class="row">


         <div class="col-12">
             <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
            <div class="col-md-4 pb-2">
                <h4 class="page-title mb-0">Add Unit</h4>
            </div>
            <div class="col-md-8 pb-2">
                <div
                    class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="goBack()">
                        <i class="fas fa-chevron-left me-1"></i>
                        Back
                    </button>
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="reset()">
                        <i class="fas fa-sync-alt me-1"></i>
                        Reset
                    </button>
                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="onSubmit()"
                        [disabled]=" btnDisable">
                        <i class="fas fa-save me-1"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
        </div>
        <div class="col-12">
            
            <ng-container *ngTemplateOutlet="unitform"></ng-container>
        </div>

        <!-- <div class="col-12">
            <div class="">
                <div class="d-flex align-items-center justify-content-start gap-2">

                    <button class="btn btn-sm btn-outline-secondary btn-rounded waves-effect waves-light btn-min-width"
                        (click)="goBack()">
                        <i-feather class="feather-sm me-1" name="arrow-left"></i-feather> Back
                    </button>
                    <button
                        class="btn btn-sm btn-outline-secondary btn-rounded waves-effect waves-light btn-min-width ms-auto"
                        (click)="reset()">
                        <i-feather class="feather-sm me-1" name="refresh-cw"></i-feather> Reset
                    </button>
                    <button class="btn btn-sm btn-info btn-rounded waves-effect waves-light btn-min-width"
                        (click)="onSubmit()" [disabled]=" btnDisable">
                        <i-feather class="feather-sm me-1" name="upload-cloud"></i-feather> Save
                    </button>
                </div>
            </div>
        </div> -->
    </div>

    <ng-template #unitform>
        <div class="row">
    
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <aside class="col-md-12">
                                <div class="custom-form-group">
                                    <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="unitName" >
                                    <label for="text-input" class="input-label">Name <span class="text-danger">*</span></label>
                                </div>
                            </aside>
        
                            <aside class="col-md-4">
                                <div class="custom-form-group">
                                    <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="unitCode" >
                                    <label for="text-input" class="input-label">Code <span class="text-danger">*</span></label>
                                </div>
                            </aside>
        
                            <aside class="col-md-4">
                                <div class="custom-form-group">
                                    <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="containerType">
                                    <label for="text-input" class="input-label">container Type <span
                                            class="text-danger">*</span></label>
                                </div>
                            </aside>
                            <aside class="col-md-12">
                                <div class="custom-form-group">
                                    <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="Remarks">
                                    <label for="text-input" class="input-label">Remarks <span
                                            class="text-danger">*</span></label>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6 mt-md-0 mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 d-flex flex-wrap gap-3 mb-3 border-bottom">
                                <label class="form-check-label ms-2">Job Type <span class="text-danger">*</span></label>
                                <label *ngFor="let option of jobType">
                                    <input
                                      type="radio"
                                      [value]="option.id"
                                      formControlName="jobType"
                                      name="jobType"
                                    />
                                    {{ option.name }}
                                  </label>
                            </div>
                            <div class="col-12  d-flex flex-wrap gap-3">
                                <label class="form-check-label ms-2">Measurement Type <span class="text-danger">*</span></label>
                                <label *ngFor="let option of measurementType">
                                    <input
                                      type="radio"
                                      [value]="option.id"
                                      formControlName="measurementType"
                                      name="measurementType"
                                    />
                                    {{ option.name }}
                                  </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

</form>

