<div class="row py-3" [formGroup]="containertypeForm">
    <div class="col-12">
        <div class="d-flex align-items-center gap-2 mb-3">
            <!-- Edit / Update Button -->
            <button class="btn btn-sm btn-light-secondary ms-auto" *ngIf="isEditMode" (click)="goBack()">Back</button>
            <button class="btn btn-sm btn-info" (click)="onSubmit()">
                {{ ContainerTypeMasterSid ? 'Update' : 'Create' }}
            </button>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <!-- Container Name -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="container-name" placeholder="" class="custom-input-field sm"
                                   formControlName="containerName" />
                            <label for="container-name" class="input-label">Name <span class="text-danger">*</span></label>
                            <div *ngIf="containertypeForm.get('containerName').invalid && containertypeForm.get('containerName').touched" class="text-danger">
                                Container Name is required.
                            </div>
                        </div>
                    </aside>

                    <!-- Container Code -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="container-code" placeholder="" class="custom-input-field sm"
                                   formControlName="containerCode" />
                            <label for="container-code" class="input-label">Code <span class="text-danger">*</span></label>
                            <div *ngIf="containertypeForm.get('containerCode').invalid && containertypeForm.get('containerCode').touched" class="text-danger">
                                Container Code is required.
                            </div>
                        </div>
                    </aside>

                    <!-- Gross Weight -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="gross-weight" placeholder="" class="custom-input-field sm"
                                   formControlName="grossWeight" />
                            <label for="gross-weight" class="input-label">Gross Weight</label>
                        </div>
                    </aside>

                    <!-- Tare Weight -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="tare-weight" placeholder="" class="custom-input-field sm"
                                   formControlName="tareWeight" />
                            <label for="tare-weight" class="input-label">Tare Weight</label>
                        </div>
                    </aside>

                    <!-- Max Volume -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="max-volume" placeholder="" class="custom-input-field sm"
                                   formControlName="maxVolume" />
                            <label for="max-volume" class="input-label">Max Volume</label>
                        </div>
                    </aside>

                    <!-- Shipping Mode -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="shipping-mode" placeholder="" class="custom-input-field sm"
                                   formControlName="shippingMode" />
                            <label for="shipping-mode" class="input-label">Shipping Mode</label>
                        </div>
                    </aside>

                    <!-- IATA Rate Class -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="iata-rate-class" placeholder="" class="custom-input-field sm"
                                   formControlName="iataRateClass" />
                            <label for="iata-rate-class" class="input-label">IATA Rate Class</label>
                        </div>
                    </aside>

                    <!-- Handling Rate Class -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="handling-rate-class" placeholder="" class="custom-input-field sm"
                                   formControlName="handlingRateClass" />
                            <label for="handling-rate-class" class="input-label">Handling Rate Class</label>
                        </div>
                    </aside>

                    <!-- Freight Rate Class -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="freight-rate-class" placeholder="" class="custom-input-field sm"
                                   formControlName="freightRateClass" />
                            <label for="freight-rate-class" class="input-label">Freight Rate Class</label>
                        </div>
                    </aside>

                    <!-- Testing -->
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="testing" placeholder="" class="custom-input-field sm"
                                   formControlName="testing" />
                            <label for="testing" class="input-label">Testing</label>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <!-- Length -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="length" placeholder="" class="custom-input-field sm"
                                   formControlName="length" />
                            <label for="length" class="input-label">Length</label>
                        </div>
                    </aside>

                    <!-- Width -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="width" placeholder="" class="custom-input-field sm"
                                   formControlName="width" />
                            <label for="width" class="input-label">Width</label>
                        </div>
                    </aside>

                    <!-- Height -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="height" placeholder="" class="custom-input-field sm"
                                   formControlName="height" />
                            <label for="height" class="input-label">Height</label>
                        </div>
                    </aside>

                    <!-- Port Type (Status Dropdown) -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <ng-select formControlName="portType" [items]="modeOfStatus" bindLabel="name" bindValue="name">
                            </ng-select>
                            <label for="portType" class="input-label">Port Type</label>
                        </div>
                    </aside>

                    <!-- Storage Class -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="storage-class" placeholder="" class="custom-input-field sm"
                                   formControlName="storageClass" />
                            <label for="storage-class" class="input-label">Storage Class</label>
                        </div>
                    </aside>

                    <!-- Cargo Class -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="cargo-class" placeholder="" class="custom-input-field sm"
                                   formControlName="cargoClass" />
                            <label for="cargo-class" class="input-label">Cargo Class</label>
                        </div>
                    </aside>

                    <!-- US Container Code -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="us-container-code" placeholder="" class="custom-input-field sm"
                                   formControlName="usContainerCode" />
                            <label for="us-container-code" class="input-label">US Container Code</label>
                        </div>
                    </aside>

                    <!-- US Container Type -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="us-container-type" placeholder="" class="custom-input-field sm"
                                   formControlName="usContainerType" />
                            <label for="us-container-type" class="input-label">US Container Type</label>
                        </div>
                    </aside>

                    <!-- ISO Code -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="iso-code" placeholder="" class="custom-input-field sm"
                                   formControlName="isoCode" />
                            <label for="iso-code" class="input-label">ISO Code</label>
                        </div>
                    </aside>

                    <!-- No of TEU -->
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="no-of-teu" placeholder="" class="custom-input-field sm"
                                   formControlName="noOfTEU" />
                            <label for="no-of-teu" class="input-label">No of TEU</label>
                        </div>
                    </aside>
                </div>

                <!-- Checkbox Options -->
                <div class="col-12 mt-2">
                    <div class="form-check form-check-inline px-0 ps-2" *ngFor="let checkbox of checkboxes">
                        <div class="form-check">
                            <input type="checkbox" [id]="checkbox.id" class="form-check-input" />
                            <label [for]="checkbox.id" class="form-check-label">{{ checkbox.label }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
