<div class="row">
    <div class="col-12">
        <div class="d-flex align-items-center gap-2 mb-3">
            <button class="btn btn-sm btn-info" (click)="onSubmit()">
                <i-feather name="upload-cloud" class="feather-sm me-1"></i-feather>Save
            </button>
        </div>
    </div>
    <form [formGroup]="containertypeForm">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="containerName" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">Container Name <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="containerCode" type="number" placeholder="" class="custom-input-field sm">
                            <label for="containerCode" class="input-label">Conatiner Code <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="grossWeight" type="number" placeholder="" class="custom-input-field sm">
                            <label for="grossWeight" class="input-label">Gross Weight <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="tareWeight" type="number" placeholder="" class="custom-input-field sm">
                            <label for="tareWeight" class="input-label">Tare Weight <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>
                    
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="maxVolume" type="number" placeholder="" class="custom-input-field sm">
                            <label for="maxVolume" class="input-label"> Max Volume <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Shipping Mode -->
                    
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="shippingMode" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">Shipping Mode <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- IATA Rate Class -->
                    
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="iataRateClass" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">IATA Rate Class<span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Handling Rate Class -->
                    
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="handlingRateClass" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">Handling Rate Class <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Freight Rate Class -->
                    
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="freightRateClass" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">Freight Rate Class <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Testing -->
                    
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="testing" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label"> Testing <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Length -->

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="length" type="number" placeholder="" class="custom-input-field sm">
                            <label for="length" class="input-label"> Length <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Width -->
                     
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="width" type="number" placeholder="" class="custom-input-field sm">
                            <label for="width" class="input-label"> Width <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Height -->

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="height" type="number" placeholder="" class="custom-input-field sm">
                            <label for="height" class="input-label"> Height <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Port Type -->
                     
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="portType" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">Port Type <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>
                    
                    <!-- Storage Class -->

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="storageClass" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">Storage Class <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- Cargo Class -->

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="cargoClass" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">Cargo Class <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- US Container Code -->

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="usContainerCode" type="number" placeholder="" class="custom-input-field sm">
                            <label for="usContainerCode" class="input-label"> US Container Code <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- US Container Type -->

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="usContainerType" type="text" id="text-input" placeholder="" class="custom-input-field sm">
                            <label for="text-input" class="input-label">US Container Type <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- ISO Code -->

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="isoCode" type="number" placeholder="" class="custom-input-field sm">
                            <label for="isoCode" class="input-label"> ISO Code <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                    <!-- No of TEU -->

                     <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input formControlName="noOfTEU" type="number" placeholder="" class="custom-input-field sm">
                            <label for="noOfTEU" class="input-label"> No of TEU <span class="text-danger fw-bold">*</span></label>
                        </div>
                    </aside>

                </div>
            </div>
        </div>
    </div>
    </form>
</div>

