<div>
    <div class="d-flex justify-content-between align-items-center px-5 py-3">
        <h4 class="m-0">Commodity Entry</h4>
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-info btn-sm" >
                <i class="bi bi-arrow-down-right"></i> Arabic Commodity
            </button>
            <button type="button" class="btn btn-info btn-sm" >
                <i class="bi bi-arrow-down-right"></i> Update
            </button>
            <button type="button" class="btn btn-info btn-sm" >
                <i class="bi bi-arrow-down-right"></i> Close
            </button>
            <button type="button" style="border: none;outline: none; background-color:#e7e7ea;" >
                <i class="bi bi-arrow-down-right"></i> Action
            </button>
        </div>
    </div>
    <hr class="m-0">
    <div class="row py-3">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <!-- <h6 class="card-title mb-0">Basic Info</h6> -->
                        <aside class="col-md-12">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="commodityName" >
                                <label for="text-input" class="input-label">Name <span class="text-danger">*</span></label>    
                            </div>
                        </aside>
                        <aside class="col-md-12">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="commodityCode" >
                                <label for="text-input" class="input-label">Code <span class="text-danger">*</span></label>
                            </div>
                        </aside>
                        <aside class="col-md-4">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="HsCode" >
                                <label for="text-input" class="input-label">HS Code <span class="text-danger">*</span></label>
                                
                            </div>
                        </aside>
                        <aside class="col-md-4">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="Unit" >
                                <label for="text-input" class="input-label">Unit <span class="text-danger">*</span></label>
                               
                            </div>
                        </aside>
                        <aside class="col-md-4">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="CommodityType" >
                                <label for="text-input" class="input-label">Commodity Type <span class="text-danger">*</span></label>
                               
                            </div>
                        </aside>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <!-- <h6 class="card-title mb-0">Basic Info 2</h6> -->
                        <aside class="col-md-4">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="MinTemp" >
                                <label for="text-input" class="input-label">Min Temp <span class="text-danger">*</span></label>
                               
                            </div>
                        </aside>
                        <aside class="col-md-4">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="Max Temp" >
                                <label for="text-input" class="input-label">Max Temp <span class="text-danger">*</span></label>
                               
                            </div>
                        </aside>
                        <aside class="col-md-4">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" placeholder="" class="custom-input-field sm" formControlName="Status" >
                                <label for="text-input" class="input-label">Status <span class="text-danger">*</span></label>
                               
                            </div>
                        </aside>   
                        <aside class="col-md-12 pt-2">
                            <div class="custom-form-group">
                                <textarea id="" placeholder="" rows="" class="input-field sm" formControlName="Remarks"></textarea>
                                <label for="text-input" class="input-label">Remarks </label>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <!-- <h6 class="card-title mb-0">Basic Info</h6> -->
                        <aside class="col-md-2">
                            <div class=" d-flex">
                                <input type="checkbox" id="text-input"  style="border: 2px solid #D3D9E4;" placeholder="" formControlName="Timber" >
                                <label for="text-input" class=" ps-2">Timber</label>    
                            </div>
                        </aside>
                        <aside class="col-md-2">
                            <div class=" d-flex">
                                <input type="checkbox" id="text-input"  placeholder="" formControlName="Flamable" >
                                <label for="text-input" class=" ps-2">Flamable</label>    
                            </div>
                        </aside>
                        <aside class="col-md-2">
                            <div class=" d-flex">
                                <input type="checkbox" id="text-input"  placeholder="" formControlName="Perishable" >
                                <label for="text-input" class=" ps-2">Perishable</label>    
                            </div>
                        </aside>
                        <aside class="col-md-2">
                            <div class=" d-flex">
                                <input type="checkbox" id="text-input"  placeholder="" formControlName="Haz" >
                                <label for="text-input" class=" ps-2">Haz</label>    
                            </div>
                        </aside>
                        <aside class="col-md-2">
                            <div class=" d-flex">
                                <input type="checkbox" id="text-input"  placeholder="" formControlName="ContainerVentRequired " >
                                <label for="text-input" class=" ps-2">Container Vent Required </label>    
                            </div>
                        </aside>
                       
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
