<!-- <div class="d-flex justify-content-end mb-2">
  <i
    [ngClass]="isFavorite ? 'fas fa-star fs-5 text-danger' : 'far fa-star fs-5 text-secondary'"
    (click)="toggleFavorite()"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Favorites"
    style="cursor: pointer;">
  </i>
</div> -->
<div class="row">
    <app-listpage [title]="'User'" [searchOptions]="[
        { value: 'userName', label: 'User Name' },
        { value: 'userEmail', label: 'Email' },
        { value: 'isSalesperson', label: 'Is Salesman' },
        { value: 'status', label: 'Status' }
      ]" [searchPerformed]="searchPerformed" [defaultSearchType]="'userName'" (onCreateClick)="nagivateTocreateUser()"
        (onReportClick)="report()" (onResetClick)="reset()" (onSearchClick)="search($event)">
    </app-listpage>

    <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="totalNumberOfCollection > 0">
        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle no-wrap table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <th class="bg-transparent text-light" scope="col" width="10%">Action</th>
                            <!-- <th class="bg-transparent text-light" scope="col">User Name</th>
                            <th class="bg-transparent text-light" scope="col">Email</th>
                            <th class="bg-transparent text-light" scope="col">Is Salesman</th> -->
                            <th class="bg-transparent text-light" scope="col" (click)="sort('userName')">
                                User Name
                                <i class="fas fa-sort ms-1" [ngClass]="{
                                'fa-sort-up': sortColumn === 'userName' && sortDirection === 'asc',
                                'fa-sort-down': sortColumn === 'userName' && sortDirection === 'desc'
                                }">
                                </i>
                            </th>

                            <th class="bg-transparent text-light" scope="col" (click)="sort('email')">
                                Email
                                <i class="fas fa-sort ms-1" [ngClass]="{
                                'fa-sort-up': sortColumn === 'email' && sortDirection === 'asc',
                                'fa-sort-down': sortColumn === 'email' && sortDirection === 'desc'
                                }">
                                </i>
                            </th>

                            <th class="bg-transparent text-light" scope="col" (click)="sort('isSalesman')">
                                Is Salesman
                                <i class="fas fa-sort ms-1" [ngClass]="{
                                'fa-sort-up': sortColumn === 'isSalesman' && sortDirection === 'asc',
                                'fa-sort-down': sortColumn === 'isSalesman' && sortDirection === 'desc'
                                }">
                                </i>
                            </th>


                            <th class="bg-transparent text-light" scope="col" width="10%">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of userList; track user) {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="text-info mx-2" [routerLink]="['/master/user/entry/',user.UserMasterSid]">
                                        <i-feather name="eye" class="feather-sm"></i-feather>
                                    </a>
                                    <a class="link mx-2 ps-3 border-start text-primary"
                                        (click)="openChangePassword(resetTemplate,user.UserMasterSid)">
                                        <i class="fas fa-lock" style="color: #FFD43B;"></i>
                                    </a>
                                    <a class="link mx-2 ps-3 border-start text-danger"
                                        (click)="deleteUser(user.UserMasterSid)">
                                        <i-feather name="trash-2" class="feather-sm"></i-feather>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="text-truncate">{{user.userName}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{user.userEmail}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{user.isSalesperson === '1' ? 'Yes' : 'No'}}</div>
                            </td>

                            <td>
                                @if(user.status === "A"){
                                <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                    Active
                                </div>
                                } @else {
                                <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                    Suspended
                                </div>
                                }
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalNumberOfCollection"
                [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginationData()" [rotate]="true"
                [ellipses]="false" [maxSize]="5">
            </ngb-pagination>
        </div>
    </div>
    <div class="col-12" *ngIf="totalNumberOfCollection === 0">
        <div>No records found</div>
    </div>
</div>
<ng-template #resetTemplate let-modal>
    <div class="card mb-0">
        <div class="modal-header p-2 d-flex align-items-center">
            <span class="db"><img src="assets/images/logos/xtreme-dark-icon.svg" alt="logo" /></span>
            <h5 class="card-title ms-2 mb-0">Change Password</h5>
            <button type="button" class="btn btn-close ms-auto me-2" (click)="modal.close()"></button>
        </div>
        <div class="modal-body">
            <form class="col-12 p-3" [formGroup]="resetPasswordForm">
                <div class="d-flex flex-column align-items-center">
                    <aside class="col-md-10 col-12">
                        <div class="input-group my-2">
                            <input type="password" formControlName="password" class="form-control custom-input-field md"
                                placeholder="Password" [ngClass]="{'is-invalid': (resetPasswordForm.controls['password'].invalid) && 
        (resetPasswordForm.controls['password'].touched || resetPasswordForm.controls['password'].dirty )}"
                                #passwordInput />
                            <button type="button" class="input-group-text password-toggle"
                                (mousedown)="togglePassword(true,passwordInput)"
                                (mouseup)="viewPassword(true,passwordInput)"
                                (mouseleave)="viewPassword(true,passwordInput)">
                                @if(!passwordView) {
                                <i-feather class="feather-sm" name="eye"></i-feather>
                                } @else {
                                <i-feather class="feather-sm" name="eye-off"></i-feather>
                                }
                            </button>
                            @if(resetPasswordForm.get('password').invalid && (resetPasswordForm.get('password').touched || resetPasswordForm.get('password').dirty)){
                                <div class="error-message">
                                @if(resetPasswordForm.get('password').hasError('required')){
                                    <span class="text-danger">Password is required</span>
                                }
                                @else if(resetPasswordForm.get('password').hasError('minLength')){
                                    <span>Password must be at least 4 characters long</span>
                                }
                                @else if (resetPasswordForm.get('password').hasError('missingLetter')) {
                                <span>Password must contain at least one letter</span>
                                }
                                @else if (resetPasswordForm.get('password').hasError('missingSpecialChar')) {
                                <span>Password must contain at least one special character</span>
                                }
                                @else if (resetPasswordForm.get('password').hasError('missingNumber')) {
                                <span>Password must contain at least one number</span>
                                }
                                </div>
                            }
                        </div>
                    </aside>

                    <aside class="col-md-10 col-12">
                        <div class="input-group my-2">
                            <input type="password" formControlName="confirmPassword"
                                class="form-control custom-input-field md" placeholder="Confirm Password" [ngClass]="{'is-invalid': 
                                (resetPasswordForm.controls['confirmPassword'].invalid) && 
                                (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)
                                }" #passwordInput1 />
                            <button type="button" class="input-group-text password-toggle"
                                (mousedown)="togglePassword(false,passwordInput1)"
                                (mouseup)="viewPassword(false,passwordInput1)"
                                (mouseleave)="viewPassword(false,passwordInput1)"
                                [attr.aria-label]="passwordView1 ? 'Hide confirm password' : 'Show confirm password'"
                                tabindex="0">
                                @if(!passwordView1) {
                                <i-feather class="feather-sm" name="eye"></i-feather>
                                } @else {
                                <i-feather class="feather-sm" name="eye-off"></i-feather>
                                }
                            </button>
                            @if(resetPasswordForm.get('confirmPassword').invalid && (resetPasswordForm.get('confirmPassword').touched ||resetPasswordForm.get('confirmPassword').dirty) ){
                                <div class="error-message">
                                    @if(resetPasswordForm.get('confirmPassword').hasError('required')){
                                        <span>Confirm Password is required</span>
                                    }@else if(resetPasswordForm.get('confirmPassword').hasError('passwordMismatch')){
                                        <span>Password do not match</span>
                                    }
                                </div>
                            }
                        </div>
                    </aside>
                </div>
            </form>
        </div>
        <div class="modal-footer p-2">
            <button class="btn btn-info ms-auto" type="submit" (click)="onSubmitPassForm()"><i
                    class="fas fa-save me-1"></i> Save</button>
        </div>
    </div>
</ng-template>