
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-scale-ripple" [fullScreen]="true">
    <p style="color: white;" class="m-0">Loading...</p>
</ngx-spinner>

<div class="row compact-form">
    <div class="col-12">
        <app-page-header 
    [title]="'HS-SAC'" [showFavorite]="true" [showSearch]="true" 
    [searchPlaceholder]="'Search'" [searchButtonText]="'Search'" [(searchValue)]="filterValue" 
    [actions]="headerActions" (searchTriggered)="onSearchTriggered($event)" 
    (searchCleared)="onSearchCleared()" (actionTriggered)="onActionTriggered($event)"
    >
    </app-page-header>
        <!-- <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm justify-content-between">
            <div class="col pb-2">
                <h4 class="page-title mb-0">HS-SAC</h4>
            </div>

            <div class="col-md pb-2">
                <form class="row d-flex flex-wrap align-items-center justify-content-center gap-1 gap-md-2 mx-0">
                    <div class="d-flex gap-2 col-12 px-0 align-items-stretch align-items-md-center">
                        <div class="form-outline flex-grow-1 position-relative">
                            <input name="filterValue" type="text" class="form-control pe-5" placeholder="HSSACCode,HSSACName"
                                [(ngModel)]="filterValue" aria-label="Search input">
                            <button *ngIf="filterValue"
                                class="btn btn-sm position-absolute top-50 end-0 translate-middle-y me-3 p-1 text-secondary"
                                (click)="clearFilterValue()" tabindex="0" aria-label="Clear search"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Clear search"
                                onfocus="this.classList.replace('text-secondary','text-danger')"
                                onblur="this.classList.replace('text-danger','text-secondary')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="mt-md-0 mt-1">
                            <button type="submit" (click)="loadHssacs()"
                                class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
                                <i class="fas fa-search me-1"></i> Search
                            </button>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-md-auto pb-2">
                <form
                    class=" d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
                    <app-favorite-star screenName="charge" class="mt-1 me-1"></app-favorite-star>
                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="openModal(content)">
                        <i class="fas fa-plus me-1"></i> Create
                    </button>

                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="report()"
                        [disabled]="!searchPerformed">
                        <i class="fas fa-file-alt me-1"></i> Report
                    </button>

                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="resetPage()"
                        [disabled]="!searchPerformed">
                        <i class="fas fa-sync-alt me-1"></i> Reset
                    </button>
                </form>
            </div>


        </div> -->
    </div>

      <div class="col-12">
        <app-reusable-table #hasacTable [config]="tableConfig" [data]="hssacLists" [loading]="tableLoading"
            [totalRecords]="totalLengthOfCollection" [paginationConfig]="paginationConfig"
            (actionClick)="onTableActionClick($event)" (rowClick)="onTableRowClick($event)"
            (sortChange)="onTableSortChange($event)" (filterChange)="onTableFilterChange($event)"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
        </app-reusable-table>
    </div>
    <!-- <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="searchPerformed && totalLengthOfCollection > 0">
        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle no-wrap table-bordered table-sm mb-1">
                    <thead>
                        <tr class="bg-info">
                            <th class="bg-transparent text-light" scope="col" width="10%">Action</th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('HSSACCode')">
                                HS-SAC Code
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'HSSACCode', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'HSSACCode'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('HSSACName')">
                                HS-SAC Name
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'HSSACName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'HSSACName'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('ServiceName')">
                                Service Name
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'ServiceName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'ServiceName'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('TaxRate')">
                                Tax Rate
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'TaxRate', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'TaxRate'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('TaxType')">
                                Tax Type
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'TaxType', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'TaxType'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('EffectiveFrom')">
                                Effective From
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'EffectiveFrom', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'EffectiveFrom'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col">Remarks</th>
                            <th class="bg-transparent text-light" scope="col" width="10%">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of hssacLists; trackBy: trackByIndex">
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="d-flex gap-2 align-items-center justify-content-center">
                                    @if(hasPermission('View')) {
                                    <button class="btn btn-sm btn-link text-primary p-0 mx-2"
                                        (click)="editHssac(item.HSSACMasterSid, content)" title="Edit">
                                        <i-feather class="feather-sm text-info" name="eye"></i-feather>
                                    </button>
                                }
                                @if(hasPermission('Delete')) {
                                    <button class="btn btn-sm btn-link text-danger p-0 border-start ps-3"
                                        (click)="softDeleteHssac(item.HSSACMasterSid)" title="Delete">
                                        <i-feather name="trash-2" class="feather-sm"></i-feather>
                                    </button>
                                }
                                </div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.HSSACCode}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.HSSACName}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.ServiceName}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.TaxRate}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.TaxType}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.EffectiveFrom | formatDate}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.Remarks}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                @if(item.status === "A"){
                                <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                    Active
                                </div>
                                } @else {
                                <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                    Suspended
                                </div>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-common-pagination
            [config]="paginationConfig"
            (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)">
        </app-common-pagination>
        </div>
    </div>
    <div class="col-12" *ngIf="searchPerformed && totalLengthOfCollection === 0">
        <div>No records found</div>
    </div> -->
    <ng-template #content let-modal>
        <div class="modal-header modalHeaderpart">
            <h5 class="modal-title">{{ isEditMode ? 'Edit' : 'Add' }} HS-SAC</h5>
            <!-- @if(isEditMode){
            <a class="text-info ps-2 w-2 h-2" (click)="showInfo()">
                <i class="fas fs-6 fa-info-circle"></i>
            </a>
            }
            <button type="button" class="btn-close btn-close-white" aria-label="Close"
                (click)="modal.dismiss()"></button>
        </div> -->

        <a *ngIf="isEditMode" class="text-white ps-2 cursor-pointer" (click)="showInfo()">
                <i class="fas fa-info-circle fs-6"></i>
            </a>

            <div class="ms-auto d-flex align-items-center">
                  <div *ngIf="mps.hasAtLeastOne() && isEditMode" ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-light-secondary btn-sm has-arrow" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngIf="mps.has('edoc')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openEDoc()"><i class="fas fa-file-alt me-1"></i> Edoc</button>
            <!-- <button *ngIf="mps.has('terms_and_condition')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openTandC()"><i class="fas fa-clipboard me-1"></i> Terms & Condition</button> -->
            <button *ngIf="mps.has('authority')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openAuthority()"><i class="fas fa-shield-alt me-1"></i> Authorize</button>
            <button *ngIf="mps.has('email')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openEmail()"><i class="fas fa-envelope me-1"></i> Email</button>
              <button type="button" appPreventMultiClick ngbDropdownItem class="text-dark" (click)="openFollowup()">
            <i class="fas fa-paperclip me-1"></i> Followup
          </button>
          <button *ngIf="mps.has('document_reference')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openDocRef()"><i
              class="fas fa-paperclip me-1"></i>Document reference</button>
          </div>
        </div>

                <button type="button" class="btn-close btn-close-white" aria-label="Close"
                    (click)="modal.dismiss()"></button>
            </div>
        </div>

        <div class="modal-body">
            <form [formGroup]="hssacForm">
                <div class="col-md-12">

                    <div class="row compact-form">
                        <aside class="col-md-6">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" formControlName="HSSACName" placeholder=""
                                    class="custom-input-field sm" [onlyText]="100">
                                <label for="text-input" class="input-label">HS-SAC Name <span
                                        class="text-danger fw-bold">*</span></label>
                                @if(hssacForm.get('HSSACName')?.touched && hssacForm.get('HSSACName')?.invalid){
                                <div class="error-message">
                                    @if(hssacForm.get('HSSACName')?.hasError('required')){
                                    <span>Required</span>
                                    } @else if(hssacForm.get('HSSACName')?.hasError('maxlength')){
                                    <span>Max 100 Chars</span>
                                    } @else if(hssacForm.get('HSSACName')?.hasError('numberNotAllowed')){
                                    <span>Only Alphabets</span>
                                    }
                                </div>
                                }
                            </div>
                        </aside>
                        <aside class="col-md-6">
                            <div class="custom-form-group">
                                <input type="text" formControlName="HSSACCode" id="text-input" placeholder=""
                                    class="custom-input-field sm" [textWithNumbers]="9">
                                <label for="text-input" class="input-label">HS-SAC Code <span
                                        class="text-danger fw-bold">*</span></label>
                                @if(hssacForm.get('HSSACCode')?.touched && hssacForm.get('HSSACCode')?.invalid){
                                <div class="error-message">
                                    @if(hssacForm.get('HSSACCode')?.hasError('required')){
                                    <span>Required</span>
                                    } @else if(hssacForm.get('HSSACCode')?.hasError('maxlength')){
                                    <span>Max 9 Chars</span>
                                    }
                                </div>
                                }
                            </div>
                        </aside>
                        <aside class="col-md-6">
    <div class="custom-form-group custom-form-group-select"[class.filled]="!!hssacForm.get('HSNorSAC')?.value">
        <ng-select 
            formControlName="HSNorSAC" 
            [items]="HSNorSAC"
            bindLabel="HSNorSAC"
            bindValue="HSNorSAC"
            placeholder="">
        </ng-select>
        <label class="input-label">HSNorSAC <span class="text-danger">*</span></label>
        @if(hssacForm.get('HSNorSAC')?.touched && hssacForm.get('HSNorSAC')?.invalid){
            <div class="error-message">
                @if(hssacForm.get('HSNorSAC')?.hasError('required')){
                    <span>Required</span>
                }
            </div>
        }
    </div>
</aside>
                        <aside class="col-md-6">
                            <div class="custom-form-group">
                                <input type="text" id="text-input" class="custom-input-field sm"
                                    formControlName="ServiceName" placeholder="">
                                <label for="text-input" class="input-label">Service Name <span
                                        class="text-danger">*</span></label>
                                @if(hssacForm.get('ServiceName')?.touched && hssacForm.get('ServiceName')?.invalid){
                                <div class="error-message">
                                    @if(hssacForm.get('ServiceName')?.hasError('required')){
                                    <span>Required</span>
                                    } @else if(hssacForm.get('ServiceName')?.hasError('maxlength')){
                                    <span>Max 100 Chars</span>
                                    }
                                </div>
                                }
                            </div>
                        </aside>

<aside class="col-md-6">
    <div class="custom-form-group custom-form-group-select"[class.filled]="!!hssacForm.get('TaxType')?.value">
        <ng-select 
            formControlName="TaxType" 
            [items]="taxList"
            bindLabel="TaxGroup"
            bindValue="TaxGroup"
            placeholder="">
        </ng-select>
        <label class="input-label">Tax Type <span class="text-danger">*</span></label>
        @if(hssacForm.get('TaxType')?.touched && hssacForm.get('TaxType')?.invalid){
            <div class="error-message">
                @if(hssacForm.get('TaxType')?.hasError('required')){
                    <span>Required</span>
                }
            </div>
        }
    </div>
</aside>
<aside class="col-md-6">
    <div class="custom-form-group">
        <input type="text" class="custom-input-field sm" formControlName="TaxRate" placeholder=""  readonly>
        <label for="" class="input-label">Tax Rate<span class="text-danger">*</span></label>
        @if(hssacForm.get('TaxRate')?.touched && hssacForm.get('TaxRate')?.invalid){
            <div class="error-message">
                @if(hssacForm.get('TaxRate')?.hasError('required')){
                    <span>Required</span>
                } @else if(hssacForm.get('TaxRate')?.hasError('min') || hssacForm.get('TaxRate')?.hasError('max')){
                    <span>Tax Rate must be between 0 and 100</span>
                }
            </div>
        }
    </div>
</aside>                        
                        <!-- <aside class="col-md-6">
                            <div class="d-flex">
                                <div class="custom-form-group custom-form-group-select w-100 mb-0">
                                    <input class="form-control mb-0" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker
                                        #d2="ngbDatepicker" (click)="d2.toggle()" formControlName="EffectiveFrom"
                                        [footerTemplate]="footerTemplate2" readonly />
                                    <label class="input-label" for="dp">Effective From <span
                                            class="text-danger">*</span></label>
                                    <div
                                        *ngIf="hssacForm.get('EffectiveFrom')?.touched && hssacForm.get('EffectiveFrom')?.invalid">
                                        <p *ngIf="hssacForm.get('EffectiveFrom')?.errors?.['required']"
                                            class="error-message">Effective From date is required.</p>
                                    </div>
                                </div>
                                <button class="btn btn-outline-secondary bi bi-calendar3 bg-info text-white mx-1 mt-2"
                                    (click)="d2.toggle()" type="button">
                                    <i-feather name="calendar" class="feather-sm"></i-feather>
                                </button>
                            </div>
                        </aside> -->
                        <aside class="col-md-6">
                            <div class="custom-form-group custom-form-group-select-date" [class.filled]="!!hssacForm.get('EffectiveFrom')?.value">
                                <div class="input-group">
                               <input class="form-control mb-0" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker
                                        #d2="ngbDatepicker" (click)="d2.toggle()" formControlName="EffectiveFrom"
                                        [footerTemplate]="footerTemplate2" readonly />

                                <button 
                                    class="btn bi bi-calendar3" 
                                      (click)="d2.toggle()" type="button">
                                    <i-feather name="calendar" class="feather-sm"></i-feather>
                                </button>
                                </div>

                               <label class="input-label" for="dp">Effective From <span
                                            class="text-danger">*</span></label>

                                 <div
                                        *ngIf="hssacForm.get('EffectiveFrom')?.touched && hssacForm.get('EffectiveFrom')?.invalid">
                                        <p *ngIf="hssacForm.get('EffectiveFrom')?.errors?.['required']"
                                            class="error-message">Required</p>
                                    </div>
                            </div>
                            </aside>

                        <ng-template #footerTemplate2>
                            <hr class="my-0" />
                            <button class="btn btn-info btn-sm m-2 float-start"
                                (click)="hssacForm.get('EffectiveFrom')?.setValue(todayDate); d2.close()">
                                Today
                            </button>
                            <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d2.close()">
                                Close
                            </button>
                        </ng-template>
                        <aside class="col-md-6">
                            <div class="custom-form-group">
                                <input type="textarea" id="text-input" class="custom-input-field sm"
                                    formControlName="Remarks" placeholder="">
                                <label for="text-input" class="input-label">Remarks <span
                                        class="text-danger"></span></label>
                                @if(hssacForm.get('Remarks')?.touched && hssacForm.get('Remarks')?.invalid){
                                <div class="error-message">
                                    @if(hssacForm.get('Remarks')?.hasError('required')){
                                    <span>Required</span>
                                    } @else if(hssacForm.get('Remarks')?.hasError('maxlength')){
                                    <span>Max 500 Chars</span>
                                    }
                                </div>
                                }
                            </div>
                        </aside>
                        <!-- ... (keep all existing HTML until the status field) -->

                        <aside class="col-md-6">
                            <div class="custom-form-group custom-form-group-select"  [class.filled]="!!hssacForm.get('status')?.value">
                                <ng-select [items]="statusList" formControlName="status"
                                    [class.is-invalid]="hssacForm.get('status')?.invalid && hssacForm.get('status')?.touched"
                                    [disabled]="hssacForm.get('status')?.disabled">
                                </ng-select>
                                <label class="input-label">Status <span class="text-danger">*</span></label>
                                @if(hssacForm.get('status')?.touched && hssacForm.get('status')?.invalid){
                                <div class="error-message">
                                    <span>Required</span>
                                </div>
                                }
                            </div>
                        </aside>


                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <!-- @if(isEditMode){
            @if(hasPermission('Edoc')) {
      <button type="button" appPreventMultiClick class="btn btn-outline-info" (click)="openEDoc()">
        <i class="fas fa-file-alt me-1"></i> e-Doc
      </button>
    }
               @if(hasPermission('Terms and Condition')) {
      <button type="button" appPreventMultiClick class="btn btn-outline-info" (click)="openTandC()">
        <i class="fas fa-clipboard me-1"></i> Terms & Condition
      </button>
    }
                 @if(hasPermission('Authority')) {
      <button type="button" appPreventMultiClick class="btn btn-outline-info"(click)="openAuthority()">
        <i class="fas fa-shield-alt me-1"></i> Authorize
      </button>
    }
                
      @if(hasPermission('Email')) {
      <button type="button" appPreventMultiClick class="btn btn-outline-info me-auto"(click)="openEmail()">
        <i class="fas fa-envelope me-1"></i> Email
      </button>
    }

            } -->
             
            
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" *ngIf="isEditMode"
                            (click)="openAuditLogs()">
                        <i class="fas fa-history me-1"></i>Logs
            </button>
            <button type="button" class="btn btn-secondary btn-sm dofi-min-w-80 dofi-max-w-80" (click)="modal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
            (click)="resetForm()">
            <i class="fas fa-sync-alt me-1"></i>
            Reset
          </button>
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="onSubmit()"
             [disabled]="(!mps.can('update') && isEditMode) || btnDisable || hssacForm.invalid">
                Save
            </button>
        </div>
    </ng-template>
</div>
