<div class="row">
    <app-listpage
  [title]="'Department'"
  [searchOptions]="[
    { value: 'departmentName', label: 'Department Name' },
    { value: 'departmentCode', label: 'Department Code' },
    { value: 'departmentType', label: 'Department Type' },
    { value: 'ExportImport', label: 'Export/Import' },
    { value: 'FCLLCL', label: 'FCL/LCL' },
    { value: 'Division', label: 'Division' },
    { value: 'Status', label: 'Status' }
  ]"
  [searchPerformed]="searchPerformed"
  [defaultSearchType]="'departmentName'"
  (onCreateClick)="navigateToCreateDepartment()"
  (onReportClick)="report()"
  (onResetClick)="resetPage()"
  (onSearchClick)="onSearch($event)">
    </app-listpage>

    <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="totalLengthOfCollection > 0">
        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle no-wrap table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <th class="bg-transparent text-light" scope="col" width="10%">Action</th>
                            <th class="bg-transparent text-light" scope="col">Dept Code</th>
                            <th class="bg-transparent text-light" scope="col">Dept Name</th>
                            <th class="bg-transparent text-light" scope="col">Dept Type</th>
                            <th class="bg-transparent text-light" scope="col">Exp/Imp</th>
                            <th class="bg-transparent text-light" scope="col">FCL/LCL</th>
                            <th class="bg-transparent text-light" scope="col">Division</th>
                            <th class="bg-transparent text-light" scope="col" width="10%">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of departmentList; let i = index; trackBy: trackByIndex">
                            <td>
                                <div class="d-flex align-items-center">
                                    <a class="text-info mx-2" class="link mx-2 ps-3 "
                                        [routerLink]="['/master/department/entry/', item.DepartmentMasterSid]">
                                        <i-feather class="feather-sm text-info" name="eye"></i-feather>
                                    </a>
                                    <a class="text-danger mx-2 ps-3 border-start"
                                        (click)="deleteDepartment(item.DepartmentMasterSid)">
                                        <i-feather name="trash-2" class="feather-sm"></i-feather>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.departmentCode}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.departmentName}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.departmentType}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.ExportImport}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.FCLLCL}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.Division}}</div>
                            </td>
                            <td>
                                @if(item.Status === "A"){
                                <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                    Active
                                </div>
                                } @else {
                                <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                    Suspended
                                </div>
                                }
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                    [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()">
                </ngb-pagination>
            </div>
        </div>
    </div>


    <!-- No records found -->
    <div class="col-12" *ngIf="totalLengthOfCollection === 0">
        <div>No records found</div>
    </div>
</div>