<div class="card mb-0">
  <div class="card-body">

    <div class="col-12">
      <div *ngIf="isMobile; else templatedesktop">
        <ng-container *ngTemplateOutlet="templateMobile"></ng-container>
      </div>
    </div>



    <!-- ============================================================== -->
    <!-- Calander Area -->
    <!-- ============================================================== -->

    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked-ram', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [headerTemplate]="customHeaderTemplate"
        [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked-ram', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked-ram', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>

    <section class="eventDetails d-none">
      <br />
      <hr />
      <!-- ============================================================== -->
      <!-- Edit Evenets -->
      <!-- ============================================================== -->
      <h3>
        Edit events
        <button class="btn btn-info float-end" (click)="addEvent()">
          Add new
        </button>
        <div class="clearfix"></div>
      </h3>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Primary color</th>
              <th>Secondary color</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Remove</th>
            </tr>
          </thead>

          <tbody>
            @for(event of events; track event.title) {
            <tr>
              <td>
                <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
              </td>
              <td>
                <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
              </td>
              <td>
                <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()" />
              </td>
              <td>
                <input class="form-control bg-white" type="text" mwlFlatpickr [(ngModel)]="event.start"
                  (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                  dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
              </td>
              <td>
                <input class="form-control bg-white" type="text" mwlFlatpickr [(ngModel)]="event.end"
                  (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                  dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteEvent(event)">
                  Delete
                </button>
              </td>
            </tr>
            }

          </tbody>
        </table>
      </div>
      <!-- ============================================================== -->
      <!-- Event Popup -->
      <!-- ============================================================== -->
      <ng-template #modalContent let-close="close">
        <div class="modal-header">
          <h5 class="modal-title">Event {{ modalData.action }}</h5>
          <button type="button" class="btn-close" (click)="close()"></button>
        </div>
        <div class="modal-body">
          {{ modalData.action }}

          <!-- Event if Edited -->
          @if(modalData.action === 'Edit') {
          <div>
            <h5>Event Title</h5>
            <input type="text" class="form-control" [(ngModel)]="modalData.event.title" (keyup)="refresh.next()" />
            <div class="row">
              <div class="col-md-12">
                <h5 class="mt-3">Event Color</h5>
                <input type="color" [(ngModel)]="modalData.event.color.primary" (change)="refresh.next()"
                  width="500px" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h5 class="mt-3">Event Start</h5>
                <input class="form-control bg-white" type="text" mwlFlatpickr [(ngModel)]="modalData.event.start"
                  (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                  dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
              </div>
              <div class="col-md-6">
                <h5 class="mt-3">Event End</h5>
                <input class="form-control bg-white" type="text" mwlFlatpickr [(ngModel)]="modalData.event.end"
                  (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                  dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
              </div>
              <button type="button" class="btn btn-info mt-4" (click)="close()">
                Add Event
              </button>
            </div>
          </div>
          }

        </div>
      </ng-template>
    </section>

    <ng-template #modalContentAdd let-close="close">
      <div class="modal-header p-2 bg-info text-info">
        <h5 class="modal-title text-white">Update Meeting</h5>
        <a class="text-info ps-2 w-2 h-2" (click)="showInfo()">
          <i class="fas fs-6 fa-info-circle"></i>
        </a>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>

      <form [formGroup]="meetingForm">
        <div class="modal-body">
          <section class="">
            <div class="row compact-form">
              <aside class="col-md-4">
                <div class="custom-form-group">
                  <input type="text" placeholder="" class="custom-input-field sm" formControlName="customerName">
                  <label class="input-label">Customer Name </label>
                  <div *ngIf="f['customerName'].touched && f['customerName'].invalid" class="error-message">
                    Required
                  </div>
                </div>
              </aside>

              <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('meetingType')?.value">
                  <label class="input-label">Meeting Type <span class="text-danger">*</span></label>
                  <ng-select class="ng-select" formControlName="meetingType" placeholder="">
                    <ng-option value="Call">Call</ng-option>
                    <ng-option value="Visit">Visit</ng-option>
                    <ng-option value="Phone">Phone</ng-option>
                    <ng-option value="eMeeting">eMeeting</ng-option>
                  </ng-select>
                </div>

              </aside>

              <!-- <aside class="col-md-4">
                <div class=" custom-form-group custom-form-group-select-date w-100">
                  <div class="input-group w-100">
                    <input placeholder="dd-mm-yyyy" name="dp" class="w-100" formControlName="meetingDate"
                      class="custom-input-field sm" />
                  </div>
                  <label class="input-label me-2">Meeting Date <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['meetingDate'].touched && f['meetingDate'].invalid" class="error-message pe-4 pb-2">
                    Required
                  </div>
                </div>
              </aside> -->
              <aside class="col-md-4">
                <div class=" custom-form-group custom-form-group-select-date w-100">
                  <div class="input-group w-100">
                    <app-date-time-picker placeholder="dd-mm-yyyy" name="dp" class="w-100"
                      formControlName="meetingDate" [inputReadonly]="true"></app-date-time-picker>
                    <!-- <input type="datetime-local" formControlName="followUpDate" class="form-control" [min]="minDate" /> -->
                  </div>
                  <label class="input-label me-2">Meeting Date <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['meetingDate'].touched && f['meetingDate'].invalid" class="error-message pe-4 pb-2">
                    Required
                  </div>
                </div>
              </aside>
              <aside class="col-md-4">

                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('meetingDuration')?.value">

                  <ng-select [items]="meetingDurations" bindLabel="label" bindValue="value"
                    formControlName="meetingDuration" placeholder="">
                  </ng-select>

                  <label class="input-label">
                    Meeting Duration <span class="text-danger">*</span>
                  </label>

                  <small *ngIf="f['meetingDuration']?.touched && f['meetingDuration']?.invalid" class="error-message">
                    Required.
                  </small>
                </div>
              </aside>

              <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('leadAssignTo')?.value">
                  <label class="input-label">Salesperson <span class="text-danger">*</span></label>
                  <ng-select class="ng-select" formControlName="leadAssignTo" placeholder="">
                    <ng-option *ngFor="let person of salesPersons" [value]="person.UserMasterSid">
                      {{ person.userName }}
                    </ng-option>
                  </ng-select>
                  <div *ngIf="f['leadAssignTo'].touched && f['leadAssignTo'].invalid" class="text-danger">
                    Required
                  </div>
                </div>

              </aside>
              <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('meetingStatus')?.value">
                  <label class="input-label">Meeting Status <span class="text-danger">*</span></label>
                  <ng-select class="ng-select" formControlName="meetingStatus" placeholder="">
                    <ng-option value="Scheduled" selected>Scheduled</ng-option>
                    <ng-option value="Confirmed">Confirmed</ng-option>
                    <ng-option value="In Progress">In Progress</ng-option>
                    <ng-option value="On Hold">On Hold</ng-option>
                    <ng-option value="Completed">Completed</ng-option>
                  </ng-select>
                  <div *ngIf="f['meetingStatus'].touched && f['meetingStatus'].invalid" class="text-danger">
                    Required
                  </div>
                </div>

              </aside>
              <aside class="col-md-4">
                <div class="custom-form-group">
                  <textarea id="" placeholder="" rows="2" class="custom-input-field sm" formControlName="meetingNote"
                    rows="1"></textarea>
                  <label class="input-label">Meeting Note
                    <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['meetingNote'].touched && f['meetingNote'].invalid" class="error-message pb-2">
                    Required
                  </div>

                </div>
              </aside>



              <div class="col-md-4" style="margin-top: -15px;">
                <div class="">
                  <label class="control-label col-form-label">&nbsp;</label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" formControlName="followUp"
                      [checked]="meetingForm.get('followUp')?.value" (change)="toggleFollowUp($event)" />
                    <label class="form-check-label">Follow up required?</label>
                  </div>
                </div>
              </div>
              <!-- Conditionally Display Follow Up Fields in One Row -->

              <aside class="col-md-4" *ngIf="meetingForm.get('followUp')?.value">
                <div class=" custom-form-group custom-form-group-select-date w-100">
                  <div class="input-group w-100">
                    <app-date-time-picker placeholder="dd-mm-yyyy" name="dp" class="w-100"
                      formControlName="followUpDate"></app-date-time-picker>
                    <!-- <input type="datetime-local" formControlName="followUpDate" class="form-control" [min]="minDate" /> -->
                  </div>
                  <label class="input-label me-2">Follow Up Date <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['followUpDate'].touched && f['followUpDate'].invalid" class="error-message pe-4 pb-2">
                    Required
                  </div>
                </div>
              </aside>
              <aside class="col-md-4" *ngIf="meetingForm.get('followUp')?.value">
                <div class="custom-form-group">
                  <textarea id="" placeholder="" rows="2" class="custom-input-field sm" formControlName="followUpNote"
                    rows="1"></textarea>
                  <label class="input-label">Follow Up Note
                    <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['followUpNote'].touched && f['followUpNote'].invalid" class="error-message pb-2">
                    Required
                  </div>
                </div>
              </aside>


            </div>
          </section>


        </div>
        <div class="modal-footer">
          <!-- <button type="button" appPreventMultiClick class="btn btn-outline-info " (click)="openEDoc()">
            <i class="fas fa-file-alt me-1"></i> e-Doc
          </button>
          <button type="button" appPreventMultiClick class="btn btn-outline-info " (click)="openTandC()">
            <i class="fas fa-clipboard me-1"></i> Terms & Condition
          </button>
          <button type="button" appPreventMultiClick class="btn btn-outline-info" (click)="openAuthority()">
            <i class="fas fa-shield-alt me-1"></i> Authorize
          </button>

          <button type="button" appPreventMultiClick class="btn btn-outline-info  me-auto " (click)="openEmail()">
            <i class="fas fa-envelope me-1"></i> Email
          </button> -->
          <button class="btn btn-info btn-sm" appPreventMultiClick [disableTime]="2000" [isLoading]="btnDisable"
            (click)="onEditMeeting()" [disabled]="!mps.can('update')">
            Save
          </button>
        </div>
      </form>
    </ng-template>



    <ng-template #modalContentAddForm let-close="close">
      <div class="modal-header p-2 bg-info">
        <h5 class="modal-title text-white">Add Meeting</h5>
        <button type="button" class="btn-close btn-close-white" (click)="close()"></button>
      </div>

      <form [formGroup]="meetingForm">
        <div class="modal-body">
          <section class="">


            <div class="row compact-form">
              <aside class="col-md-4">
                <div class="custom-form-group">
                  <label for="BranchType" class="form-check-label">Lead or Existing Customer<span
                      class="text-danger"></span></label>
                  <div class="d-flex gap-3">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="LeadOrCustomer" id="paymentType"
                        value="L">
                      <label class="form-check-label" for="branchTypeCash">
                        Lead
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="LeadOrCustomer" id="paymentType"
                        value="C">
                      <label class="form-check-label" for="branchTypeCredit">
                        Customer
                      </label>
                    </div>
                  </div>
                </div>
              </aside>
              <aside class="col-md-4" *ngIf="meetingForm.get('LeadOrCustomer')?.value === 'L'">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('PreCustomerMasterSid')?.value">
                  <label class="input-label">Lead <span class="text-danger">*</span></label>
                  <ng-select class="ng-select" formControlName="PreCustomerMasterSid" placeholder="">
                    <ng-option *ngFor="let item of leadList" [value]="item.PreCustomerMasterSid">{{ item.preCustomerName
                      }}
                    </ng-option>
                  </ng-select>
                  <div
                    *ngIf="meetingForm.get('PreCustomerMasterSid')?.touched && meetingForm.get('PreCustomerMasterSid')?.invalid"
                    class="error-message">
                    Required
                  </div>
                </div>

              </aside>

              <aside class="col-md-4" *ngIf="meetingForm.get('LeadOrCustomer')?.value === 'C'">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('CustomerMasterSid')?.value">
                  <label class="input-label">Customer <span class="text-danger">*</span></label>
                  <ng-select [items]="customers" bindLabel="CustomerName" bindValue="CustomerMasterSid"
                    formControlName="CustomerMasterSid" placeholder="">
                  </ng-select>
                  <div *ngIf="f['CustomerMasterSid']?.touched && f['CustomerMasterSid']?.invalid" class="text-danger">
                    Required
                  </div>
                </div>
              </aside>

              <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('meetingType')?.value">
                  <label class="input-label">Meeting Type <span class="text-danger">*</span></label>
                  <ng-select class="ng-select" formControlName="meetingType" placeholder="">
                    <ng-option value="Call">Call</ng-option>
                    <ng-option value="Visit">Visit</ng-option>
                    <ng-option value="Phone">Phone</ng-option>
                    <ng-option value="eMeeting">eMeeting</ng-option>
                  </ng-select>
                  <div class="error-message"
                    *ngIf="meetingForm.get('meetingType')?.touched && meetingForm.get('meetingType')?.hasError('required')">
                    Required
                  </div>
                </div>

              </aside>

              <aside class="col-md-4">
                <div class=" custom-form-group custom-form-group-select-date w-100">
                  <div class="input-group w-100">
                    <app-date-time-picker placeholder="dd-mm-yyyy" name="dp" class="w-100"
                      formControlName="meetingDate"></app-date-time-picker>
                  </div>
                  <label for="" class="input-label">Meeting Date <span class="text-danger">*</span>
                  </label>
                  <div class="error-message pb-2 pe-4"
                    *ngIf="meetingForm.get('meetingDate')?.touched && meetingForm.get('meetingDate')?.hasError('required')">
                    Required
                  </div>
                </div>
              </aside>
              <aside class="col-md-4">

                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('meetingDuration')?.value">

                  <ng-select [items]="meetingDurations" bindLabel="label" bindValue="value"
                    formControlName="meetingDuration" placeholder="">
                  </ng-select>

                  <label class="input-label">
                    Meeting Duration <span class="text-danger">*</span>
                  </label>

                  <small *ngIf="f['meetingDuration']?.touched && f['meetingDuration']?.invalid" class="error-message">
                    Required.
                  </small>
                </div>
              </aside>

              <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('leadAssignTo')?.value">
                  <label class="input-label">Salesperson <span class="text-danger">*</span></label>
                  <!-- <ng-select class="ng-select" formControlName="leadAssignTo" placeholder="">
                    <ng-option *ngFor="let person of salesPersons" [value]="person.UserMasterSid">
                      {{ person.userName }}
                    </ng-option>
                  </ng-select> -->
                  <dofi-searchable-dropdown
                  [items]="salesPersons"
                  formControlName="leadAssignTo"
                  [placeholder]="''"
                  [displayFields]="userLookupConfig.displayFields"
                  [displayLabels]="userLookupConfig.displayLabels"
                  [labelFields]="userLookupConfig.labelFields"
                  [bindValue]="'UserMasterSid'"
                  ></dofi-searchable-dropdown>
                  <div *ngIf="f['leadAssignTo'].touched && f['leadAssignTo'].invalid" class="error-message">
                    Required
                  </div>
                </div>

              </aside>
              <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select"
                  [class.filled]="!!meetingForm.get('meetingStatus')?.value">
                  <label class="input-label">Meeting Status <span class="text-danger">*</span></label>
                  <ng-select class="ng-select" formControlName="meetingStatus" placeholder="">
                    <ng-option value="Scheduled" selected>Scheduled</ng-option>
                    <ng-option value="Confirmed">Confirmed</ng-option>
                    <ng-option value="In Progress">In Progress</ng-option>
                    <ng-option value="On Hold">On Hold</ng-option>
                    <ng-option value="Completed">Completed</ng-option>
                  </ng-select>
                  <div *ngIf="f['meetingStatus'].touched && f['meetingStatus'].invalid" class="error-message">
                    Required
                  </div>
                </div>

              </aside>
              <aside class="col-md-4">
                <div class="custom-form-group">
                  <textarea id="" placeholder="" rows="2" class="custom-input-field sm" formControlName="meetingNote"
                    rows="1"></textarea>
                  <label class="input-label">Meeting Note
                    <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['meetingNote'].touched && f['meetingNote'].invalid" class="error-message pb-2">
                    Required
                  </div>

                </div>
              </aside>



              <div class="col-md-4" style="margin-top: -15px;">
                <div class="">
                  <label class="control-label col-form-label">&nbsp;</label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" formControlName="followUp"
                      [checked]="meetingForm.get('followUp')?.value" (change)="toggleFollowUp($event)" />
                    <label class="form-check-label">Follow up required?</label>
                  </div>
                </div>
              </div>


              <!-- Follow Up Section (Conditional) -->

              <aside class="col-md-4" *ngIf="meetingForm.get('followUp')?.value">
                <div class=" custom-form-group custom-form-group-select-date w-100">
                  <div class="input-group w-100">
                    <app-date-time-picker placeholder="dd-mm-yyyy" name="dp" class="w-100"
                      formControlName="followUpDate"></app-date-time-picker>
                    <!-- <input type="datetime-local" formControlName="followUpDate" class="form-control" [min]="minDate" /> -->
                  </div>
                  <label class="input-label me-2">Follow Up Date <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['followUpDate'].touched && f['followUpDate'].invalid" class="error-message pe-4 pb-2">
                    Required
                  </div>
                </div>
              </aside>
              <aside class="col-md-4" *ngIf="meetingForm.get('followUp')?.value">
                <div class="custom-form-group">
                  <textarea id="" placeholder="" rows="2" class="custom-input-field sm" formControlName="followUpNote"
                    rows="1"></textarea>
                  <label class="input-label">Follow Up Note
                    <span class="text-danger">*</span>
                  </label>
                  <div *ngIf="f['followUpNote'].touched && f['followUpNote'].invalid" class="error-message pb-2">
                    Required
                  </div>
                </div>
              </aside>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button class="btn btn-info btn-sm" appPreventMultiClick [disableTime]="2000" [isLoading]="btnDisable"
            (click)="onAddMeeting()">
            Save
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>


<!-- #region Desktop Header -->
<ng-template #templatedesktop>
  <div class="row align-items-center mb-2">
    <div class="col-md-auto text-end text-md-start">
      <ng-container *ngTemplateOutlet="templateForDay"></ng-container>
    </div>
    <div class="col-md text-center mb-0">
      <h5>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h5>
    </div>
    <div class="col-md-auto text-end">
      <ng-container *ngTemplateOutlet="templateForMonthDateWeek"></ng-container>
      <ng-container *ngTemplateOutlet="templateNewMeetingBtn"></ng-container>
    </div>
  </div>
</ng-template>
<!-- #endregion -->

<!-- #region Mobile Header -->
<ng-template #templateMobile>
  <div class="row align-items-center mb-2">
    <div class="col-6">
      <ng-container *ngTemplateOutlet="templateForDay"></ng-container>
    </div>

    <div class="col-6 text-end">
      <ng-container *ngTemplateOutlet="templateForMonthDateWeek"></ng-container>
    </div>



  </div>
  <div class="row">
    <div class="col text-start">
      <h5 class="pt-2">{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h5>
    </div>
    <div class="col-auto">
      <ng-container *ngTemplateOutlet="templateNewMeetingBtn"></ng-container>
    </div>
  </div>
</ng-template>
<!-- #endregion -->


<ng-template #templateForDay>
  <div class="btn-group btn-group-sm">
    <div class="btn btn-gray-v5" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()" ngbTooltip="Previous" container="body">
      <!-- Previous -->
      <i-feather name="arrow-left" class="feather-sm"></i-feather>
    </div>
    <div class="btn btn-outline-gray-v5 text-dark" mwlCalendarToday [(viewDate)]="viewDate">
      Next
    </div>
    <div class="btn btn-gray-v5" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()" ngbTooltip="Next" container="body">
      <!-- Next -->
      <i-feather name="arrow-right" class="feather-sm"></i-feather>
    </div>
  </div>
</ng-template>


<ng-template #customHeaderTemplate let-days="days">
  <div class="cal-day-headers">
    <div *ngFor="let day of days" class="cal-header" [ngClass]="{ 'today': isToday(day.date) }">
      <div><b>{{ day.date | date: 'EEE' }}</b></div> <!-- Weekday (Mon, Tue, etc.) -->
      <div>{{ day.date | date: 'd' }}</div> <!-- Only date number (16, 17) -->
    </div>
  </div>
</ng-template>

<ng-template #templateForMonthDateWeek>
  <div class="btn-group btn-group-sm">
    <div class="btn btn-outline-info" (click)="setView(CalendarView.Month)"
      [class.active]="view === CalendarView.Month">
      Month
    </div>
    <div class="btn btn-outline-info" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
      Week
    </div>
    <div class="btn btn-outline-info" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
      Day
    </div>
  </div>
</ng-template>

<ng-template #templateNewMeetingBtn>
  <button class="btn btn-info btn-sm ms-2" (click)="addEvent()" [disabled]="!mps.can('insert')">
    <i class="fas fa-plus me-1"></i> New Meeting
  </button>
</ng-template>

<!-- Custom Template for Day Cell -->
<ng-template #customDayTemplate let-day="day">
  <div [ngClass]="{'today-highlight': isToday(day.date)}">
    <span>{{ day.date.getDate() }}</span>
  </div>
</ng-template>

<ng-template #customerCreatedModal let-modal>
  <div class="modal-header bg-info text-white">
    <h4 class="modal-title">Success!</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeCustomerCreatedModal()"></button>
  </div>
  <div class="modal-body text-center py-4">
    <p class="h5">Customer created successfully. Please Click go to Customer to update the customer details.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeCustomerCreatedModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="navigateToCreatedCustomer()">Go to Customer</button>
  </div>
</ng-template>
