<div class="row py-3" [formGroup]="inputForm">
  <!-- <div class="col-12">
    <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
      <div class="col-md-4 pb-2">
        <h4 class="page-title mb-0">Add Package Type</h4>
      </div>
      <div class="col-md-8 pb-2">
        <div
          class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
            <i class="fas fa-chevron-left me-1"></i>
            Back
          </button>

          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
            <i class="fas fa-sync-alt me-1"></i>
            Reset
          </button>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="savePackageType()">
            <i class="fas fa-save me-1"></i>
            {{ packageMasterSid ? "Update" : "Create" }}
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-12">
    <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
      <div class="col-md-4 pb-2">
        <h4 class="page-title mb-0">Add Package Type</h4>
      </div>
      <div class="col-md-8 pb-2">
        <div
          class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
            <i class="fas fa-chevron-left me-1"></i>
            Back
          </button>
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
            <i class="fas fa-sync-alt me-1"></i>
            Reset
          </button>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
            <i class="fas fa-save me-1"></i>
            Save
          </button>
          <button class="btn btn-sm btn-info dofi-min-w-80 dofi-max-w-80" (click)="savePackageType()">
            {{ packageMasterSid ? "Update" : "Create" }}
          </button>
        </div>
      </div>
    </div>


    <!-- <div class="col-12">
      <div class="d-flex align-items-center gap-2 mb-3">
        <button class="btn btn-sm btn-info" (click)="savePackageType()">
          {{ packageMasterSid ? "Update" : "Create" }}
        </button>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <!-- <h6 class="card-title mb-0">Basic Info</h6> -->
              <aside class="col-md-6">
                <div class="custom-form-group">
                  <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                    formControlName="PackageName" />
                  <label for="text-input" class="input-label">Name <span class="text-danger">*</span></label>
                </div>
              </aside>
              <aside class="col-md-6">
                <div class="custom-form-group">
                  <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                    formControlName="PackageCode" />
                  <label for="text-input" class="input-label">Code <span class="text-danger">*</span></label>
                </div>
              </aside>
              <!-- <aside class="col-md-8">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="HsCode">
                            <label for="text-input" class="input-label">Arabic Name <span
                                    class="text-danger">*</span></label>

                        </div>
                    </aside> -->
              <aside class="col-md-4">
                <div class="custom-form-group">
                  <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                    formControlName="status" />
                  <label for="text-input" class="input-label">Status <span class="text-danger">*</span></label>
                </div>
              </aside>
              <!-- <aside class="col-md-12 pt-2">
                        <div class="custom-form-group">
                            <textarea id="" placeholder="" rows="" class="input-field sm"
                                formControlName="Remarks"></textarea>
                            <label for="text-input" class="input-label">Remarks </label>
                        </div>
                    </aside> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <!-- <h6 class="card-title mb-0">Basic Info 2</h6> -->
              <!-- <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="MinTemp">
                            <label for="text-input" class="input-label">Malaysia EDI <span
                                    class="text-danger">*</span></label>

                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Max Temp">
                            <label for="text-input" class="input-label">India EDI <span
                                    class="text-danger">*</span></label>

                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Status">
                            <label for="text-input" class="input-label">Srilanka EDI <span
                                    class="text-danger">*</span></label>

                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Status">
                            <label for="text-input" class="input-label">UAE EDI <span
                                    class="text-danger">*</span></label>

                        </div>
                    </aside> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>