<div class="row">
  <div class="col-12">
    <div class="rounded-3 p-2 bg-body-tertiary shadow mb-2" data-bs-theme="light">
      <form class="d-flex align-items-center gap-2">
        <div class="form-outline col">
          <input type="search" class="form-control ps-5" [(ngModel)]="searchType" placeholder="Search Type" name="typeSearch">
          <i class="fas fa-search ms-3"></i>
        </div>
        <div class="form-outline col">
          <input type="search" class="form-control ps-5" [(ngModel)]="searchName" placeholder="Enter Name" name="nameSearch">
          <i class="fas fa-search ms-3"></i>
        </div>
        <button type="button" class="btn btn-info btn-sm" (click)="filterDivisionList()">
          <i class="fas fa-search"></i>
          Search
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="navigateToCreateDivision()">
          <i class="mdi mdi-plus"></i>
          Create
        </button>
        <button type="button" class="btn btn-secondary btn-sm d-flex align-items-center gap-1">
          <i-feather name="arrow-down-right" class="feather-sm"></i-feather>
          Report
        </button>
        <button type="button" class="btn btn-secondary btn-sm d-flex align-items-center gap-1" (click)="resetFilters()">
          <i-feather name="arrow-down-right" class="feather-sm"></i-feather>
          Reset
        </button>
      </form>
    </div>
  </div>

  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover align-middle no-wrap table-bordered">
        <thead>
          <tr class="bg-info">
            <th class="bg-transparent text-light" scope="col">Action</th>
            <th class="bg-transparent text-light" scope="col">Name</th>
            <th class="bg-transparent text-light" scope="col">Code</th>
            <th class="bg-transparent text-light" scope="col">Address</th>
            <th class="bg-transparent text-light" scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          @for (item of divisionList; track $index) {
          <tr>
            <td class="d-flex align-items-center">
              <a class="text-info me-2" [routerLink]="['/master/division/entry/', item.DivisionMasterSid]">
                <i-feather name="edit-3" class="feather-sm"></i-feather>
              </a>
              <a class="text-danger" (click)="deleteDivision(item.DivisionMasterSid)">
                <i-feather name="trash-2" class="feather-sm"></i-feather>
              </a>
            </td>
            <td>
              <div class="text-truncate">{{ item.divisionName }}</div>
            </td>
            <td>
              <div class="text-truncate">{{ item.divisionCode }}</div>
            </td>
            <td>
              <div class="text-truncate">{{ item.address || '-' }}</div>
            </td>
            <td>
              <span class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1"
                *ngIf="item.status === 'A'; else inactive">
                <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                Active
              </span>
              <ng-template #inactive>
                <span class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                  <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                  Inactive
                </span>
              </ng-template>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
