/* Wrapper for horizontal scroll */
:host ::ng-deep .table-scroll-wrapper {
  max-width: 100%;          /* fits dropdown width */
  overflow-x: auto;         /* horizontal scroll if needed */
}

/* Dropdown table */
:host ::ng-deep .dropdown-table {
  border-collapse: collapse;
  width: max-content;       /* table grows based on content */
  min-width: 600px;         /* minimum width */
  table-layout: fixed;      /* fix column widths */
}

/* Header */
:host ::ng-deep .dropdown-table th {
  padding: 8px;
  background-color: #f8f9fa;
  font-weight: bold;
  border: 1px solid #ccc;
  white-space: nowrap;
  text-align: left;
}

/* Rows */
:host ::ng-deep .dropdown-table td {
  padding: 2px;
  white-space: nowrap;
  font-size: 12px;
  max-width: 300px !important;
  overflow-x: scroll !important;
}

/* Hover effect */
:host ::ng-deep .dropdown-table tr:hover {
  background-color: #f1f1f1;
}

/* Selected row */
:host ::ng-deep .ng-option-selected table tr {
  background-color: #05608D !important;
  color: white;
}


.ng-dropdown-panel {
  overflow-x: scroll;
}