<div class="row">
  <div class="col-12">
    <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm">
      <div class="col-md-4 pb-2">
        <h4 class="page-title mb-0">Tax Group</h4>
      </div>

      <div class="col-md-8 pb-2">
        <form class=" d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
          <app-favorite-star screenName="Tax Group" class="mt-1 me-1"></app-favorite-star>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="openModal(content)">
            <i class="fas fa-plus me-1"></i> Create
          </button>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="report()"  [disabled]="!searched">
            <i class="fas fa-file-alt me-1"></i> Report
          </button>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="resetPage()"  [disabled]="!searched">
            <i class="fas fa-sync-alt me-1"></i> Reset
          </button>
        </form>
      </div>

      
                            <div class="col-md-12 border-top">
            <div class="row mx-0 py-2">
                <div class="col-md-8 mx-auto px-0">
                    <form class="row d-flex flex-wrap align-items-center justify-content-center gap-1 gap-md-2 mx-0">
                        <div class="d-flex gap-2 col-12 col-md-6 px-0 align-items-stretch align-items-md-center">
                            <div class="form-outline flex-grow-1 position-relative">
                                <input name="filterValue" type="text" class="form-control pe-5" placeholder="Search" [(ngModel)]="filterValue"
                                    aria-label="Search input">
                                <button *ngIf="filterValue"
                                    class="btn btn-sm position-absolute top-50 end-0 translate-middle-y me-3 p-1 text-secondary"
                                    (click)="clearFilterValue()" tabindex="0" aria-label="Clear search" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Clear search"
                                    onfocus="this.classList.replace('text-secondary','text-danger')"
                                    onblur="this.classList.replace('text-danger','text-secondary')">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                           <div class="mt-md-0 mt-1">
                                                      <button type="submit" (click)="loadTaxGroups()" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
  <i class="fas fa-search me-1"></i> Search
</button>
                            </div>
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





  <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="searchPerformed && totalLengthOfCollection > 0">
  <div class="col-12 p-0">
    <div class="table-responsive">
      <table class="table table-hover align-middle no-wrap table-bordered">
        <thead>
          <tr class="bg-info">
            <th class="bg-transparent text-light" scope="col" width="10%">Action</th>

            <th class="bg-transparent text-light" scope="col" (click)="sort('TaxName')">
              Tax Name
              <i class="fas fa-sort ms-1"
                [ngClass]="{ 'fa-sort-up': sortColumn === 'TaxName' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'TaxName' && sortDirection === 'desc' }"></i>
            </th>

            <th class="bg-transparent text-light" scope="col" (click)="sort('TaxCode')">
              Tax Code
              <i class="fas fa-sort ms-1"
                [ngClass]="{ 'fa-sort-up': sortColumn === 'TaxCode' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'TaxCode' && sortDirection === 'desc' }"></i>
            </th>

            <th class="bg-transparent text-light" scope="col" (click)="sort('TaxType')">
              Tax Type
              <i class="fas fa-sort ms-1"
                [ngClass]="{ 'fa-sort-up': sortColumn === 'TaxType' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'TaxType' && sortDirection === 'desc' }"></i>
            </th>

            <th class="bg-transparent text-light" scope="col" (click)="sort('EffectiveFrom')">
              Effective From
              <i class="fas fa-sort ms-1"
                [ngClass]="{ 'fa-sort-up': sortColumn === 'EffectiveFrom' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'EffectiveFrom' && sortDirection === 'desc' }"></i>
            </th>

            <th class="bg-transparent text-light" scope="col" (click)="sort('TaxRate')">
              Tax Rate
              <i class="fas fa-sort ms-1"
                [ngClass]="{ 'fa-sort-up': sortColumn === 'TaxRate' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'TaxRate' && sortDirection === 'desc' }"></i>
            </th>

            <th class="bg-transparent text-light" scope="col" (click)="sort('TaxReason')">
              Tax Reason
              <i class="fas fa-sort ms-1"
                [ngClass]="{ 'fa-sort-up': sortColumn === 'TaxReason' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'TaxReason' && sortDirection === 'desc' }"></i>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of taxGroupList; trackBy: trackByIndex">
            <td>
              <div class="d-flex align-items-center justify-content-center gap-2">
                <button class="btn btn-sm btn-link text-primary p-0 mx-2"
                     (click)="openEditModal(content, item.TaxMasterSid)"
                        title="Edit">
                  <i-feather class="feather-sm text-info" name="eye"></i-feather>
                </button>
                <button class="btn btn-sm btn-link text-danger p-0 border-start ps-3"
                       (click)="softDeleteTaxGroup(item.TaxMasterSid)"
                        title="Delete">
                  <i-feather name="trash-2" class="feather-sm"></i-feather>
                </button>
              </div>
            </td>
            <td><div class="text-truncate">{{ item.TaxName }}</div></td>
            <td><div class="text-truncate">{{ item.TaxCode }}</div></td>
            <td><div class="text-truncate">{{ item.TaxType }}</div></td>
            <td><div class="text-truncate">{{ item.EffectiveFrom }}</div></td>
            <td><div class="text-truncate">{{ item.TaxRate }}</div></td>
            <td><div class="text-truncate">{{ item.Remarks  }}</div></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <ngb-pagination
        [collectionSize]="totalLengthOfCollection"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="updatePaginationData()">
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Show this if no records -->
<div class="col-12" *ngIf="searchPerformed && totalLengthOfCollection === 0">
  <div>No records found</div>
</div>


    <ng-template #content let-modal>
  <div class="modal-header p-2 bg-info">
    <h4 class="modal-title text-white">
      {{ isEditMode ? 'Edit' : 'Add' }} Tax Group
    </h4>
     @if(isEditMode){
            <a class="text-white ps-2 w-2 h-2 pt-1" (click)="showInfo()">
                <i class="fas fs-6 fa-info-circle"></i>
            </a>
            }
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="taxGroupForm">
      <div class="row">
        <!-- Tax Name -->
        <aside class="col-md-6">
          <div class="custom-form-group">
            <input type="text" formControlName="TaxName" class="custom-input-field sm" placeholder="" />
            <label class="input-label">Tax Name <span class="text-danger">*</span></label>
            <div class="error-message" *ngIf="taxGroupForm.get('TaxName')?.touched && taxGroupForm.get('TaxName')?.invalid">
              <span>Tax Name is required</span>
            </div>
          </div>
        </aside>

        <!-- Tax Code -->
        <aside class="col-md-6">
          <div class="custom-form-group">
            <input type="text" formControlName="TaxCode" class="custom-input-field sm" placeholder="" />
            <label class="input-label">Tax Code <span class="text-danger">*</span></label>
            <div class="error-message" *ngIf="taxGroupForm.get('TaxCode')?.touched && taxGroupForm.get('TaxCode')?.invalid">
              <span>Tax Code is required</span>
            </div>
          </div>
        </aside>

        <!-- Tax Type -->
        <aside class="col-md-6">
          <div class="custom-form-group custom-form-group-select">
            <ng-select formControlName="TaxType" [items]="modeofTaxType" bindLabel="name" bindValue="name"></ng-select>
            <label class="input-label">Tax Type <span class="text-danger">*</span></label>
            <div class="error-message" *ngIf="taxGroupForm.get('TaxType')?.touched && taxGroupForm.get('TaxType')?.invalid">
              <span>Tax Type is required</span>
            </div>
          </div>
        </aside>

        <!-- Effective From -->
        <aside class="col-md-6">
          <div class="d-flex mb-2 my-lg-0">
            <div class="custom-form-group custom-form-group-select w-100 mb-0">
              <input
                class="custom-input-field sm mb-0"
                placeholder="dd-mm-yyyy"
                name="dp"
                ngbDatepicker
                #effectiveDate="ngbDatepicker"
                (click)="effectiveDate.toggle()"
                formControlName="EffectiveFrom"
                readonly />
              <label class="input-label">Effective From <span class="text-danger fw-bold">*</span></label>
              <div class="error-message" *ngIf="taxGroupForm.get('EffectiveFrom')?.touched && taxGroupForm.get('EffectiveFrom')?.invalid">
                <span>Effective From is required</span>
              </div>
            </div>
            <button class="btn btn-info bi bi-calendar3 text-white mx-1 mt-2" type="button" (click)="effectiveDate.toggle()">
              <i-feather class="feather-sm" name="calendar"></i-feather>
            </button>
          </div>
        </aside>

           <!-- Tax Rate -->
        <aside class="col-md-6">
          <div class="custom-form-group">
            <input type="number" formControlName="TaxRate" class="custom-input-field sm" placeholder="" />
            <label class="input-label">Tax Rate <span class="text-danger">*</span></label>
            <div class="error-message" *ngIf="taxGroupForm.get('TaxRate')?.touched && taxGroupForm.get('TaxRate')?.invalid">
              <span>Tax Rate is required</span>
            </div>
          </div>
        </aside>

        <!-- Is Exempt -->
        <aside class="col-md-4 d-flex align-items-center">
          <div class="form-check form-check-inline p-0">
            <div class="form-check d-flex align-items-center">
              <input type="checkbox" formControlName="TaxExempt" id="TaxExempt" class="form-check-input sm" />
              <label for="TaxExempt" class="form-check-label sm">Is Exempt</label>
            </div>
          </div>
        </aside>

        <!-- Tax Reason -->
        <aside class="col-md-6">
          <div class="custom-form-group">
            <textarea placeholder="" class="custom-input-field sm" formControlName="Remarks" rows="1"></textarea>
            <label class="input-label">Tax Reason</label>
          </div>
        </aside>
      </div>
    </form>
  </div>

  <div class="modal-footer">
      @if(isEditMode){
                <button type="button" appPreventMultiClick class="btn btn-outline-info " (click)="openEDoc()">
        <i class="fas fa-file-alt me-1"></i> e-Doc
      </button>
                <button type="button" appPreventMultiClick class="btn btn-outline-info " (click)="openTandC()">
                    <i class="fas fa-clipboard me-1"></i> Terms & Condition
                </button>
                <button type="button" appPreventMultiClick class="btn btn-outline-info"(click)="openAuthority()">
        <i  class="fas fa-shield-alt me-1"></i> Authorize
      </button>
                
      <button type="button" appPreventMultiClick class="btn btn-outline-info  me-auto "(click)="openEmail()" >
        <i class="fas fa-envelope me-1"></i> Email
      </button>
      
            }
    <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-info btn-sm" (click)="onSubmit()"  [disabled]="taxGroupForm.invalid">
      {{ isEditMode ? 'Update' : 'Save' }}
    </button>
  </div>
</ng-template>


</div>