<div class="row">
    <app-listpage
  [title]="'Commodity'"
  [searchOptions]="[
    { value: 'CommodityName', label: 'Commodity Name' },
    { value: 'CommodityCode', label: 'Commodity Code' },
    { value: 'CommodityType', label: 'Commodity Type' },
    { value: 'HSSACCode', label: 'HS/SAC Code' },
    { value: 'status', label: 'Status' }
  ]"
  [searchPerformed]="searchPerformed"
  [defaultSearchType]="'CommodityName'"
  (onCreateClick)="navigateToCreate()"
  (onReportClick)="report()"
  (onResetClick)="resetPage()"
  (onSearchClick)="onSearch($event)">
    </app-listpage>

    <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="totalLengthOfCollection > 0">
        <div class="col-12 p-0" >
        <div class="table-responsive">
            <table class="table table-hover align-middle no-wrap table-bordered">
                <thead>
                    <tr class="bg-info">
                        <th class="bg-transparent text-light" scope="col" width="10%">Action</th>
                        <th class="bg-transparent text-light" scope="col">Commodity Name</th>
                        <th class="bg-transparent text-light" scope="col">Commodity Code</th>
                        <th class="bg-transparent text-light" scope="col">Type</th>
                        <th class="bg-transparent text-light" scope="col">HS Code</th>
                        <th class="bg-transparent text-light" scope="col" width="10%">Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of commodityList; let i = index">
                        <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="text-info mx-2"
                                    [routerLink]="['/master/commodity/entry/', item.CommodityMasterSid]">
                                    <i-feather class="feather-sm" name="eye"></i-feather>
                                </a>
                                <a class="text-danger mx-2 ps-3 border-start"
                                    (click)="deleteCommodityById(item.CommodityMasterSid)">
                                    <i-feather name="trash-2" class="feather-sm"></i-feather>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.CommodityName}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.CommodityCode}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.CommodityType || '-'}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.HSSACCode || '-'}}</div>
                        </td>
                        <td>
                            <span class="px-2 rounded-pill d-inline-flex align-items-center gap-1" [ngClass]="{
                            'bg-light-success': item.status === 'A',
                            'bg-light-danger': item.status === 'S'
                          }">
                                <span class="dofi-w-4 dofi-h-4 d-inline-block rounded"
                                    [ngClass]="{'bg-success': item.status === 'A', 'bg-danger': item.status === 'S'}"></span>
                                {{ item.status === 'A' ? 'Active' : 'Suspended' }}
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()">
            </ngb-pagination>
        </div>
    </div>
    </div>
    

</div>

<!-- No records found -->
<div class="col-12" *ngIf="totalLengthOfCollection === 0 && searchPerformed">
        <div >No records found</div>
    </div>