 <div class="modern-table-container">
    <div>
        <div class="table-toolbar">
            <div class="toolbar-left">
              
            </div>
            <div class="toolbar-right">
                  <button class="table-action-btn primary" (click)="openConnectionModal(connectionModal)" [disabled]="disableAddBtn">
                    <i class="fas fa-plus"></i> Add
                </button>
                <button class="table-action-btn export" (click)="reportConnections()">
                    <i class="fas fa-download"></i> Export
                </button>
                <!-- <button class="table-action-btn print">
                    <i class="fas fa-print"></i> Print
                </button> -->
            </div>
        </div>
        @if(connectionDataLength > 0){
        <div class="modern-table-wrapper">
            <table class="modern-table">
                <thead>
                    <tr>
                        <th width="10%">Actions</th>
                        <th>Mode</th>
                        <th>{{ getVesselLabel() }}</th>
                        <th>{{ getVoyageLabel() }}</th>
                        <th>POL</th>
                        <th>POD</th>
                        <th>ETD</th>
                        <th>ETA</th>
                        <th *ngIf="screenName !== 'Booking'">ATD</th>
                        <th *ngIf="screenName !== 'Booking'">ATA</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for(connection of slicedConnectionFormArr ; track connection ; let connectionIndex = $index){
                    <tr class="table-row">
                        <td class="actions-cell">
                            <div class="d-flex align-items-center justify-content-center">
                            <a class="text-info mx-2" class="link mx-2 ps-3"
                                (click)="openConnectionModal(connectionModal,connection,connectionIndex)">
                                <i-feather class="feather-sm text-info" name="eye"></i-feather>
                            </a>

                            <a class="text-danger mx-2 ps-3 border-start"
                                (click)="deleteBookingConnection(connectionIndex,connection.TransactionSid)">
                                <i-feather name="trash-2" class="feather-sm"></i-feather>
                            </a>

                        </div>
                        </td>
                        <td>{{connection.Mode || ''}}</td>
                        <td>{{connection.VesselName}}</td>
                        <td>{{connection.VoyageNo}}</td>
                        <td>{{connection.POL}}</td>
                        <td>{{connection.POD}}</td>
                        <td>{{connection.ETD |
                        formatDate}}</td>
                        <td>{{connection.ETA |
                        formatDate}}</td>
                        <td *ngIf="screenName !== 'Booking'">{{connection.ATD | formatDate}}</td>
                        <td *ngIf="screenName !== 'Booking'">{{connection.ATA | formatDate}}</td>
                        <td>{{connection.status}}</td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="mt-2">
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="connectionDataLength" [pageSize]="pageSize1"
                    [(page)]="page1" (pageChange)="updateConnectionPagination()" [rotate]="true" [ellipses]="false" [maxSize]="10">
                </ngb-pagination>
            </div>
        </div>
        } @else {
        <div class="col-12">
            <div class=" text-center">No Record Found</div>
        </div>
        }
    </div>
</div>


<ng-template #connectionModal let-modal>
    <div class="modal-header p-2 bg-info">
        <h5 class="modal-title text-white">Add Connection</h5>
        <button type="button" class="btn-close btn-close-white" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">
        <div class="row compact-form" [formGroup]="connectionForm">
            <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select" [class.filled]="!!connectionForm.get('Mode')?.value">
                    <ng-select formControlName="Mode" [items]="typeofmodes" bindLabel="name" bindValue="name"
                        placeholder="" (change)="onModeChange($event)">
                    </ng-select>
                    <label for="" class="input-label"> Mode <span class="text-danger"></span></label>
                </div>
            </aside>
            <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select" [class.filled]="!!connectionForm.get('POL')?.value">
                    <!-- <ng-select [items]="filteredPOL" bindLabel="PortName" bindValue="PortName"
                        placeholder="" formControlName="POL" (change)="handlePOLChange($event)">
                    </ng-select> -->
                    <dofi-searchable-dropdown [items]="filteredPOL" formControlName="POL" placeholder=""
                        [displayFields]="portLookupConfig.displayFields"
                        [displayLabels]="portLookupConfig.displayLabels" [labelFields]="portLookupConfig.labelFields"
                        bindLabel="PortName" bindValue="PortName"
                        (itemSelected)="handlePOLChange($event)">
                      </dofi-searchable-dropdown>
                    <label for="" class="input-label"> POL <span class="text-danger"></span></label>
                </div>
            </aside>
            <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select" [class.filled]="!!connectionForm.get('POD')?.value">
                    <!-- <ng-select formControlName="POD" [items]="filteredPOD" bindLabel="PortName" bindValue="PortName"
                        placeholder="" (change)="handlePODChange($event)">
                    </ng-select> -->
                    <dofi-searchable-dropdown [items]="filteredPOD" formControlName="POD" placeholder=""
                        [displayFields]="portLookupConfig.displayFields"
                        [displayLabels]="portLookupConfig.displayLabels" [labelFields]="portLookupConfig.labelFields"
                        bindLabel="PortName" bindValue="PortName"
                        (itemSelected)="handlePODChange($event)">
                      </dofi-searchable-dropdown>
                    <label for="" class="input-label"> POD <span class="text-danger"></span></label>
                </div>
            </aside>
            <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select"  [class.filled]="!!connectionForm.get('VesselName')?.value" [class.custom-form-group-select]="!isAirMode()">
                    <!-- <ng-select [items]="filteredVesselList" bindLabel="VesselName" bindValue="VesselName" class="ng-select"
                        formControlName="VesselName" placeholder="" (change)="onVesselChange($event)">
                    </ng-select> -->
                     @if(isAirMode()) {
                        <!-- Text input for Air mode -->
                        <input type="text" id="vessel-input" placeholder="" class="custom-input-field sm"
                            formControlName="VesselName" [textWithNumbers]>
                    } @else {
                    <dofi-searchable-dropdown [items]="filteredVesselList" formControlName="VesselName" placeholder=""
                        [displayFields]="vesselVoyageConfig.displayFields"
                        [displayLabels]="vesselVoyageConfig.displayLabels"
                        [labelFields]="vesselVoyageConfig.labelFields" bindValue="VesselName"
                        (itemSelected)="onVesselChange($event)"> 
                      </dofi-searchable-dropdown>
                    }
                    <label for="text-input" class="input-label">{{ getVesselLabel() }} <span class="text-danger"></span></label>
                </div>
            </aside>
            <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select" [class.filled]="!!connectionForm.get('VoyageNo')?.value" [class.custom-form-group-select]="!isAirMode()">
                    @if(isAirMode()) {
                        <!-- Text input for Air mode -->
                        <input type="text" id="voyage-input" placeholder="" class="custom-input-field sm"
                            formControlName="VoyageNo"[textWithNumbers]>
                    } @else {
                    <ng-select [items]="voyageList" formControlName="VoyageNo" bindLabel="VoyageNo" bindValue="VoyageNo" class="ng-select"
                         placeholder="" (change)="onVoyageChange($event)">
                    </ng-select>
                }
                    <label for="text-input" class="input-label">{{ getVoyageLabel() }} <span class="text-danger"></span></label>
                </div>
            </aside>
            <div class="col-md-4">
                <div class="custom-form-group custom-form-group-select-date">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #d2="ngbDatepicker"
                            [minDate]="toNgbDateStruct(minStartDate)" formControlName="ETD" (click)="d2.toggle()"
                            (dateSelect)="c['ETD'].markAsTouched()" />
                        <button class="btn  bi bi-calendar3 " (click)="d2.toggle()" type="button">
                            <i-feather name="calendar" class="feather-sm"></i-feather>
                        </button>
                    </div>
                    <label for="" class="input-label"> ETD <span class="text-danger">*</span></label>
            
                </div>
                <div *ngIf="c['ETD']?.touched && c['ETD']?.errors" class="error-message">
                    <span *ngIf="c['ETD']?.hasError('minDate')">
                        ETD must be after {{minStartDate | formatDate}}
                    </span>
                </div>
            </div>


            <div class="col-md-4">
                <div class=" custom-form-group custom-form-group-select-date">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #d1="ngbDatepicker" [minDate]="toNgbDateStruct(connectionForm.get('ETD')?.value)"
                            formControlName="ETA" (click)="d1.toggle()" />
                        <button class="btn  bi bi-calendar3 " (click)="d1.toggle()" type="button">
                            <i-feather name="calendar" class="feather-sm"></i-feather></button>
                    </div>
                    <label for="" class="input-label"> ETA <span class="text-danger"></span>
                    </label>
                </div>
            </div>
            

            <aside class="col-md-4" *ngIf="screenName !== 'Booking'">
                <div class="custom-form-group">
                    <input type="number" id="text-input" placeholder="" class="custom-input-field sm">
                    <label for="text-input" class="input-label">ATD <span class="text-danger"></span></label>
                </div>
            </aside>
            <aside class="col-md-4" *ngIf="screenName !== 'Booking'">
                <div class="custom-form-group">
                    <input type="number" id="text-input" placeholder="" class="custom-input-field sm">
                    <label for="text-input" class="input-label">ATA <span class="text-danger"></span></label>
                </div>
            </aside>
            <aside class="col-md-4">
                <div class="custom-form-group custom-form-group-select" [class.filled]="!!connectionForm.get('status')?.value">
                    @if(c['TransactionSid']?.value){
                    <ng-select name="status" class="ng-select" formControlName="status" id="text-input">
                        <ng-option value="Active">Active</ng-option>
                        <ng-option value="Suspended">Suspended</ng-option>
                    </ng-select>
                    } @else {
                    <input type="text" name="status" class="form-control custom-input-field sm" value="Active"
                        id="text-input" disabled>
                    }
                    <label for="text-input" [ngClass]="{
                        'input-label': true,
                        'bg-transparent': !c['status']?.value
                    }">Status <span class="text-danger"></span></label>

                </div>
            </aside>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss('Cancel')">Cancel</button>
        <button type="button" class=" btn btn-sm btn-info" (click)="onConnectionSubmit()">Save</button>
    </div>
</ng-template>