<div>
  <form [formGroup]="milestoneForm">
    <div class="row compact-form">
      <div class="col-12 px-0">
        <div class="row bg-white mb-1 align-items-center pt-1 rounded shadow-sm mx-0">
          <div class="col-md-4 d-flex pb-1">
            <div class="d-flex align-items-center gap-2">
              <div class="brand-icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <h5 class="page-title mb-0 text-info">{{isEditMode ? 'Edit' : 'Add'}} Milestone</h5>
              @if(isEditMode){
              <a class="text-info  d-flex align-items-center w-2 h-2 cursor-pointer" (click)="showInfo()">
                <i class="fas fs-6 fa-info-circle"></i>
              </a>
              }
            </div>
          </div>
          <div class="col-md-8 pb-1">
            <div
              class="d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
              <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" *ngIf="isEditMode"
                (click)="openAuditLogs()">
                <i class="fas fa-history me-1"></i>Logs
              </button>
                  <div class="action-group"  *ngIf="isEditMode">  
                <button class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="navigateToCreateMilestone()" [disabled]="!mps.can('insert')">    
                    <i class="fas fa-plus me-1"></i>
                    <span>Create </span>    
                    </button>
</div>
              <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                (click)="goBack()">
                <i class="fas fa-chevron-left me-1"></i>
                Back
              </button>
              <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                (click)="resetForm()">
                <i class="fas fa-sync-alt me-1"></i>
                Reset
              </button>
              <!-- <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="onSubmit()"
                [disabled]="(!mps.can('update') && isEditMode) || btnDisable || milestoneForm.invalid ">
                <i class="fas fa-save me-1"></i>
                Save
              </button> -->
              <div class="action-group primary">
  <button class="btn btn-sm dofi-min-w-80 dofi-max-w-80 position-relative"
          [ngClass]="{'btn-info': !hasUnsavedChanges(), 'btn-warning': hasUnsavedChanges()}"
          (click)="onSubmit()"  
          [disabled]="(!mps.can('update') && isEditMode) || btnDisable || milestoneForm.invalid" >
    <i class="fas fa-save me-1"></i>
    <span>{{ isSaving ? "Saving..." : "Save" }}</span> 
    <span *ngIf="hasUnsavedChanges()"
          class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle"
          title="You have unsaved changes">
      <span class="visually-hidden">unsaved changes</span>
    </span>
  </button>
</div>
              <div *ngIf="mps.hasAtLeastOne() && isEditMode" ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-light-secondary btn-sm has-arrow" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngIf="mps.has('edoc')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openEDoc()"><i class="fas fa-file-alt me-1"></i> Edoc</button>
            <!-- <button *ngIf="mps.has('terms_and_condition')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openTandC()"><i class="fas fa-clipboard me-1"></i> Terms & Condition</button> -->
            <button *ngIf="mps.has('authority')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openAuthority()"><i class="fas fa-shield-alt me-1"></i> Authorize</button>
            <button *ngIf="mps.has('email')" class="text-dark" ngbDropdownItem appPreventMultiClick
              (click)="openEmail()"><i class="fas fa-envelope me-1"></i> Email</button>
              <button type="button" appPreventMultiClick ngbDropdownItem class="text-dark" (click)="openFollowup()">
            <i class="fas fa-paperclip me-1"></i> Followup
          </button>
          <button *ngIf="mps.has('document_reference')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openDocRef()"><i
              class="fas fa-paperclip me-1"></i>Document reference</button>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 px-0">
        <ng-container *ngTemplateOutlet="milestoneform"></ng-container>
      </div>


    <ng-template #milestoneform>

<div class="row g-2">

  <!-- LEFT CARD -->
  <div class="col-md-6">
    <div class="card h-100 mb-0">
      <div class="card-body">

        <div class="row g-3">

          <!-- ROW 1 -->
          <aside class="col-md-6">
            <div class="custom-form-group">
              <input type="text"
                     id="MilestoneName"
                     formControlName="MilestoneName"
                     class="custom-input-field sm"
                     maxlength="30"/>
              <label class="input-label">
                Milestone Name <span class="text-danger">*</span>
              </label>
            </div>
          </aside>

          <aside class="col-md-6">
            <div class="custom-form-group custom-form-group-select"
              [class.filled]="!!milestoneForm.get('ShipmentType')?.value">

              <ng-select
                [items]="shipmentTypeOptions"
                bindLabel="label"
                bindValue="value"
                formControlName="ShipmentType">
              </ng-select>

              <label class="input-label">
                Shipment Type <span class="text-danger">*</span>
              </label>

            </div>
          </aside>


          <!-- ROW 2 -->
          <aside class="col-md-6">
            <div class="custom-form-group custom-form-group-select"
              [class.filled]="(milestoneForm.get('CompanyMasterSids')?.value?.length ?? 0) > 0">

              <multi-select
                [items]="companyList"
                bindLabel="companyName"
                bindValue="CompanyMasterSid"
                [displayCount]="1"
                [control]="milestoneForm.get('CompanyMasterSids')">
              </multi-select>

              <label class="input-label">
                Company <span class="text-danger">*</span>
              </label>

            </div>
          </aside>

          <aside class="col-md-6">
            <div class="custom-form-group custom-form-group-select"
              [class.filled]="!!milestoneForm.get('DepartmentMasterSid')?.value">

              <multi-select
                [items]="departmentList"
                bindLabel="departmentName"
                bindValue="departmentName"
                [displayCount]="1"
                [control]="milestoneForm.get('DepartmentMasterSid')">
              </multi-select>

              <label class="input-label">
                Departments <span class="text-danger">*</span>
              </label>

            </div>
          </aside>

          <!-- ROW 3 -->
          <aside class="col-md-6">
            <div class="custom-form-group">
              <input type="text"
                     id="SortBy"
                     formControlName="SortBy"
                     class="custom-input-field sm"/>
              <label class="input-label">
                Sort By <span class="text-danger">*</span>
              </label>
            </div>
          </aside>

        </div>

      </div>
    </div>
  </div>


  <!-- RIGHT CARD -->
  <div class="col-md-6">
    <div class="card h-100 mb-0">
      <div class="card-body">

        <div class="row g-3">

          <!-- ROW 1 (3 fields) -->
          <aside class="col-md-4">
            <div class="custom-form-group">
              <input type="text"
                     id="MilestoneCode"
                     formControlName="MilestoneCode"
                     class="custom-input-field sm"
                     maxlength="30"/>
              <label class="input-label">
                Milestone Code <span class="text-danger">*</span>
              </label>
            </div>
          </aside>

          <aside class="col-md-4 d-flex align-items-center">
            <div class="form-check">
              <input type="checkbox"
                     id="AutoCapture"
                     class="form-check-input sm"
                     [checked]="milestoneForm.get('AutoCapture')?.value === 'Y'"
                     (change)="milestoneForm.get('AutoCapture')?.setValue(milestoneForm.get('AutoCapture')?.value === 'Y' ? 'N' : 'Y')">

              <label class="form-check-label">
                Auto Capture
              </label>
            </div>
          </aside>

          <aside class="col-md-4 d-flex align-items-center">
            <div class="form-check">
              <input type="checkbox"
                     id="AutomailRequire"
                     class="form-check-input sm"
                     [checked]="milestoneForm.get('AutomailRequire')?.value === 'Y'"
                     (change)="milestoneForm.get('AutomailRequire')?.setValue(milestoneForm.get('AutomailRequire')?.value === 'Y' ? 'N' : 'Y')">

              <label class="form-check-label">
                Auto Mail
              </label>
            </div>
          </aside>


          <!-- ROW 2 (2 fields) -->
          <aside class="col-md-6">
            <div class="custom-form-group">
              <textarea
                id="Remarks"
                rows="1"
                class="custom-input-field sm"
                formControlName="Remarks"
                maxlength="500"></textarea>

              <label class="input-label">
                Remarks
              </label>
            </div>
          </aside>

          <aside class="col-md-6">
            <div class="custom-form-group custom-form-group-select"
              [class.filled]="!!milestoneForm.get('status')?.value">

              <ng-select
                [items]="statusOptions"
                bindLabel="name"
                bindValue="id"
                formControlName="status">
              </ng-select>

              <label class="input-label">
                Status <span class="text-danger">*</span>
              </label>

            </div>
          </aside>

        </div>

      </div>
    </div>
  </div>

</div>

</ng-template>
      
    </div>
  </form>
  <!-- @if(isEditMode){
  <div class="col-12 mt-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 d-flex flex-wrap justify-content-center gap-2">
            @if(hasPermission('Edoc')) {
            <button type="button" appPreventMultiClick class="btn btn-outline-info" (click)="openEDoc()">
              <i class="fas fa-file-alt me-1"></i> e-Doc
            </button>
            }
            @if(hasPermission('Terms and Condition')) {
            <button type="button" appPreventMultiClick class="btn btn-outline-info" (click)="openTandC()">
              <i class="fas fa-clipboard me-1"></i> Terms & Condition
            </button>
            }
            @if(hasPermission('Authority')) {
            <button type="button" appPreventMultiClick class="btn btn-outline-info" (click)="openAuthority()">
              <i class="fas fa-shield-alt me-1"></i> Authorize
            </button>
            }

            @if(hasPermission('Email')) {
            <button type="button" appPreventMultiClick class="btn btn-outline-info me-auto" (click)="openEmail()">
              <i class="fas fa-envelope me-1"></i> Email
            </button>
            }

          </div>
        </div>
      </div>
    </div>
  </div>
  } -->
