<div class="row compact-form">
    <div class="col-12 px-0">
        <div class="row bg-white mb-1 align-items-center pt-1 rounded shadow-sm mx-0">
            <div class="col-md-4 d-flex pb-1">
                <div class="d-flex align-items-center gap-2">
                    <div class="brand-icon">
                        <i class="fas fa-users-cog"></i>
                    </div>
                    <h5 class="page-title mb-0 text-info">{{ isEditMode ? 'Edit' : 'Add' }} Role Menu</h5>

                    @if(isEditMode){
                    <a class="text-white ps-2 w-2 h-2 cursor-pointer" (click)="showInfo()">
                        <i class="fas fs-6 fa-info-circle"></i>
                    </a>
                    }

                </div>
            </div>
            <div class="col-md-8 pb-1">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">

                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="navigateBack()">
                        <i class="fas fa-chevron-left me-1"></i>
                        Back
                    </button>
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="resetForm()">
                        <i class="fas fa-sync-alt me-1"></i>
                        Reset
                    </button>
                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" appPreventMultiClick
                        (click)="onSubmit()" [disabled]="roleMenuForm.invalid">
                        <i class="fas fa-save me-1"></i>
                        Save
                    </button>
                    <!-- <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn btn-light-secondary btn-sm has-arrow" id="dropdownBasic1" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openEDoc()"><i class="fas fa-file-alt me-1"></i> Edoc</button>
                            <button class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openTandC()"><i class="fas fa-clipboard me-1"></i> Terms & Condition</button>
                            <button class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openAuthority()"><i class="fas fa-shield-alt me-1"></i> Authorize</button>
                            <button class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openEmail()"><i class="fas fa-envelope me-1"></i> Email</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="roleMenuForm" class="px-0">
        <div class="col-md-12 ">

            <div class="card mb-1">
                <div class="card-body">
                    <div class="row ps-md-5">
                                  <aside class="col-md-1 d-md-block d-none"></aside>
                        <aside class="col-md-3">
                            <div class="custom-form-group custom-form-group-select"
                                [class.filled]="!!roleMenuForm.get('RoleMasterSid')?.value">
                                <ng-select class="ng-select" [items]="roleList" bindLabel="UserRoleName"
                                    bindValue="RoleMasterSid" placeholder="" formControlName="RoleMasterSid">
                                </ng-select>
                                <label for="text-input" class="input-label">Role Name <span
                                        class="text-danger">*</span></label>
                                @if(roleMenuForm['RoleMasterSid']?.touched && roleMenuForm['RoleMasterSid']?.invalid ){
                                <div class="error-message">
                                    @if(roleMenuForm['RoleMasterSid']?.hasError('required')){
                                    <span>Required</span>
                                    }
                                </div>
                                }
                            </div>
                        </aside>
                        <aside class="col-md-3">
                            <div class="custom-form-group custom-form-group-select"
                                [class.filled]="!!roleMenuForm.get('Module')?.value">
                                <multi-select class="ng-select" [items]="moduleList" bindLabel="ModuleName"
                                    bindValue="ModuleName" (change)="filterMenuByModule($event)" placeholder=""
                                    formControlName="Module">
                                </multi-select>
                                <label for="text-input" class="input-label">Module <span
                                        class="text-danger">*</span></label>
                                @if(roleMenuForm['Module']?.touched && roleMenuForm['Module']?.invalid ){
                                <div class="error-message">
                                    @if(roleMenuForm['Module']?.hasError('required')){
                                    <span>Required</span>
                                    } @else if(roleMenuForm['Module'].hasError('maxlength')){
                                    <span>Max 50 Chars</span>
                                    }
                                </div>
                                }
                            </div>
                        </aside>
                       
             
                      
                        <aside class="col-md-3">
                            <div class="custom-form-group custom-form-group-select"
                                [class.filled]="!!roleMenuForm.get('status')?.value">
                                @if(isEditMode){
                                <ng-select [items]="modeOfStatus" bindLabel="name" bindValue="name" placeholder=""
                                    class="ng-select" formControlName="status">
                                </ng-select>
                                } @else {
                                <input type="text" name="status" class="custom-input-field sm" id="text-input"
                                    formControlName="status" readonly>
                                }
                                <label for="text-input" class="input-label">Status<span
                                        class="text-danger"></span></label>
                            </div>
                        </aside>
                        <aside class="col-md-2 d-md-block d-none"></aside>
                    </div>
                </div>
            </div>

            <div class="col-12 container " style="padding: 0 160px;">
                <div class="table-responsive table-borderless ">
                    <table class="table table-hover align-middle no-wrap  table-sm">
                        <thead class="bg-info">
                            <tr>
                                <th  class="bg-transparent text-light" >Menu Name</th>
                                <th class="bg-transparent text-light" >DisplayName</th>
                                 <th class="bg-transparent text-light" width="35%"></th>
                                <th class="bg-transparent text-light" >Add</th>
                                <th class="bg-transparent text-light" >Modify</th>
                                <th class="bg-transparent text-light" >View</th>
                                <th class="bg-transparent text-light" >Delete</th>
                            </tr>
                        </thead>
                        <tbody >

                            <tr>
                                <td style="width: 150px;"> 
                                    Charge
                                </td>
                                <td class="pb-1" style="width: 150px;">
                                     <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                            formControlName="" >
                                </td>
                               <td></td>
                                <td style="width: 50px;">
                                      <input type="checkbox" class="form-check-input ms-1 cursor-pointer">
                                </td>

                                <td style="width: 50px;">
                                      <input type="checkbox" class="form-check-input ms-1 cursor-pointer">
                                </td>
                                <td style="width: 50px;">
                                      <input type="checkbox" class="form-check-input ms-1 cursor-pointer">
                                </td>
                                <td style="width: 50px;">
                                      <input type="checkbox" class="form-check-input ms-2 cursor-pointer">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <section class="card-body pb-0" *ngIf="roleMenuForm.get('MenuMasterSid')?.value">
                <section>
                    <h6 class="card-title">Role Access Permissions</h6>
                    <section class="row">
                        <div class="text-center">
                            <!-- <div class="d-flex justify-content-center align-items-center" style="min-height: 100px;">
                                            <div class="spinner-border spinner-border-sm text-info me-2" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <span class="loading-text">Loading Permissions</span>
                                        </div> -->
                        </div>
                    </section>
                    <section class="row">
                        @for(permission of menuPermissionList; track i; let i = $index) {
                        <form class="col-md-4 d-flex align-items-center my-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input focus-ring focus-ring-primary"
                                    [id]="'permission-' + i"
                                    [checked]="selectedPermission.includes(permission.permissionName)"
                                    (change)="handlePermission(permission.permissionName, $event)"
                                    (keydown)="onCheckboxKeydown($event, permission.permissionName)" tabindex="0">
                                <label [for]="'permission-' + i" class="form-check-label">
                                    {{permission.permissionName}}
                                </label>
                            </div>
                        </form>
                        }
                    </section>
                </section>
            </section>

        </div>
    </form>

</div>