<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-ripple"
  [fullScreen]="true">
  <p style="color: white;" class="m-0">Loading...</p>
</ngx-spinner>

<div class="row compact-form">
  <app-page-header
    [title]="'Exception Check'"
    [showFavorite]="true"
    [showSearch]="true"
    [searchPlaceholder]="'Search by script name'"
    [searchButtonText]="'Search'"
    [(searchValue)]="filterValue"
    [actions]="headerActions"
    (searchTriggered)="onSearchTriggered($event)"
    (searchCleared)="onSearchCleared()"
    (actionTriggered)="onActionTriggered($event)">
  </app-page-header>

  <div class="col-12">
    <app-reusable-table
      #scriptTable
      [config]="tableConfig"
      [data]="allItems"
      [loading]="tableLoading"
      [totalRecords]="totalLengthOfCollection"
      [paginationConfig]="paginationConfig"
      (actionClick)="onTableActionClick($event)"
      (sortChange)="onTableSortChange($event)"
      (filterChange)="onTableFilterChange($event)"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)">
    </app-reusable-table>
  </div>
</div>
