<div class="row py-3" [formGroup]="branchForm">
    <div class="col-12">

        <!-- <div class="row py-3"> -->
        <!-- <div class="col-12">
        <div class="d-flex align-items-center gap-2 mb-3">
            <button class="btn btn-sm btn-light-secondary ms-auto" (click)="navigateBack()"><i-feather
                    name="corner-up-left" class="feather-sm me-1"></i-feather> Back</button>
            <button class="btn btn-sm btn-info" (click)="onSave()" [disabled]="branchForm.invalid"><i-feather
                    name="upload-cloud" class="feather-sm me-1"></i-feather>
                {{isEditMode ? 'Update' : 'Save'}}</button>
        </div>
    </div> -->
        <!-- <div class="col-12"> -->
        <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
            <div class="col-md-4 pb-2">
                <h4 class="page-title mb-0"> Branch</h4>
            </div>
            <div class="col-md-8 pb-2">
                <div
                    class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80" (click)="navigateBack()">
                        <i class="fas fa-chevron-left me-1"></i>
                        Back
                    </button>
                    <!-- <button class="btn btn-sm btn-light-secondary dofi-min-w-80 dofi-max-w-80">
                        <i-feather name="edit-3" class="feather-sm me-1"></i-feather> Edit
                    </button> -->
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80" (click)="resetForm()">
                        <i class="fas fa-sync-alt me-1"></i>
                        Reset
                    </button>
                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="onSave()">
                        <i class="fas fa-save me-1"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-8">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="branchName" [onlyText]="100">
                            <label for="text-input" class="input-label">Branch Name <span
                                    class="text-danger">*</span></label>
                            @if(branchForm.get('branchName')?.touched && branchForm.get('branchName')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('branchName')?.hasError('required')){
                                <span>Branch Name is required</span>
                                } @else if(branchForm.get('branchName')?.hasError('numberNotAllowed')){
                                <span>Only Alphabets are allowed</span>
                                }
                                @else if(branchForm.get('branchName')?.hasError('maxlength')){
                                <span>Max 100 characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="branchCode" [textWithNumbers]="10">
                            <label for="text-input" class="input-label">Branch Code <span
                                    class="text-danger">*</span></label>
                            @if(branchForm.get('branchCode')?.touched && branchForm.get('branchCode')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('branchCode')?.hasError('required')){
                                <span>Branch Code is required</span>
                                } @else if(branchForm.get('branchCode')?.hasError('maxlength')){
                                <span>Max 10 characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <select id="text-input" class="form-select" formControlName="CompanyMasterSid">
                                <option value="">Company</option>
                                @for(company of companyList;track $index){
                                <option [value]="company.CompanyMasterSid">{{company.companyName}}</option>
                                }
                            </select>
                            <label for="text-input" class="input-label">Company <span
                                    class="text-danger">*</span></label>
                            @if(branchForm.get('CompanyMasterSid')?.touched &&
                            branchForm.get('CompanyMasterSid')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('CompanyMasterSid')?.hasError('required')){
                                <span>Company is required</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="taxRegistrationNo" [textWithNumbers]="50">
                            <label for="text-input" class="input-label">Tax Registration No</label>
                            @if(branchForm.get('taxRegistrationNo')?.touched &&
                            branchForm.get('taxRegistrationNo')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('taxRegistrationNo')?.hasError('maxlength')){
                                <span>Max 50 characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="CISN" [textWithNumbers]="50">
                            <label for="text-input" class="input-label">CISN</label>
                            @if(branchForm.get('CISN')?.touched &&
                            branchForm.get('CISN')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('CISN')?.hasError('maxlength')){
                                <span>Max 50 characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="addressLine1" [textWithNumbers]="500">
                            <label for="text-input" class="input-label">Address 1 <span
                                    class="text-danger">*</span></label>
                            @if(branchForm.get('addressLine1')?.touched &&
                            branchForm.get('addressLine1')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('addressLine1')?.hasError('required')){
                                <span>Address Line 1 is required</span>
                                } @else if(branchForm.get('addressLine1')?.hasError('maxlength')){
                                <span>Max 500 characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="addressLine2" [textWithNumbers]="500">
                            <label for="text-input" class="input-label">Address 2 </label>
                            @if(branchForm.get('addressLine2')?.touched &&
                            branchForm.get('addressLine2')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('addressLine2')?.hasError('maxlength')){
                                <span>Max 500 characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-md-0 mt-3">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <select id="text-input" class="form-select" formControlName="CityMasterSid">
                                <option value="">City</option>
                                <option *ngFor="let city of cityList" [value]="city.CityMasterSid">
                                    {{ city.cityName }}
                                </option>
                            </select>
                            <label for="text-input" class="input-label">City <span class="text-danger">*</span></label>
                            @if(branchForm.get('CityMasterSid')?.touched &&
                            branchForm.get('CityMasterSid')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('CityMasterSid')?.hasError('required')){
                                <span>City is required</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <select id="text-input" class="form-select" formControlName="StateMasterSid">
                                <option value="">State</option>
                                <option *ngFor="let state of stateList" [value]="state.StateMasterSid">
                                    {{ state.stateName }}
                                </option>
                            </select>
                            <label for="text-input" class="input-label">State <span class="text-danger">*</span></label>
                            @if(branchForm.get('StateMasterSid')?.touched &&
                            branchForm.get('StateMasterSid')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('StateMasterSid')?.hasError('required')){
                                <span>State is required</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <select id="text-input" class="form-select" formControlName="CountryMasterSid">
                                <option value="">Country</option>
                                <option *ngFor="let country of countryList" [value]="country.CountryMasterSid">
                                    {{ country.countryName }}
                                </option>
                            </select>
                            <label for="text-input" class="input-label">Country <span
                                    class="text-danger">*</span></label>
                            @if(branchForm.get('CountryMasterSid')?.touched &&
                            branchForm.get('CountryMasterSid')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('CountryMasterSid')?.hasError('required')){
                                <span>Country is required</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="postalCode" [onlyNumbers]="10">
                            <label for="text-input" class="input-label">Postal Code <span
                                    class="text-danger">*</span></label>
                            @if(branchForm.get('postalCode')?.touched &&
                            branchForm.get('postalCode')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('postalCode')?.hasError('required')){
                                <span>Postal Code is required</span>
                                } @else if(branchForm.get('postalCode')?.hasError('onlyNumbers')){
                                <span>Only digits are allowed</span>
                                }
                                @else if(branchForm.get('postalCode')?.hasError('maxlength')){
                                <span>Max 10 digits</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="webSite" [textWithNumbers]="100">
                            <label for="text-input" class="input-label">Website</label>
                            @if(branchForm.get('webSite')?.touched &&
                            branchForm.get('webSite')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('webSite')?.hasError('maxlength')){
                                <span>Max 100 Characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="phoneNumber" [onlyNumbers]="20">
                            <label for="text-input" class="input-label">Phone Number</label>
                            @if(branchForm.get('phoneNumber')?.touched &&
                            branchForm.get('phoneNumber')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('phoneNumber')?.hasError('onlyNumbers')){
                                <span>Only digits are allowed</span>
                                }
                                @else if(branchForm.get('phoneNumber')?.hasError('maxlength')){
                                <span>Max 20 digits</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="email">
                            <label for="text-input" class="input-label">Email </label>
                            @if(branchForm.get('email')?.touched &&
                            branchForm.get('email')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('email')?.errors?.['email']){
                                <span>Invalid Email Format</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mt-md-0 mt-3">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <select id="text-input" class="form-select" formControlName="CurrencyMasterSid">
                                <option value="">Currency</option>
                                @for(currency of currencyList;track $index){
                                <option [value]="currency.CurrencyMasterSid">{{currency.currencyName}}</option>
                                }
                            </select>
                            <label for="text-input" class="input-label">Currency <span
                                    class="text-danger">*</span></label>
                            @if(branchForm.get('CurrencyMasterSid')?.touched &&
                            branchForm.get('CurrencyMasterSid')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('CurrencyMasterSid')?.hasError('required')){
                                <span>Currency is required</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-6">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="timeZone" [textWithNumbers]="6">
                            <label for="text-input" class="input-label">Time Zone </label>
                            @if(branchForm.get('timeZone')?.touched &&
                            branchForm.get('timeZone')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('timeZone')?.hasError('maxlength')){
                                <span>Max 6 Characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="remarks" [textWithNumbers]="500">
                            <label for="text-input" class="input-label">Remarks </label>
                            @if(branchForm.get('remarks')?.touched &&
                            branchForm.get('remarks')?.invalid){
                            <div class="error-message">
                                @if(branchForm.get('remarks')?.hasError('maxlength')){
                                <span>Max 500 Characters</span>
                                }
                            </div>
                            }
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="file" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="companyLogo">
                            <label for="text-input" class="input-label">Company Logo</label>

                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="file" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="reportLogo">
                            <label for="text-input" class="input-label">Report Logo </label>

                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">

                            @if(isEditMode){
                            <select name="status" class="form-select" formControlName="status" id="text-input">
                                <option value="Active">Active</option>
                                <option value="Suspended">Suspended</option>
                               
                            </select>
                            } @else {
                            <input type="text" name="status" class="custom-input-field sm" formControlName="status"
                                id="text-input" readonly>
                            }
                            <label for="text-input" class="input-label">Status <span
                                    class="text-danger">*</span></label>

                        </div>
                    </aside>

                </div>
            </div>
        </div>
    </div>

</div>