<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title mb-0">Basic Information</h4>
                    
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="" class="control-label col-form-label">UOM Name</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="" class="control-label col-form-label">UOM Code</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="" class="control-label col-form-label">Shipment Type</label>
                            <!-- <input type="text" class="form-control" name="" id=""> -->
                            <ng-select [multiple]="true" [(ngModel)]="selectedShipmentType">
                                @for (shipmenttype of shipmenttypes; track shipmenttype.id) {
                                    <ng-option [value]="shipmenttype.id">{{shipmenttype.name}}</ng-option>
                                }
                              </ng-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="" class="control-label col-form-label">Diemension</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="" class="control-label col-form-label">Vol</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label for="" class="control-label col-form-label">Weight</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label for="" class="control-label col-form-label">Remarks</label>
                            <textarea class="form-control" name="" id=""></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>