.table-scroll-wrapper {
  width: 100%;
  overflow-x: auto !important;
  overflow-y: hidden;
}

::ng-deep app-reusable-table .table-responsive {
  overflow-x: auto !important;
}

::ng-deep app-reusable-table table {
  min-width: 1400px !important;  
  white-space: nowrap;
}
