<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-scale-ripple" [fullScreen]="true">
    <p style="color: white;" class="m-0">Loading...</p>
</ngx-spinner>

<div class="row compact-form">
    <app-page-header 
    [title]="'Organization'" [showFavorite]="true" [showSearch]="true" 
    [searchPlaceholder]="'Search'" [searchButtonText]="'Search'" [(searchValue)]="filterValue" 
    [actions]="headerActions" (searchTriggered)="onSearchTriggered($event)" 
    (searchCleared)="onSearchCleared()" (actionTriggered)="onActionTriggered($event)"
    >
    </app-page-header>
    <div class="col-12">
        <app-reusable-table #organizationTable [config]="tableConfig" [data]="allOrganization" [loading]="tableLoading"
            [totalRecords]="totalLengthOfCollection" [paginationConfig]="paginationConfig"
            (actionClick)="onTableActionClick($event)" (rowClick)="onTableRowClick($event)"
            (sortChange)="onTableSortChange($event)" (filterChange)="onTableFilterChange($event)"
            (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
        </app-reusable-table>
    </div>

    <!-- <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="totalLengthOfCollection > 0">
        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle no-wrap table-bordered table-sm mb-1">
                    <thead>
                        <tr class="bg-info">
                            <th class="bg-transparent text-light" scope="col" width="10%">Action</th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('CustomerName')">
                                Customer Name
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'CustomerName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'CustomerName'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('CustomerShortCode')">
                                Type
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'CustomerShortCode', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'CustomerShortCode'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('CustomerAliasName')">
                                Short Name
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'CustomerAliasName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'CustomerAliasName'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('Website')">
                                PAN/Vat
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'Website', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'Website'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col" (click)="sort('LocalLanguage')">
                                Country
                                <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'LocalLanguage', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'LocalLanguage'}"></i>
                            </th>
                            <th class="bg-transparent text-light" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of organizationList; let i = index; trackBy: trackByIndex">
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="d-flex align-items-center justify-content-center">
                                    @if(hasPermission('View')) {
                                    <a class="text-info mx-2" class="link mx-2"
                                        [routerLink]="['/master/organization/entry/', item.CustomerMasterSid]">
                                        <i-feather class="feather-sm text-info" name="eye"></i-feather>
                                    </a>
                                    }
                                    @if(hasPermission('Delete')) {
                                    <a class="text-danger mx-2 ps-3 border-start cursor-pointer"
                                        (click)="deleteOrganization(item.CustomerMasterSid)">
                                        <i-feather name="trash-2" class="feather-sm"></i-feather>
                                    </a>
                                    }
                                </div>
                            </td>

                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.CustomerName}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.CustomerShortCode}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.CustomerAliasName}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{item.PanType}}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                <div class="text-truncate">{{ getCountryName(item.CountryMasterSid) }}</div>
                            </td>
                            <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                @if(item.status === "A"){
                                <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                    Active
                                </div>
                                } @else {
                                <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                    Suspended
                                </div>
                                }
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div>
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                    [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()" [maxSize]="10"
                    [rotate]="true" [ellipses]="false">
                </ngb-pagination>
            </div>
        </div>
    </div> -->


    <!-- No records found -->
    <!-- <div class="col-12" *ngIf="totalLengthOfCollection === 0 && searchPerformed">
        <div>No records found</div>
    </div> -->
</div>