<div class="row compact-form">
  <div class="col-12 px-0">
    <div class="row bg-white mb-1 align-items-center pt-1 rounded shadow-sm mx-0">
      <div class="col-md-4 d-flex pb-1">
        <h5 class="page-title mb-0 text-info">Reverse Voucher</h5>
        @if(isEditMode){
        <a class="text-info ps-2 d-flex align-items-center w-2 h-2 cursor-pointer" (click)="showInfo()">
          <i class="fas fs-6 fa-info-circle"></i>
        </a>
        }
      </div>

      <div class="col-md-8 pb-1">
        <div
          class="d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
          
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80" (click)="onCancel()">
            <i class="fas fa-chevron-left me-1"></i> Back
          </button>

          <button *ngIf="!isViewMode" type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
            (click)="onReset()">
            <i class="fas fa-sync-alt me-1"></i> Reset
          </button>

          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80"
            [disabled]="(!mps.can('update') && isEditMode) || isPosted" (click)="onSubmit()">
            <i class="fas fa-save me-1"></i> Save
          </button>

          <button type="button" class="btn btn-success btn-sm dofi-min-w-80 dofi-max-w-80" [disabled]="isPosted"
            (click)="onFinalSave()" [disabled]="isPosted">
            <i class="fas fa-check-circle me-1"></i> Post
          </button>
          <div *ngIf="mps.hasAtLeastOne() && isEditMode" ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-light-secondary btn-sm has-arrow" id="dropdownBasic1"
              ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngIf="mps.has('edoc')" class="text-dark" ngbDropdownItem appPreventMultiClick
                (click)="openEDoc()"><i class="fas fa-file-alt me-1"></i> Edoc</button>
              <button *ngIf="mps.has('terms_and_condition')" class="text-dark" ngbDropdownItem appPreventMultiClick
                (click)="openTandC()"><i class="fas fa-clipboard me-1"></i> Terms & Condition</button>
              <button *ngIf="mps.has('authority')" class="text-dark" ngbDropdownItem appPreventMultiClick
                (click)="openAuthority()"><i class="fas fa-shield-alt me-1"></i> Authorize</button>
              <button *ngIf="mps.has('email')" class="text-dark" ngbDropdownItem appPreventMultiClick
                (click)="openEmail()"><i class="fas fa-envelope me-1"></i> Email</button>
              <button *ngIf="mps.has('follow_up')" class="text-dark" ngbDropdownItem appPreventMultiClick
                (click)="openFollowup()"><i class="fas fa-paperclip me-1"></i> Followup</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Form -->
  <div class="col-md-12 px-0">
    <div class="card mb-1">
      <div class="card-body">
        <form [formGroup]="reverseVoucherForm">
          <div class="row">

            <aside class="col-md-3">
              <div class="custom-form-group">
                <input type="text" id="VoucherNumber" formControlName="VoucherNumber" placeholder=""
                  class="custom-input-field sm" readonly />
                <label for="VoucherNumber" class="input-label">
                  Reverse Voucher No. <span class="text-danger">*</span>
                </label>
              </div>
            </aside>

            <aside class="col-md-3" *ngIf="!isEditMode">
              <div class="d-flex gap-1 align-items-end">
                <!-- Invoice Dropdown -->
                <div class="custom-form-group custom-form-group-select flex-grow-1"
                  [class.filled]="!!reverseVoucherForm.get('ReversalVoucher')?.value">

                  <dofi-searchable-dropdown [items]="voucherList" formControlName="ReversalVoucher" [placeholder]="''"
                    [displayFields]="invoiceLookupConfig.displayFields"
                    [displayLabels]="invoiceLookupConfig.displayLabels" [labelFields]="invoiceLookupConfig.labelFields"
                    [bindValue]="'VoucherHeaderSid'">
                  </dofi-searchable-dropdown>
                  <label class="input-label">Voucher No.</label>
                </div>

                <!-- Get Button with proper styling and disable state -->
                <button type="button" class="btn btn-info btn-sm mb-1" style="min-width: 25px; height: 25px;"
                  (click)="getVoucherData()" [disabled]="!reverseVoucherForm.get('ReversalVoucher')?.value">Get
                </button>
              </div>
            </aside>

            <!-- Invoice Date -->
            <aside class="col-md-3">
              <div class="d-flex">
                <div class="custom-form-group custom-form-group-select-date w-100">
                  <input class="form-control mb-0" placeholder="dd-mm-yyyy" name="voucherDate" ngbDatepicker
                    id="VoucherDate" #d1="ngbDatepicker" (click)="d1.toggle()" readonly formControlName="VoucherDate"
                   [minDate]="fyMinDate" [maxDate]="fyMaxDate" [class.is-invalid]="isFieldInvalid('VoucherDate')" (dateSelect)="onVoucherDateChange()" />
                  <label class="input-label" for="VoucherDate">
                    Voucher Date <span class="text-danger">*</span>
                  </label>
                  <small *ngIf="voucherConstraints.isClosed" class="text-danger d-block">{{ voucherConstraints.errorMessage }}</small>
                </div>
                <button class="btn bi bi-calendar3 mt-2" (click)="d1.toggle()" type="button">
                  <i-feather name="calendar" class="feather-sm"></i-feather>
                </button>
              </div>
            </aside>

            <!-- <ng-template #footerTemplate1>
              <hr class="my-0" />
              <button class="btn btn-info btn-sm m-2 float-start" (click)="setToday('VoucherDate', d1)">
                Today
              </button>
              <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d1.close()">
                Close
              </button>
            </ng-template> -->

            <aside class="col-md-3">
              <div class="custom-form-group">
                <input type="text" id="Narration" formControlName="Narration" placeholder=""
                  class="custom-input-field sm" />
                <label for="Narration" class="input-label">Narration</label>
              </div>
            </aside>

            <!-- Posted On (readonly) -->
            <aside class="col-md-3">
              <div class="custom-form-group">
                <input type="text" id="PostedOn" formControlName="PostedOn" 
                placeholder=""ngbDatepicker #d4="ngbDatepicker"
                 (click)="d4.toggle()"  class="custom-input-field sm" 
                  [class.is-invalid]="isFieldInvalid('PostedOn')" 
                  readonly />
                <label for="PostedOn" class="input-label">Posted On</label>
              </div>
            </aside>

            <aside class="col-md-3">
              <div class="custom-form-group">
                <input type="text" [value]="getPostStatusDisplay()" class="custom-input-field sm" placeholder=""
                  readonly />
                <label class="input-label">Posted Status</label>
              </div>
            </aside>

            <!-- Remarks -->
            <aside class="col-md-3">
              <div class="custom-form-group">
                <textarea id="Remarks" placeholder="" rows="1" class="custom-input-field sm"
                  formControlName="Remarks"></textarea>
                <label for="Remarks" class="input-label">Remarks</label>
              </div>
            </aside>

            <!-- Status -->
            <aside class="col-md-3">
              <div class="custom-form-group custom-form-group-select"
                [class.filled]="!!reverseVoucherForm.get('Status')?.value">
                <ng-select [items]="statusList" bindLabel="name" bindValue="value" formControlName="Status"
                  appendTo="body" class="ng-select">
                </ng-select>
                <label class="input-label">Status</label>
              </div>
            </aside>

          </div>

          <div class="d-flex justify-content-end mb-1 gap-2">
                  <div class="d-flex align-items-center gap-3 text-end flex-shrink-0">
        @if(validatePartyMatchingAmount()){
        <span class="text-warning fw-semibold">
          !! Matching Amount exceeds party amount
        </span>
        }

        <span>
          Total Credits :
          <span class="fw-bold text-success">
            {{ totalCredits | number : "1.2-2" }}
          </span>
        </span>

        <span>
          Total Debits :
          <span class="fw-bold text-danger">
            {{ totalDebits | number : "1.2-2" }}
          </span>
        </span>
      </div>
            
          </div>

          <!-- Detail Grid -->
          <!-- Details Grid -->
          <div class="row bg-white rounded shadow-sm mx-auto">
            <div class="col-12 px-0">
              <div class="table-responsive table-borderless">
                <table class="table table-hover table-sm mb-0 text-center">
                  <thead class="table-header-booking">
                    <tr class="align-middle bg-info">
                      
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 50px;">Sno.</th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 120px;">Ledger
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 200px;">Subledger
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 80px;">Dr/Cr</th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 80px;">Curr</th>
                      <!-- <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">Rate</th> -->
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">Ex Rate
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">Amount
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">Taxable
                        Amount</th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 120px;">Local
                        Amount</th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 120px;">Party
                        Amount</th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">Charge
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">HSSAC Code
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">No. of Unit
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 180px;">Job No.
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 180px;">House No.
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 180px;">Department
                      </th>
                      <th rowspan="2" class="text-center bg-transparent text-light" style="min-width: 100px;">Cost
                        Center</th>
                      <th rowspan="2" class="text-center bg-transparent text-light"
                        style="min-width: 100px;border-top-right-radius: 10px;">Profit Center</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="voucherDetails">
                    <ng-container *ngFor="let row of details.controls; let i = index">
                      <tr [formGroupName]="i">
                        <!-- Delete Button -->
                        
                        <td>{{ i + 1 }}</td>
                        <td>
                          <ng-select formControlName="COAMasterSid" [items]="coaList" bindLabel="LedgerName"
                            bindValue="COAMasterSid" appendTo="body" placeholder=" ">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select formControlName="LedgerMasterSid" [items]="subledgerList" bindLabel="SubledgerName"
                            bindValue="SubledgerMasterSid" appendTo="body" placeholder=" ">
                          </ng-select>
                        </td>
                        <td style="color:black;font-weight: 600;">
                          <span>{{ row.get('DrCr')?.value || '-' }}</span>
                        </td>
                        <td>
                          <dofi-searchable-dropdown [items]="currencyList" formControlName="CurrencyCode"
                            [placeholder]="''" [displayFields]="CurrencyLookupConfig.displayFields"
                            [displayLabels]="CurrencyLookupConfig.displayLabels"
                            [labelFields]="CurrencyLookupConfig.labelFields" [bindValue]="'currencyCode'">
                          </dofi-searchable-dropdown>
                        </td>
                        <!-- <td>
                          <input type="number" step="0.01" class="custom-input-field sm" formControlName="Rate"
                            readonly>
                        </td> -->
                        <td>
                          <input type="number" step="0.0001" class="custom-input-field sm"
                            formControlName="ExchangeRate">
                        </td>
                        <td style="color:black;font-weight: 600;">
                          <span>{{ row.get('Amount')?.value | numberFormat }}</span>
                        </td>
                        <td style="color:black;font-weight: 600;">
                          <span>{{ row.get('TaxableAmount')?.value | numberFormat }}</span>
                        </td>
                        <td style="color:black;font-weight: 600;">
                          <span>{{ row.get('LocalAmount')?.value | numberFormat }}</span>
                        </td>
                        <td style="color:black;font-weight: 600;">
                          <span>{{ row.get('PartyAmount')?.value | numberFormat }}</span>
                        </td>
                        <td>
                          <dofi-searchable-dropdown [items]="chargeList" formControlName="ChargeMasterSid"
                            [placeholder]="''" [displayFields]="chargeLookupConfig.displayFields"
                            [displayLabels]="chargeLookupConfig.displayLabels"
                            [labelFields]="chargeLookupConfig.labelFields" [bindValue]="'ChargeMasterSid'">
                          </dofi-searchable-dropdown>
                        </td>
                        <td>
                          <ng-select [items]="hssacList" bindLabel="HSSACCode" bindValue="HSSACMasterSid" placeholder=""
                            formControlName="HSSACMasterSid" appendTo="body">
                          </ng-select>
                        </td>
                        <td style="color:black;font-weight: 600;">
                          <span>{{ row.get('NumberOfUnit')?.value | numberFormat }}</span>
                        </td>
                        <!-- MasterJobSid column -->
                        <td style="min-width:200px;">
                          <dofi-searchable-dropdown [items]="masterJobList" formControlName="MasterJobSid"
                            [placeholder]="''" [displayFields]="masterJobLookupConfig.displayFields"
                            [displayLabels]="masterJobLookupConfig.displayLabels"
                            [labelFields]="masterJobLookupConfig.labelFields" [bindValue]="'MasterJobSid'"
                            appendTo="body">
                          </dofi-searchable-dropdown>
                        </td>

                        <!-- HouseJobSid -->
                        <td style="min-width:200px;">
                          <ng-select [items]="houseJobListByMasterJob[row.get('MasterJobSid')?.value] || []"
                            bindLabel="displayLabel" bindValue="HouseJobSid" formControlName="HouseJobSid"
                            placeholder="" [clearable]="true" [searchable]="true" appendTo="body">
                            <ng-template ng-option-tmp let-item="item">
                              <div>
                                <strong>{{ item.HouseJobNumber }}</strong>
                              </div>
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item">
                              {{ item.HouseJobNumber }}
                            </ng-template>
                          </ng-select>
                        </td>
                        <!-- Department Column -->
                        <td style="min-width:200px;">
                          <dofi-searchable-dropdown *ngIf="!isEditMode" [items]="departmentList"
                            formControlName="DepartmentMasterSid" [placeholder]="''"
                            [displayFields]="departmentLookupConfig.displayFields"
                            [displayLabels]="departmentLookupConfig.displayLabels"
                            [labelFields]="departmentLookupConfig.labelFields" [bindValue]="'DepartmentMasterSid'"
                            appendTo="body">
                          </dofi-searchable-dropdown>
                          <span *ngIf="isEditMode">{{ getDepartmentName(row.get('DepartmentMasterSid')?.value) }}</span>
                        </td>
                        <td>
                          <ng-select formControlName="CostCenterMasterSid" [items]="costCenterList"
                            bindLabel="CostCenterName" bindValue="CostCenterMasterSid" appendTo="body" placeholder=" ">
                          </ng-select>
                        </td>
                        <td>
                          <ng-select formControlName="ProfitCenterMasterSid" [items]="profitCenterList"
                            bindLabel="ProfitCenterName" bindValue="ProfitCenterMasterSid" appendTo="body"
                            placeholder=" ">
                          </ng-select>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
          
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>