<div class="row">
    <div class="col-12">
        <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm">
            <div class="col-md-4 pb-2">
                <h4 class="page-title mb-0">Unit</h4>
            </div>
            <div class="col-md-8 pb-2">
                <div class="" data-bs-theme="light">
                    <form
                        class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
                      
                        <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80"
                            (click)="navigateToCreateUnit()">
                            <i class="fas fa-plus me-1"></i> Create
                        </button>
                        <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80"
                            (click)="report()"
                            [disabled]="!searchPerformed || totalLengthOfCollection === 0">
                            <i class="fas fa-file-alt me-1"></i>
                            Report
                        </button>
                        <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" 
                            (click)="resetPage()"
                            [disabled]="!searchPerformed">
                            <i class="fas fa-sync-alt me-1"></i>
                            Reset
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-12  border-top">
                <div class="row mx-0 py-2">
                    <div class="col-md-8 mx-auto px-0">
                        <form
                            class="row d-flex flex-wrap align-items-center justify-content-center gap-1 gap-md-2 mx-0">
                            <div class="form-outline col-12 col-md px-0">
                                <select [(ngModel)]="searchType" name="searchType" class="form-select">
                                    <option value="unitName">Unit Name</option>
                                    <option value="unitCode">Unit Code</option>
                                    <option value="jobType">Job Type</option>
                                    <option value="containerType">Container Type</option>
                                    <option value="measurementType">Measurement Type</option>
                                    <option value="status">Status</option>
                                </select>
                            </div>
                            <!-- <div class="form-outline col-12 col-md px-0">
                                <input [(ngModel)]="filterValue" name="filterValue" type="text" class="form-control"
                                    placeholder="Enter filter value">
                                <i
                                    class="fas fa-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                            </div>
                              <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80"
                            (click)="search()">
                            <i class="fas fa-search me-1"></i>
                            Search
                        </button> -->
                        
              <div class="d-flex d-md-flex gap-2 col-12 col-md px-0 align-items-center">
                <div class="form-outline flex-grow-1">
                  <input [(ngModel)]="filterValue" name="filterValue" type="text" class="form-control"
                    placeholder="Enter filter value">
                  <i class="fas fa-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                </div>

                <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="search()">
                  <i class="fas fa-search me-1"></i>
                  Search
                </button>
              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="totalLengthOfCollection > 0">
         <div class="col-12 p-0" >
        <div class="table-responsive">
            <table class="table table-hover align-middle no-wrap table-bordered">
                <thead>
                    <tr class="bg-info">
                        <th class="bg-transparent text-light" scope="col">Action</th>
                        <th class="bg-transparent text-light" scope="col">Unit Name</th>
                        <th class="bg-transparent text-light" scope="col">Unit Code</th>
                        <th class="bg-transparent text-light" scope="col">Job Type</th>
                        <th class="bg-transparent text-light" scope="col">Container Type</th>
                        <th class="bg-transparent text-light" scope="col">Measurement Type</th>
                        <th class="bg-transparent text-light" scope="col">Remarks</th>
                        <th class="bg-transparent text-light" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of unitList; let i = index; trackBy: trackByUnitId">
                        <td>
                            <div class="d-flex align-items-center">
                                <a class="text-info mx-2" [routerLink]="['/master/unit/entry/', item.UnitMasterSid]">
                                    <i-feather class="feather-sm" name="eye"></i-feather>
                                </a>
                                <a class="text-danger mx-2 ps-3 border-start" (click)="deleteUnit(item.UnitMasterSid)">
                                    <i-feather name="trash-2" class="feather-sm"></i-feather>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.unitName}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.unitCode}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.jobType}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.containerType}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.measurementType}}</div>
                        </td>
                        <td>
                            <div class="text-truncate">{{item.remarks}}</div>
                        </td>
                        <td>@if(item.status === "A"){
                            <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                Active
                            </div>
                            } @else {
                            <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                Invalid
                            </div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()">
            </ngb-pagination>
        </div>
    </div>
    </div>
   

    <!-- No records found -->
    <div class="col-12" *ngIf="totalLengthOfCollection === 0 && searchPerformed">
        <div class="alert alert-info text-center">No records found</div>
    </div>
</div>