<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center gap-2 mb-3">
      <button class="btn btn-sm btn-info" (click)="onSubmit()">
        <i-feather name="upload-cloud" class="feather-sm me-1"></i-feather> Save
      </button>
      <button class="btn btn-sm btn-light-secondary ms-auto" (click)="goBack()">
        <i-feather name="edit-3" class="feather-sm me-1"></i-feather> Back
      </button>
    </div>
  </div>

  <form [formGroup]="divisionForm">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="text" id="text-input" formControlName="divisionName" placeholder="" class="custom-input-field sm">
                <label for="text-input" class="input-label">Division Name <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside>
            <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="text" formControlName="divisionCode" id="text-input" placeholder="" class="custom-input-field sm">
                <label for="text-input" class="input-label">Division Code <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside>
            <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="textarea" formControlName="Address" id="text-input" placeholder="" class="custom-input-field sm">
                <label for="text-input" class="input-label">Address <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside>
            <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="textarea" formControlName="Remarks" id="text-input" placeholder="" class="custom-input-field sm">
                <label for="text-input" class="input-label">Remarks <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside>
            <aside class="col-md-4">
              <div class="custom-form-group">
                <select formControlName="Status" class="form-select">
                  <option value="">Status</option>
                  <option *ngFor="let option of statusList" [value]="option">{{ option }}</option>
                </select>
                <label for="text-input" class="input-label">Status <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
