<div class="row">
  <!-- <div class="col-12">
    <div class="d-flex align-items-center gap-2 mb-3">
      <button class="btn btn-sm btn-info" (click)="onSubmit()">
        <i-feather name="upload-cloud" class="feather-sm me-1"></i-feather> Save
      </button>
      <button class="btn btn-sm btn-light-secondary ms-auto" (click)="goBack()">
        <i-feather name="edit-3" class="feather-sm me-1"></i-feather> Back
      </button>
    </div>
  </div> -->


  <div class="col-12">
    <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
      <div class="col-md-4 pb-2">
        <h4 class="page-title mb-0">Add Division</h4>
      </div>
      <div class="col-md-8 pb-2">
        <div
          class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80" (click)="goBack()">
            <i class="fas fa-chevron-left me-1"></i>
            Back
          </button>
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80" (click)="reset()">
            <i class="fas fa-sync-alt me-1"></i>
            Reset
          </button>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="onSubmit()"
            [disabled]=" btnDisable">
            <i class="fas fa-save me-1"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="divisionForm">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="text" id="text-input" formControlName="DivisionName" placeholder=""
                  class="custom-input-field sm" [onlyText]="100">
                <label for="text-input" class="input-label">Division Name <span
                    class="text-danger fw-bold">*</span></label>
                    @if(divisionForm.get('DivisionName')?.touched && divisionForm.get('DivisionName')?.invalid){
                      <div class="error-message">
                        @if(divisionForm.get('DivisionName')?.hasError('required')){
                          <span>Division Name is required</span>
                        } @else if(divisionForm.get('DivisionName')?.hasError('maxlength')){
                          <span>Max 100 Characters</span>
                        } @else if(divisionForm.get('DivisionName')?.hasError('numberNotAllowed')){
                          <span>Only Alphabets are allowed</span>
                        }
                      </div>
                    }
              </div>
            </aside>
            <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="text" formControlName="DivisionCode" id="text-input" placeholder=""
                  class="custom-input-field sm" [textWithNumbers]="3">
                <label for="text-input" class="input-label">Division Code <span
                    class="text-danger fw-bold">*</span></label>
                    @if(divisionForm.get('DivisionCode')?.touched && divisionForm.get('DivisionCode')?.invalid){
                      <div class="error-message">
                        @if(divisionForm.get('DivisionCode')?.hasError('required')){
                          <span>Division Code is required</span>
                        } @else if(divisionForm.get('DivisionCode')?.hasError('maxlength')){
                          <span>Max 3 Characters</span>
                        }
                      </div>
                    }
              </div>
            </aside>
            <aside class="col-md-4">
              <div class="custom-form-group">
                <select formControlName="CompanyMasterSid" class="form-select">
                  <option value="" disabled selected>Select Company</option>
                  <option *ngFor="let option of companyList" [value]="option.CompanyMasterSid">
                    {{option.companyName}}
                  </option>
                </select>
                <label for="text-input" class="input-label">Company <span
                class="text-danger fw-bold">*</span></label>
                @if(divisionForm.get('CompanyMasterSid')?.touched && divisionForm.get('CompanyMasterSid')?.invalid){
                  <div class="error-message">
                    @if(divisionForm.get('CompanyMasterSid')?.hasError('required')){
                      <span>Company is required</span>
                    }
                  </div>
                }
              </div>
            </aside>
            <!-- <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="textarea" formControlName="address" id="text-input" placeholder=""
                  class="custom-input-field sm">
                <label for="text-input" class="input-label">Address <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside> -->
            <aside class="col-md-4">
              <div class="custom-form-group">
                <input type="textarea" formControlName="Remarks" id="text-input" placeholder=""
                  class="custom-input-field sm">
                <label for="text-input" class="input-label">Remarks <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside>
            <aside class="col-md-4">
              <div class="custom-form-group">
                <select formControlName="status" class="form-select">
                  <option value="">Status</option>
                  <option *ngFor="let option of statusList" [value]="option">{{ option }}</option>
                </select>
                <label for="text-input" class="input-label">Status <span class="text-danger fw-bold">*</span></label>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>