<div class="row py-3">
    <div class="col-12">
        <div class="d-flex align-items-center gap-2 mb-3">
            <button class="btn btn-sm btn-light-secondary ms-auto">Edit</button>
            <button class="btn btn-sm btn-info">Update</button>
        </div>
    </div>
    <div class="col-6">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Name">
                            <label for="text-input" class="input-label">Name <span class="text-danger">*</span></label>
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Code">
                            <label for="text-input" class="input-label">Code <span class="text-danger">*</span></label>
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Address">
                            <label for="text-input" class="input-label">Address </label>

                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <textarea id="" placeholder="" rows="" class="input-field sm"
                                formControlName="Remarks"></textarea>
                            <label for="text-input" class="input-label">Remarks </label>
                        </div>
                    </aside>
                    <aside class="col-md-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Status">
                            <label for="text-input" class="input-label">Status <span
                                    class="text-danger">*</span></label>

                        </div>
                    </aside>



                </div>
            </div>
        </div>
    </div>
</div>