<div class="row">
    <app-listpage
  [title]="'Currency'"
  [searchOptions]="[
    { value: 'currencyName', label: 'Currency Name' },
    { value: 'currencyCode', label: 'Currency Code' },
    { value: 'currencyCode', label: 'Short Code' },
    { value: 'unit', label: 'Unit' },
    { value: 'subUnit', label: 'Sub Unit' },
    { value: 'subUnit', label: 'Sub Unit IN' },
    { value: 'RoundOf', label: 'Round Off' }
  ]"
  [searchPerformed]="searchPerformed"
  [defaultSearchType]="'currencyName'"
  (onCreateClick)="navigateToCreateCurrency()"
  (onReportClick)="report()"
  (onResetClick)="resetPage()"
  (onSearchClick)="onSearch($event)">
    </app-listpage>
    <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="totalLengthOfCollection > 0">
        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table table-hover align-middle no-wrap table-bordered">
                    <!-- Update the table headers to make them sortable -->
<thead>
    <tr class="bg-info">
        <th class="bg-transparent text-light" scope="col" width="10%">Action</th>
        <th class="bg-transparent text-light" scope="col" (click)="sort('currencyName')">
            Currency Name
            <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'currencyName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'currencyName'}"></i>
        </th>
        <th class="bg-transparent text-light" scope="col" (click)="sort('currencyCode')">
            Currency Code
            <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'currencyCode', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'currencyCode'}"></i>
        </th>
        <th class="bg-transparent text-light" scope="col" (click)="sort('ShortCode')">
            Short Code
            <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'ShortCode', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'ShortCode'}"></i>
        </th>
        <th class="bg-transparent text-light" scope="col" (click)="sort('CurrencyUnit')">
            Unit
            <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'CurrencyUnit', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'CurrencyUnit'}"></i>
        </th>
        <th class="bg-transparent text-light" scope="col" (click)="sort('CurrencySubUnit')">
            Sub Unit
            <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'CurrencySubUnit', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'CurrencySubUnit'}"></i>
        </th>
        <th class="bg-transparent text-light" scope="col" (click)="sort('CurrencySubUnitIN')">
            Sub Unit In
            <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'CurrencySubUnitIN', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'CurrencySubUnitIN'}"></i>
        </th>
        <th class="bg-transparent text-light" scope="col" (click)="sort('RoundOf')">
            Round Off
            <i class="fas fa-sort ms-1" [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'RoundOf', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'RoundOf'}"></i>
        </th>
        
                            <th class="bg-transparent text-light" scope="col" width="10%">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of currencyList; let i = index; trackBy: trackByCurrencyId">
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="text-info mx-2"
                                        [routerLink]="['/master/currency/entry/', item.CurrencyMasterSid]">
                                        <i-feather class="feather-sm" name="eye"></i-feather>
                                    </a>
                                    <a class="text-danger mx-2 ps-3 border-start"
                                        (click)="deleteCurrency(item.CurrencyMasterSid)">
                                        <i-feather name="trash-2" class="feather-sm"></i-feather>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.currencyName}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.currencyCode}}</div>
                            </td>
                             <td>
                                <div class="text-truncate">{{item.ShortCode || '-'}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.CurrencyUnit || '-'}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.CurrencySubUnit || '-'}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">{{item.SubUnitIn || '-'}}</div>
                            </td>
                             <td>
                                <div class="text-truncate">{{item.RoundOf || '-'}}</div>
                            </td>
                            <td>
                                <div class="text-truncate">@if(item.status === "A"){
                                    <div
                                        class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                        <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                        Active
                                    </div>
                                    } @else {
                                    <div
                                        class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                        <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                        Suspended
                                    </div>
                                    }
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                    [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()">
                </ngb-pagination>
            </div>
        </div>
    </div>


    <div class="col-12" *ngIf="totalLengthOfCollection === 0 && searchPerformed">
        <div>No records found</div>
    </div>


</div>