<div class="row">
  <div class="col-12">
      <div class="rounded-3 p-2 bg-body-tertiary shadow mb-2">
          <div class="col-8 mx-auto">
              <div class="rounded-3 p-2 bg-body-tertiary  mb-2" data-bs-theme="light">
                  <form class="d-flex align-items-center gap-2">
                      <div class="form-outline col">
                          <select [(ngModel)]="searchType" name="searchType" class="form-select">
                              <option value="UOMName">UOM Name</option>
                              <option value="UOMCode">UOM Code</option>
                              <option value="status">Status</option>
                          </select>
                      </div>
                      <div class="form-outline col">
                          <input [(ngModel)]="filterValue" name="filterValue" type="text" class="form-control"
                              placeholder="Enter filter value">
                          <i
                              class="fas fa-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                      </div>

                      <button type="button" class="btn btn-info btn-sm dofi-min-w-80" (click)="search()">
                          <i class="fas fa-search"></i>
                          Search
                      </button>
                      <button type="button" class="btn btn-info btn-sm dofi-min-w-80"
                          (click)="navigateToCreateUom()">
                          <i class="mdi mdi-plus"></i> Create
                      </button>
                      <button type="button" class="btn btn-info btn-sm dofi-min-w-80" (click)="report()">
                          Report
                      </button>
                      <button type="button" class="btn btn-info btn-sm dofi-min-w-80" (click)="resetPage()">
                          Reset
                      </button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="col-12" *ngIf="totalLengthOfCollection > 0">
  <div class="table-responsive">
      <table class="table table-hover align-middle no-wrap table-bordered">
          <thead>
              <tr class="bg-info">
                  <th class="bg-transparent text-light" scope="col">UOM Code</th>
                  <th class="bg-transparent text-light" scope="col">UOM Name</th>
                  <th class="bg-transparent text-light" scope="col">Status</th>
                  <th class="bg-transparent text-light" scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of uomList; let i = index; trackBy: trackByIndex">
                  <td>{{item.UOMCode}}</td>
                  <td>{{item.UOMName}}</td>
                  <td>{{getStatusText(item.status)}}</td>
                  <td>
                      <div class="d-flex align-items-center">
                          <a class="text-info mx-2" [routerLink]="['/master/uom-master/view/', item.UOMMasterSid]">
                              <i-feather class="feather-sm" name="eye"></i-feather>
                          </a>
                          <a class="text-danger mx-2 ps-3 border-start" (click)="deleteUom(item.UOMMasterSid)">
                              <i-feather name="trash-2" class="feather-sm"></i-feather>
                          </a>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div>
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
          [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()">
      </ngb-pagination>
  </div>
</div>

<div class="col-12" *ngIf="totalLengthOfCollection === 0 && searchPerformed">
  <div class="alert alert-info text-center">No records found</div>
</div>