<div class="row compact-form">
    <div class="col-12">
        <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
            <div class="col-md-4 d-flex pb-2">
                <div class="d-flex align-items-center gap-2">
                    <div class="brand-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h5 class="page-title mb-0 text-info">Shipment Instruction</h5>
                </div>
            </div>
            <div class="col-md-8 pb-2">
                <div
                    class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">


                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
                        <i class="fas fa-save me-1"></i>
                        Save
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card h-100 mb-0">
            <div class="card-body py-2 px-3">
                <div class="row justify-content-between">
                    <aside class="col-md-4 col-12">
                        <div class="custom-form-group">
                            <input type="text" id="text-input-left" placeholder="" class="custom-input-field sm">
                            <label for="text-input-left" class="input-label">BL/NO <span
                                    class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-6 col-12 mt-md-2 mt-0">
                        <form class="d-flex flex-wrap align-items-center justify-content-center gap-1 gap-md-2 mx-0">
                            <div class="d-flex gap-2 col-12 px-0 align-items-stretch align-items-md-center">
                                <div class="form-outline flex-grow-1 position-relative">
                                    <input name="filterValue" type="text" class="form-control pe-5" placeholder="Search"
                                        aria-label="Search input">
                                    <button
                                        class="btn btn-sm position-absolute top-50 end-0 translate-middle-y me-3 p-1 text-secondary"
                                        tabindex="0" aria-label="Clear search" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-title="Clear search"
                                        onfocus="this.classList.replace('text-secondary','text-danger')"
                                        onblur="this.classList.replace('text-danger','text-secondary')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                                <div class="mt-md-0 mt-1">
                                    <button type="submit" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
                                        <i class="fas fa-search me-1"></i> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </aside>
                </div>
                <div class="row  py-2 rounded shadow-sm mx-auto">
                    <div class="col-12 p-0">
                        <div class="table-responsive">
                            <table class="table table-hover align-middle no-wrap table-bordered table-sm mb-1">
                                <thead>
                                    <tr class="bg-info">
                                       
                                        <th class="bg-transparent text-light" scope="col">Branch</th>
                                        <th class="bg-transparent text-light" scope="col">Quotation No</th>
                                        <th class="bg-transparent text-light" scope="col">Quotation Date</th>
                                        <th class="bg-transparent text-light" scope="col">Booking No</th>
                                        <th class="bg-transparent text-light" scope="col">Booking Date</th>
                                        <th class="bg-transparent text-light" scope="col">Customer</th>
                                        <th class="bg-transparent text-light" scope="col">Dept</th>
                                        <th class="bg-transparent text-light" scope="col">Sales Person</th>
                                        <th class="bg-transparent text-light" scope="col">POO</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of [0,1,2,3,4,5,6,7,8]; track $index) {
                                    <tr>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">RO</div>
                                        </td>
                                        <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                            <div class="text-truncate">OMR</div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>