<!-- Cash Payment Print Structure -->
<section class="cash-payment-print">
    <table style="margin-top: 2%;">
        <tbody>
            <tr>
                <td style="width: 30%;text-align: center;">
                    <img src="" alt="Company Logo">
                </td>
                <td style="width: 70%;text-align: center;vertical-align: top;padding: 10px;">
                    <h2 style="margin: 5px auto;">A B LOGISTICS CO LTD [Code :A B BPKG]</h2>
                    <p style="padding-top: .25rem;">SHANGHAI STREET SHANGHAI NAGAR SHANGHAI</p>
                    <p style="padding-top: .25rem;">GST No. : QWES123456789</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td colspan="2">
                    <h3 style=" text-align: center; margin: 5px auto;">Cash Payment</h3>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="width: 50%; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Payment No </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>PAY1234567</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Paid To</td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>Gain Well industries Ltd</strong>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 50%;vertical-align:top; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Payment Date </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>28-SEP-2025</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Currency </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> INR </strong></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <th style="width: 50%; ">Description</th>
                <th style="width: 15%; ">MBL/HBL Ref</th>
                <th style="width: 10%; ">Curr</th>
                <th style="width: 10%; ">Ex.Rate </th>
                <th style="width: 15%; ">Amount </th>

            </tr>
            <tr>
                <td>Freight</td>
                <td>BOM78865</td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">3500.00 </td>
            </tr>
            <tr>
                <td>CGST</td>
                <td></td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">24 </td>
            </tr>
            <tr>
                <td>SGST</td>
                <td></td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">24 </td>
            </tr>
            <tr>
                <td>TDS</td>
                <td></td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">60 </td>
            </tr>

        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td>
                    <p>Amount in Words :
                        <strong>INR Three Thousand Six Hundred Eight only.</strong>
                    </p>
                </td>

            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="background-color: #fff;text-align: center;">
                    <h4 style="padding: 4px 0;">Remittance Details</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <th style="width: 22%; ">Voucher No</th>
                <th style="width: 13%; ">Voucher Type</th>
                <th style="width: 15%; ">Voucher Date</th>
                <th style="width: 7%;">Curr.</th>
                <th style="width: 13%;">Ex. Rate</th>
                <th style="width: 15%;">Curr. Amt</th>
                <th style="width: 15%;">Local Amount</th>

            </tr>
            <tr>
                <td>BOM78996</td>
                <td>Vinv</td>
                <td>18-Sep-25 </td>
                <td>INR </td>
                <td style="text-align: right;">1.00 </td>
                <td style="text-align: right;">3608.00</td>
                <td style="text-align: right;">3608.00</td>

            </tr>
            <tr>

                <td style="text-align: right;" colspan="5">Total</td>
                <td style="text-align: right;">
                    <strong>3608.00</strong>
                </td>
                <td style="text-align: right;"> <strong>3608.00</strong></td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr style="height: 5rem;">
                <td style="width: 50%;text-align: center; vertical-align: bottom;border-right-style: hidden;">
                    <p style="padding-bottom: .5rem;">Checked By</p>
                </td>
                <td style="width: 50%;text-align: center; vertical-align: bottom;">
                    <p style="padding-bottom: .5rem; ">Approved By</p>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<!-- Bank-Print -->
<section class="bank-payment-print">
    <table style="margin-top: 2%;">
        <tbody>
            <tr style="">
                <td style="width: 30%;text-align: center;">
                    <img src="" alt="Company Logo">
                </td>
                <td style="width: 70%;text-align: center;vertical-align: top;padding: 10px;">
                    <h2 style="margin: 5px auto;">A B LOGISTICS CO LTD [Code :A B BPKG]</h2>
                    <p style="padding-top: .25rem;">SHANGHAI STREET SHANGHAI NAGAR SHANGHAI</p>
                    <p style="padding-top: .25rem;">GST No. : QWES123456789</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td colspan="2">
                    <h3 style=" text-align: center; margin: 5px auto;">Bank Payment</h3>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="width: 50%; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Payment No </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>PAY1234567</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Paid To</td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>Gain Well industries Ltd</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Bank Ref </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> HSBC123456 </strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Ex. Rate </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>1.00</strong></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 50%;vertical-align:top; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Payment Date </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>28-SEP-2025</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Bank</td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> AXIS Bank</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Currency </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> INR </strong></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <th style="width: 50%; ">Description</th>
                <th style="width: 15%; ">MBL/HBL Ref</th>
                <th style="width: 10%; ">Curr</th>
                <th style="width: 10%; ">Ex.Rate </th>
                <th style="width: 15%; ">Amount </th>

            </tr>
            <tr>
                <td>Freight</td>
                <td>BOM78865</td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">3500.00 </td>
            </tr>
            <tr>
                <td>CGST</td>
                <td></td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">24 </td>
            </tr>
            <tr>
                <td>SGST</td>
                <td></td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">24 </td>
            </tr>
            <tr>
                <td>TDS</td>
                <td></td>
                <td style="">INR</td>
                <td style="text-align: right; ">1.00 </td>
                <td style="text-align: right; ">60 </td>
            </tr>

        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td>
                    <p>Amount in Words :
                        <strong>INR Three Thousand Six Hundred Eight only.</strong>
                    </p>
                </td>

            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="background-color: #fff;text-align: center;">
                    <h4 style="padding: 4px 0;">Remittance Details</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <th style="width: 22%; ">Voucher No</th>
                <th style="width: 13%; ">Voucher Type</th>
                <th style="width: 15%; ">Voucher Date</th>
                <th style="width: 7%;">Curr.</th>
                <th style="width: 13%;">Ex. Rate</th>
                <th style="width: 15%;">Curr. Amt</th>
                <th style="width: 15%;">Local Amount</th>

            </tr>
            <tr>
                <td>BOM78996</td>
                <td>Vinv</td>
                <td>18-Sep-25 </td>
                <td>INR </td>
                <td style="text-align: right;">1.00 </td>
                <td style="text-align: right;">3608.00</td>
                <td style="text-align: right;">3608.00</td>

            </tr>
            <tr>

                <td style="text-align: right;" colspan="5">Total</td>
                <td style="text-align: right;">
                    <strong>3608.00</strong>
                </td>
                <td style="text-align: right;"> <strong>3608.00</strong></td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr style="height: 5rem;">
                <td style="width: 50%;text-align: center; vertical-align: bottom;border-right-style: hidden;">
                    <p style="padding-bottom: .5rem;">Checked By</p>
                </td>
                <td style="width: 50%;text-align: center; vertical-align: bottom;">
                    <p style="padding-bottom: .5rem; ">Approved By</p>
                </td>
            </tr>
        </tbody>
    </table>
</section>


<!-- Bank-Receipt -->
<section class="bank-receipt">
    <table style="margin-top: 2%;">
        <tbody>
            <tr style="">
                <td style="width: 30%;text-align: center;">
                    <img src="" alt="Company Logo">
                </td>
                <td style="width: 70%;text-align: center;vertical-align: top;padding: 10px;">
                    <h2 style="margin: 5px auto;">A B LOGISTICS CO LTD [Code :A B BPKG]</h2>
                    <p style="padding-top: .25rem;">SHANGHAI STREET SHANGHAI NAGAR SHANGHAI</p>
                    <p style="padding-top: .25rem;">GST No. : QWES123456789</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td colspan="2">
                    <h3 style=" text-align: center; margin: 5px auto;">Bank Receipt</h3>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="width: 50%; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Receipt No </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>RPTC2101001001</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Received From </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>Gain Well industries Ltd</strong>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Bank Ref </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> HSBC123456 </strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Ex. Rate </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>1.00</strong></td>
                        </tr>
                    </table>
                </td>
                <td style="width: 50%;vertical-align:top; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Receipt Date </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>28-SEP-2025</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Bank</td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> BANK 5 - HSBC IN LOCAL
                                    CURRENCY</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Currency </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> INR </strong></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>

                <th style="width: 60%; ">Description</th>
                <th style="width: 10%; ">Curr</th>
                <th style="width: 10%; ">Ex.Rate </th>
                <th style="width: 20%; ">Amount </th>

            </tr>
            <tr>
                <td style="width: 60%; ">Gain Well industries Ltd</td>
                <td style="width: 10%; ">INR</td>
                <td style="width: 10%;text-align: right; ">1.00 </td>
                <td style="width: 20%;text-align: right; ">3500.00 </td>
            </tr>

        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td>
                    <p>Amount in Words :
                        <strong>INR Three Thousand Five Hundred only.</strong>
                    </p>
                </td>

            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="background-color: #fff;text-align: center;">
                    <h4 style="padding: 4px 0;">Remittance Details</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <th style="width: 22%; ">Voucher No</th>
                <th style="width: 13%; ">Voucher Type</th>
                <th style="width: 15%; ">Voucher Date</th>
                <th style="width: 7%;">Curr.</th>
                <th style="width: 15%;">Curr. Amt</th>
                <th style="width: 15%;">Local Amount</th>
                <th style="width: 13%;">TDS Amount</th>
            </tr>
            <tr>
                <td>BOM78996</td>
                <td>Inv</td>
                <td>18-Sep-25 </td>
                <td>INR </td>
                <td style="text-align: right;">3500.00</td>
                <td style="text-align: right;">3500.00</td>
                <td style="text-align: right;">0</td>
            </tr>
            <tr>
                <td>BOM78996</td>
                <td>Inv</td>
                <td>18-Sep-25 </td>
                <td>INR </td>
                <td style="text-align: right;">3500.00</td>
                <td style="text-align: right;">3500.00</td>
                <td style="text-align: right;">0</td>
            </tr>
            <tr>

                <td style="text-align: right;" colspan="5">Total</td>
                <td style="text-align: right;">
                    <strong>7000.00</strong>
                </td>
                <td style="text-align: right;">0</td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr style="height: 5rem;">
                <td style="width: 50%;text-align: center; vertical-align: bottom;border-right-style: hidden;">
                    <p style="padding-bottom: .5rem;">Checked By</p>
                </td>
                <td style="width: 50%;text-align: center; vertical-align: bottom;">
                    <p style="padding-bottom: .5rem; ">Approved By</p>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<!-- cash-Receipt -->
<section class="cash-receipt">
    <table style="margin-top: 2%;">
        <tbody>
            <tr style="">
                <td style="width: 30%;text-align: center;">
                    <img src="" alt="Company Logo">
                </td>
                <td style="width: 70%;text-align: center;vertical-align: top;padding: 10px;">
                    <h2 style="margin: 5px auto;">A B LOGISTICS CO LTD [Code :A B BPKG]</h2>
                    <p style="padding-top: .25rem;">SHANGHAI STREET SHANGHAI NAGAR SHANGHAI</p>
                    <p style="padding-top: .25rem;">GST No. : QWES123456789</p>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td colspan="2">
                    <h3 style=" text-align: center; margin: 5px auto;">Cash Receipt</h3>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="width: 50%; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Receipt No </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>RPTC2101001001</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Received From </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>Gain Well industries Ltd</strong>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 50%;vertical-align:top; ">
                    <table style="border: none !important;">
                        <tr>
                            <td style="width: 23%;border: none !important;">Receipt Date </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong>28-SEP-2025</strong></td>
                        </tr>
                        <tr>
                            <td style="width: 23%;border: none !important;">Currency </td>
                            <td style="width: 1%;border: none !important;">:</td>
                            <td style="width: 76%;border: none !important;"> <strong> INR </strong></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>

                <th style="width: 60%; ">Description</th>
                <th style="width: 10%; ">Curr</th>
                <th style="width: 10%; ">Ex.Rate </th>
                <th style="width: 20%; ">Amount </th>

            </tr>
            <tr>
                <td style="width: 60%; ">Gain Well industries Ltd</td>
                <td style="width: 10%; ">INR</td>
                <td style="width: 10%;text-align: right; ">1.00 </td>
                <td style="width: 20%;text-align: right; ">3500.00 </td>
            </tr>

        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td>
                    <p>Amount in Words :
                        <strong>INR Three Thousand Five Hundred only.</strong>
                    </p>
                </td>

            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <td style="background-color: #fff;text-align: center;">
                    <h4 style="padding: 4px 0;">Remittance Details</h4>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr>
                <th style="width: 22%; ">Voucher No</th>
                <th style="width: 13%; ">Voucher Type</th>
                <th style="width: 15%; ">Voucher Date</th>
                <th style="width: 7%;">Curr.</th>
                <th style="width: 15%;">Curr. Amt</th>
                <th style="width: 15%;">Local Amount</th>
                <th style="width: 13%;">TDS Amount</th>
            </tr>
            <tr>
                <td>BOM78996</td>
                <td>Inv</td>
                <td>18-Sep-25 </td>
                <td>INR </td>
                <td style="text-align: right;">3500.00</td>
                <td style="text-align: right;">3500.00</td>
                <td style="text-align: right;">0</td>
            </tr>
            <tr>

                <td style="text-align: right;" colspan="5">Total</td>
                <td style="text-align: right;">
                    <strong>3500.00</strong>
                </td>
                <td style="text-align: right;">0</td>
            </tr>
        </tbody>
    </table>
    <table style="border-top-style: hidden;">
        <tbody>
            <tr style="height: 5rem;">
                <td style="width: 50%;text-align: center; vertical-align: bottom;border-right-style: hidden;">
                    <p style="padding-bottom: .5rem;">Checked By</p>
                </td>
                <td style="width: 50%;text-align: center; vertical-align: bottom;">
                    <p style="padding-bottom: .5rem; ">Approved By</p>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<!-- Invoice Print -->
<div style="max-width: 960px; margin: auto; border: 2px solid black;">
    <div class="row px-3 pt-3">
        <div class="col-md-6">
            <div class="d-flex align-items-center gap-4">
                <img src="https://app.dofi.co/assets/images/logos/xtreme-dark-icon.svg" width="100" height="100"
                    class="img-fluid" alt="">
                <h4> DOFI <br>Infosys LLC </h4>
            </div>
        </div>
        <div class="col-6">
            <div class="text-start">
                <h5 class="mb-1">XYZ Global Freight Ltd.</h5>
                <p class="mb-1">42 Skyview Avenue, Logistics Park,</p>
                <p class="mb-1">Metro City, Westland 543210, Countryland.</p>
                <p class="mb-3">TEL: +123-4567-8900</p>

            </div>
        </div>

    </div>
    <div class="text-center">
        <h5 class="fw-bold mb-2">TAX INVOICE</h5>
        <p style="font-size: 12px;">
            PAN : AAACT3276C | CIN : U63090MH1995PLC091063 | GST Code : 27AAACT3276C2ZI
        </p>
    </div>


    <div class="row mt-4 px-3">
        <div class="col-md-6">
            <strong>BILLED TO</strong><br />
            KSQUARE LOGISTICS SOLUTION<br />
            FLAT NO. 1304, 13TH FLOOR, AJMERA SIKOVA,<br />
            NEAR ASHOK MILL, GHATKOPAR WEST, MUMBAI- 400086
        </div>
        <div class="col-md-6">
            <div class="d-flex">
                <div style="width: 140px;"><strong>Invoice No</strong></div>
                <div>: BOMGILI240900073</div>
            </div>
            <div class="d-flex">
                <div style="width: 140px;"><strong>Invoice Date</strong></div>
                <div>: 04/Sep/2024</div>
            </div>
            <div class="d-flex">
                <div style="width: 140px;"><strong>Booking No</strong></div>
                <div>: BOMGI2404798</div>
            </div>
            <div class="d-flex">
                <div style="width: 140px;"><strong>GST No</strong></div>
                <div>: 27AIZPT5810G1ZM</div>
            </div>
            <div class="d-flex">
                <div style="width: 140px;"><strong>IRN No</strong></div>
                <div>: </div>
            </div>
        </div>
    </div>

    <div style="height: 1px; background-color: black; width: 100%; margin: 1rem 0;"></div>


    <div class="row mt-3 px-3">
        <div class="col-md-6">
            <div class="d-flex">
                <div style="width: 180px;"><strong>Shipper</strong></div>
                <div>: SHANGHAI EAST BEST FOREIGN TRADE</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Consignee</strong></div>
                <div>: CEASEFIRE INDUSTRIES PVT LTD</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Notify</strong></div>
                <div>: </div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Vessel / Carrier</strong></div>
                <div>: NORTHERN VALENCE</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Voyage / Flight No.</strong></div>
                <div>: 2409</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Loading Port</strong></div>
                <div>: SHANGHAI PORT</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Place of Supply</strong></div>
                <div>: (27) MAHARASHTRA</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Final Destination</strong></div>
                <div>: HAVA SHEVA</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Vessel / Flight Date</strong></div>
                <div>: 25/JUL/2025</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>ETD</strong></div>
                <div>: 25/JUL/2025</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>ETA</strong></div>
                <div>: 25/JUL/2025</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>S Bill No</strong></div>
                <div>: /</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Shipper Reference No</strong></div>
                <div>: </div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Forwarder B/L No</strong></div>
                <div>: </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="d-flex">
                <div style="width: 180px;"><strong>HBL / HAWB</strong></div>
                <div>: HHSE4080923YA / 25/Aug/2024</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>MBL / MAWB</strong></div>
                <div>: SNKO020240806253 / 25/Aug/2024</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Job Number</strong></div>
                <div>: GIBOM2500062</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Freight</strong></div>
                <div>: Collect</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Pkgs / Weight / Volume</strong></div>
                <div>: 4</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Exp Inv No</strong></div>
                <div>: </div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Invoice Due Date</strong></div>
                <div>: 18/Apr/2025</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>BOE Reference</strong></div>
                <div>: </div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>IGM Number</strong></div>
                <div>: /</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Item Number</strong></div>
                <div>: </div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Sub Item Number</strong></div>
                <div>: </div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Currency / Ex-Rate</strong></div>
                <div>: </div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Sales Person</strong></div>
                <div>: Vimal</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>Carrier Name</strong></div>
                <div>: SINOKOR INDIA PRIVATE LIMITED</div>
            </div>
            <div class="d-flex">
                <div style="width: 180px;"><strong>CFS Name</strong></div>
                <div>: </div>
            </div>
        </div>
    </div>

    <div style="height: 1px; background-color: black; width: 100%; margin: 1rem 0;"></div>

    <div class="d-flex px-3">
        <div><strong>Container No. And Type</strong></div>
        <div>: HLHU8114388 / HC40</div>
    </div>

    <div class="mx-3 table-responsive">
        <table class="table table-bordered table-sm align-middle my-2" style="border: 2px solid black;">
            <thead>
                <tr>
                    <th style="border: 2px solid black;">Particulars</th>
                    <th style="border: 2px solid black;">HSN/SAC</th>
                    <th style="border: 2px solid black;">Curr</th>
                    <th style="border: 2px solid black;">Qty</th>
                    <th style="border: 2px solid black;">Rate</th>
                    <th style="border: 2px solid black;">ROE</th>
                    <th style="border: 2px solid black;">Taxable Value</th>
                    <th style="border: 2px solid black;">CGST %</th>
                    <th style="border: 2px solid black;">CGST Amt</th>
                    <th style="border: 2px solid black;">SGST %</th>
                    <th style="border: 2px solid black;">SGST Amt</th>
                    <th style="border: 2px solid black;">Total (INR)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 2px solid black;">DOCUMENTATION CHARGES</td>
                    <td style="border: 2px solid black;">996759</td>
                    <td style="border: 2px solid black;">INR</td>
                    <td style="border: 2px solid black;">1.000</td>
                    <td style="border: 2px solid black;">1,000.00</td>
                    <td style="border: 2px solid black;">1.00</td>
                    <td style="border: 2px solid black;">1,000.00</td>
                    <td style="border: 2px solid black;">9.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">9.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">1,180.00</td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;">CARGO HANDLING CHARGES</td>
                    <td style="border: 2px solid black;">996759</td>
                    <td style="border: 2px solid black;">INR</td>
                    <td style="border: 2px solid black;">3.300</td>
                    <td style="border: 2px solid black;">800.00</td>
                    <td style="border: 2px solid black;">1.00</td>
                    <td style="border: 2px solid black;">2,640.00</td>
                    <td style="border: 2px solid black;">9.00</td>
                    <td style="border: 2px solid black;">237.60</td>
                    <td style="border: 2px solid black;">9.00</td>
                    <td style="border: 2px solid black;">237.60</td>
                    <td style="border: 2px solid black;">3,115.20</td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;">LCL FREIGHT CHARGE</td>
                    <td style="border: 2px solid black;">996521</td>
                    <td style="border: 2px solid black;">USD</td>
                    <td style="border: 2px solid black;">3.300</td>
                    <td style="border: 2px solid black;">11.00</td>
                    <td style="border: 2px solid black;">85.92</td>
                    <td style="border: 2px solid black;">3,118.90</td>
                    <td style="border: 2px solid black;">2.50</td>
                    <td style="border: 2px solid black;">77.97</td>
                    <td style="border: 2px solid black;">2.50</td>
                    <td style="border: 2px solid black;">77.97</td>
                    <td style="border: 2px solid black;">3,274.84</td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;"><strong>Total</strong></td>
                    <td style="border: 2px solid black;"></td>
                    <td style="border: 2px solid black;"></td>
                    <td style="border: 2px solid black;"></td>
                    <td style="border: 2px solid black;"></td>
                    <td style="border: 2px solid black;"></td>
                    <td style="border: 2px solid black;"></td>
                    <td style="border: 2px solid black;"></td>
                    <td style="border: 2px solid black;"><strong>6,758.90</strong></td>
                    <td style="border: 2px solid black;"><strong>405.57</strong></td>
                    <td style="border: 2px solid black;"><strong>405.57</strong></td>
                    <td style="border: 2px solid black;"><strong>7,570.04</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex px-3">
        <p class="fw-bold mb-0">Amount In Words</p>
        <p class="mb-0 ms-2">: SEVEN THOUSAND FIVE HUNDRED AND SEVENTY INDIAN RUPEES AND FOUR PAISE ONLY</p>
    </div>

    <div class="mx-3">
        <table class="table table-bordered table-sm align-middle my-2" style="border: 2px solid black;">
            <thead style="background-color: #f8f9fa;">
                <tr>
                    <th style="border: 2px solid black;">HSN/SAC</th>
                    <th style="border: 2px solid black;">Taxable Value</th>
                    <th style="border: 2px solid black;">CGST Amt</th>
                    <th style="border: 2px solid black;">SGST %</th>
                    <th style="border: 2px solid black;">SGST Amt</th>
                    <th style="border: 2px solid black;">Total (INR)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 2px solid black;">996759</td>
                    <td style="border: 2px solid black;">1,000.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">9.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">1,180.00</td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;">996759</td>
                    <td style="border: 2px solid black;">1,000.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">9.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">1,180.00</td>
                </tr>
                <tr>
                    <td style="border: 2px solid black;">996759</td>
                    <td style="border: 2px solid black;">1,000.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">9.00</td>
                    <td style="border: 2px solid black;">90.00</td>
                    <td style="border: 2px solid black;">1,180.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex  px-3">
        <p style="width: 140px; margin-bottom: 5px; font-weight: 700;">Remarks</p>
        <p style="margin-bottom: 0;">: </p>
    </div>
    <p style="font-weight: 700; margin-bottom: 0;" class="px-3">Bank Details</p>
    <div class="px-3 ">
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">Account Name</p>
            <p style="margin-bottom: 0;">: DOFI Infosys LCL</p>
        </div>
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">Account No</p>
            <p style="margin-bottom: 0;">: 108605004528</p>
        </div>
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">Bank Name</p>
            <p style="margin-bottom: 0;">: ICICI BANK</p>
        </div>
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">Swift Code</p>
            <p style="margin-bottom: 0;">: </p>
        </div>
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">IFSC Code</p>
            <p style="margin-bottom: 0;">: ICIC0001086</p>
        </div>
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">BSR Code</p>
            <p style="margin-bottom: 0;">: </p>
        </div>
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">AD Code</p>
            <p style="margin-bottom: 0;">: </p>
        </div>
        <div class="d-flex">
            <p style="width: 140px; margin-bottom: 0;">Address</p>
            <p style="margin-bottom: 0;">: J B NAGAR, ANDHERI EAST MUMBAI 400059</p>
        </div>
    </div>


    <div class="text-end mt-4 px-3">
        <p class="mb-0"><strong>For DOFI Infosys LCL</strong></p>
        <p class="mb-0">Authorised Signatory</p>
    </div>

    <p class=" text-center"> Copyright © 2025 <span class="fw-bold">DOFI Infosys LLC</span></p>
</div>

<!-- Crago Arrival Notice -->
<div class="container border border-dark my-4 p-3" style="max-width: 900px;font-size: 14px;">

    <!-- Company Header -->
    <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-center border-bottom pb-3 mb-4 text-center text-md-start">
        <!-- Left Side: Logo + Company -->
        <div class="d-flex align-items-center gap-4 mb-3 mb-md-0">
            <img src="https://app.dofi.co/assets/images/logos/xtreme-dark-icon.svg" width="90" height="90"
                class="img-fluid" alt="Company Logo">
            <h4 class="mb-0 fw-bold">DOFI <br>Infosys LLC</h4>
        </div>

        <!-- Right Side: Document Title -->
        <div class="text-center text-md-end mb-2">
            <h5 class="fw-bold mb-1">DOFI INFOSYS LLC</h5>
            <div>Address Line 1</div>
            <div>SINGAPORE</div>
        </div>
    </div>


    <!-- Document Title -->
    <h5 class="text-center fw-bold mb-4">CARGO ARRIVAL NOTICE - SEA LCL EXPORT</h5>

    <!-- Left: Shipment Info | Right: Address -->
    <div class="d-flex justify-content-between align-items-start mb-2 flex-column flex-md-row">
        <!-- Left: Shipment Info -->
        <div class="col-md-6">
            GIVAUDAN WANG PTE LTD.<br>
            P/A GIVAUDAN SINGAPORE PTE LTD<br>
            1 WOODLANDS AVE 8<br>
            SINGAPORE 738972
        </div>
        <div class="col-md-6 mb-2 mb-md-0">
            <div class="d-flex"><strong style="width: 150px;">SHIPMENT</strong><span>: S003030</span></div>
            <div class="d-flex"><strong style="width: 150px;">DATE</strong><span>: 31-JUL-25 02:33 AM</span></div>
            <div class="d-flex"><strong style="width: 150px;">CONSOL</strong><span>: C000000621</span></div>
        </div>

        <!-- Right: Company Address -->

    </div>

    <!-- Shipper / Consignee -->
    <div class="border border-dark mb-2 p-2">
        <div class="row">
            <div class="col-md-6 ">
                <h6>SHIPPER</h6>
                GIVAUDAN WANG PTE LTD.<br>
                P/A GIVAUDAN SINGAPORE PTE LTD<br>
                1 WOODLANDS AVE 8<br>
                SINGAPORE 738972
            </div>
            <div class="col-md-6 ">
                <h6>CONSIGNEE</h6>
                RAAZIQ INTERNATIONAL PVT LTD<br>
                NTN # 1299554-1<br>
                1ST FLOOR, BEAUMONT PLAZA<br>
                CIVIL LINES QUARTERS, BEAUMONT ROAD, KARACHI<br>
                PAKISTAN
            </div>
        </div>
    </div>



    <!-- Reference Details -->
    <div class="border border-dark p-2 mb-3">
        <h6 class="fw-bold mb-2">REFERENCE DETAILS</h6>

        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">NOTIFY PARTY</div>
            <div class="col-12 col-md-6">: <span></span></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">GOODS AVAILABLE AT</div>
            <div class="col-12 col-md-6">: <span></span></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">RELEASE TYPE</div>
            <div class="col-12 col-md-6">: Draft</div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">GOODS TO BE CLEARED BY</div>
            <div class="col-12 col-md-6">: <span></span></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">OCEAN BILL OF LADING</div>
            <div class="col-12 col-md-6">: <span></span></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">COMMODITY</div>
            <div class="col-12 col-md-6">: SPARE PARTS</div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">ORDER NUMBERS / REFERENCE</div>
            <div class="col-12 col-md-6">: <span></span></div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">HOUSE BILL OF LADING</div>
            <div class="col-12 col-md-6">: DESG003030</div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 fw-semibold">DESTINATION</div>
            <div class="col-12 col-md-6">: KARACHI, PAKISTAN</div>
        </div>
    </div>



    <div class="table-responsive mb-3">
        <table class="table table-bordered border-dark mb-0">
            <thead>
                <tr>
                    <th>GOODS DESCRIPTION</th>
                    <th>PACKAGES</th>
                    <th>WEIGHT</th>
                    <th>CHARGEABLE</th>
                    <th>EST DELIVERY</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SPARE PARTS</td>
                    <td>11 PALLETS</td>
                    <td>7237.000 KG(s)</td>
                    <td>15.125 M3</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Routing Information -->

    <div class="border border-dark p-2 mb-3">
        <h6 class="fw-bold mb-2">ROUTING INFORMATION</h6>

        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">MODE</div>
            <div class="col-12 col-md-6">: Sea</div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">VESSEL</div>
            <div class="col-12 col-md-6">: OOCL GUANGZHOU 149W</div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">LOAD PORT</div>
            <div class="col-12 col-md-6">: SINGAPORE</div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">DISCHARGE PORT</div>
            <div class="col-12 col-md-6">: KARACHI</div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">ETD</div>
            <div class="col-12 col-md-6">: 16-APR-23</div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6 fw-semibold">ETA</div>
            <div class="col-12 col-md-6">: 30-APR-23</div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 fw-semibold">DESTINATION</div>
            <div class="col-12 col-md-6">: KARACHI, PAKISTAN</div>
        </div>
    </div>


    <!-- Charges -->

    <div class="table-responsive mb-2">
        <table class="table table-bordered border-dark mb-0">
            <thead>
                <tr>
                    <th>CHARGE DESCRIPTION</th>
                    <th>CURR</th>
                    <th>PER</th>
                    <th>UNIT</th>
                    <th>ROE</th>
                    <th>LOCAL AMT</th>
                    <th>UNIT TAX</th>
                    <th>CURR AMT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FREIGHT CHARGES</td>
                    <td>USD</td>
                    <td>W/M</td>
                    <td>1.3600</td>
                    <td>15.13</td>
                    <td>1.00</td>
                    <td>0.00</td>
                    <td>822.80</td>
                </tr>
                <tr>
                    <td>DOCUMENTATION FEE</td>
                    <td>SGD</td>
                    <td>SHIPMENT(S)</td>
                    <td>1.0000</td>
                    <td>1.00</td>
                    <td>1.00</td>
                    <td>0.00</td>
                    <td>100.00</td>
                </tr>
                <tr>
                    <td>HANDLING CHARGES</td>
                    <td>SGD</td>
                    <td>SHIPMENT(S)</td>
                    <td>1.0000</td>
                    <td>1.00</td>
                    <td>8.68</td>
                    <td>0.00</td>
                    <td>50.00</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Totals -->
    <p><strong>Sub Total:</strong> 972.80 SGD</p>
    <p><strong>Total:</strong> 981.48 SGD</p>
    <p><em>Dollar Nine Hundred Eighty-One And Forty-Eight Cents Only</em></p>

    <!-- Footer -->
    <div class="text-end mt-4">
        <p>Yours Sincerely,</p>
        <p class="fw-bold mb-0">Admin,</p>
        <p>Dofi Infosys LLC</p>
    </div>

</div>

<!-- Certificate of singapore -->
  <div class="container bg-white p-4 border border-dark my-5" style="max-width: 900px;font-size: 14px;">
    
   
    <div class="d-flex flex-column flex-md-row align-items-center border-bottom pb-3 gap-3 mb-4">
      <img src="https://app.dofi.co/assets/images/logos/xtreme-dark-icon.svg" width="90" height="90" class="img-fluid" alt="Company Logo" />
      <h4 class="mb-0 fw-bold text-center text-md-start">DOFI <br> Infosys LLC</h4>
    </div>

    <!-- Exporter -->
    <div class="mb-4">
      <h5 class="fw-semibold pb-1">Exporter</h5>
      <address class="mb-0">
        GIVAUDAN WANG PTE LTD.<br />
        P/A GIVAUDAN SINGAPORE PTE LTD<br />
        1 WOODLANDS AVE 8<br />
        SINGAPORE 738972
      </address>
    </div>

    <!-- Consignee -->
    <div class="mb-4">
      <h5 class="fw-semibold pb-1">Consignee</h5>
      <address class="mb-0">
        DEMO COMPANY PTE LTD<br />
        NTN # 1299554-1<br />
        1ST FLOOR, BEAUMONT PLAZA<br />
        CIVIL LINES QUARTERS, BEAUMONT ROAD, KARACHI<br />
        PAKISTAN
      </address>
    </div>

    <!-- Shipment Details -->
    <h5 class="fw-semibold pb-1 mb-3">Shipment Details</h5>

    <!-- First Row: 3 Columns -->
    <div class="row mb-3">
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="d-flex">
          <strong class="me-2" style="width: 150px;">Date</strong>
          <span>: 16-APR-23</span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-3">
        <div class="d-flex">
          <strong class="me-2" style="width: 150px;">Vessel</strong>
          <span>: OOCL GUANGZHOU / 149W</span>
        </div>
      </div>
      
    </div>

    <!-- Second Row: 2 Columns -->
    <div class="row mb-3">
        <div class="col-lg-4 col-md-6 mb-3">
        <div class="d-flex">
          <strong class="me-2" style="width: 150px;">Port of Loading</strong>
          <span>: SINGAPORE</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="d-flex">
          <strong class="me-2" style="width: 150px;">Port of Discharge</strong>
          <span>: KARACHI</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="d-flex">
          <strong class="me-2" style="width: 150px;">Final Destination</strong>
          <span>: KARACHI</span>
        </div>
      </div>
    </div>

    <!-- Goods Description -->
    <div>
      <h5 class="fw-semibold pb-1">Goods Description</h5>
      <ul class="mb-0">
        <li>11 PALLETS</li>
        <li>11 PALLETS</li>
        <li>SPARE PARTS</li>
      </ul>
    </div>
  </div>

  <!--  -->