<div class="row" [formGroup]="inputForm">
  <!-- <div class="col-12">
    <div class="d-flex align-items-center gap-2 mb-3">
      <button class="btn btn-sm btn-info" (click)="saveZone()">
        <i-feather name="upload-cloud" class="feather-sm me-1"></i-feather> Save
      </button>
    </div>
  </div> -->

  <div class="col-12">
    <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
      <div class="col-md-4 pb-2">
        <h4 class="page-title mb-0"> Zone</h4>
      </div>
      <div class="col-md-8 pb-2">
        <div
          class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
            (click)="navigateBack()">
            <i class="fas fa-chevron-left me-1"></i>
            Back
          </button>
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80" (click)="resetForm()">
            <i class="fas fa-sync-alt me-1"></i>
            Reset
          </button>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="saveZone()">
            <i class="fas fa-save me-1"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">

          <aside class="col-md-4">
            <div class="custom-form-group">
              <input type="text" id="text-input" class="custom-input-field sm" placeholder="" formControlName="ZoneName"
                [textWithNumbers]="100" />
              <label for="text-input" class="input-label">Name <span class="text-danger">*</span></label>
              @if(inputForm.get('ZoneName')?.touched && inputForm.get('ZoneName')?.invalid){
              <div class="error-message">
                @if(inputForm.get('ZoneName')?.hasError('required')){
                <span>Zone Name is required</span>
                } @else if(inputForm.get('ZoneName')?.hasError('maxlength')){
                <span>Max 100 Characters</span>
                }
              </div>
              }
            </div>
          </aside>

          <aside class="col-md-4">
            <div class="custom-form-group">
              <input type="text" id="text-input" class="custom-input-field sm" placeholder=" "
                formControlName="ZoneCode" [textWithNumbers]="2" />
              <label for="text-input" class="input-label">Code <span class="text-danger">*</span></label>
              @if(inputForm.get('ZoneCode')?.touched && inputForm.get('ZoneCode')?.invalid){
              <div class="error-message">
                @if(inputForm.get('ZoneCode')?.hasError('required')){
                <span>Zone Code is required</span>
                } @else if(inputForm.get('ZoneCode')?.hasError('maxlength')){
                <span>Max 2 Characters</span>
                }
              </div>
              }
            </div>
          </aside>

          <aside class="col-md-3">
            <div class="custom-form-group">
              @if(isEditMode){
              <select name="status" class="form-select" formControlName="status" id="text-input">
                <option value="Active">Active</option>
                <option value="Suspended">Suspended</option>
              </select>
              } @else {
              <input type="text" name="status" class="custom-input-field sm" formControlName="status" id="text-input"
                readonly>
              }
              <label for="text-input" class="input-label">Status<span class="text-danger">*</span></label>
              @if(inputForm.get('status')?.touched && inputForm.get('status')?.invalid){
              <div class="error-message">
                @if(inputForm.get('status')?.hasError('required')){
                <span>Status is required</span>
                }
              </div>
              }
            </div>
          </aside>

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-6">
    <div class="card h-100">
      <div class="card-body">
        <div class="row">
           <aside class="col-md-9">
                        <div class="custom-form-group">
                            <textarea id="textarea-input" class="input-field sm" placeholder="" rows="1"></textarea>
                            <label for="text-input" class="input-label">Remarks</label>
                        </div>
                    </aside> 
          
        </div>
      </div>
    </div>
  </div> -->
</div>