<div class="row">
  <!-- <div class="col-12">
    <div class="rounded-3 p-2 bg-body-tertiary shadow mb-2" data-bs-theme="light">
      <form class="d-flex align-items-center gap-2">
        <div class="form-outline col">
          <input type="search" class="form-control ps-5" name="search" [(ngModel)]="filterType"
            placeholder="Search Type" />
          <i class="fas fa-search ms-3"></i>
        </div>
        <div class="form-outline col">
          <input type="search" class="form-control ps-5" name="search" [(ngModel)]="filterText" (input)="onSearch()"
            placeholder="Enter Name" />
          <i class="fas fa-search ms-3"></i>
        </div>
        <button type="button" class="btn btn-info btn-sm">
          <i class="fas fa-search"></i>
          Search
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="navigateToEntry()">
          <i class="mdi mdi-plus"></i>
          Create
        </button>
        <button type="button" class="btn btn-secondary btn-sm">
          
          report
        </button>
        <button type="button" class="btn btn-secondary btn-sm">
         
          Reset
        </button>
      </form>
    </div>
  </div> -->


  <div class="col-12">
    <div class="rounded-3 p-2 bg-body-tertiary shadow mb-2">
      <div class="col-8 mx-auto">
        <div class="rounded-3 p-2 bg-body-tertiary  mb-2" data-bs-theme="light">
          <form class="d-flex align-items-center gap-2">
            <div class="form-outline col">
              <input type="search" class="form-control ps-5" name="search" [(ngModel)]="filterType"
                placeholder="Search Type" />
              <i class="fas fa-search ms-3"></i>
            </div>
            <div class="form-outline col">
              <input type="search" class="form-control ps-5" name="search" [(ngModel)]="filterText" (input)="onSearch()"
                placeholder="Enter Name" />
              <i class="fas fa-search ms-3"></i>
            </div>

            <button type="button" class="btn btn-info btn-sm dofi-min-w-80">
              <i class="fas fa-search"></i>
              Search
            </button>
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80" (click)="navigateToEntry()">
              <i class="mdi mdi-plus"></i> Create
            </button>
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80">
              <!-- <i class="mdi mdi-plus"></i> -->
              Report
            </button>
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80">
              <!-- <i class="mdi mdi-plus"></i> -->
              Reset
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover align-middle no-wrap table-bordered">
        <thead>
          <tr class="bg-info">
            <th class="bg-transparent text-light" scope="col">Name</th>
            <th class="bg-transparent text-light" scope="col">Code</th>
            <!-- <th class="bg-transparent text-light" scope="col">Remarks</th> -->
            <th class="bg-transparent text-light" scope="col">Status</th>
            <th class="bg-transparent text-light" scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (package of filteredPackageTypes; track
          package.PackageTypeMasterSid) {
          <tr>
            <td>
              <div class="text-truncate">{{ package.PackageName }}</div>
            </td>
            <td>
              <div class="text-truncate">{{ package.PackageCode }}</div>
            </td>
            <td>
              <div class="text-truncate">{{ package.status }}</div>
            </td>
            <!-- <td>
              <div class="text-truncate">Rial</div>
            </td> -->
            <td>
              <a class="text-dark mx-2" [routerLink]="[
                  '/master/package-type/entry',
                  package.PackageTypeMasterSid
                ]">
                <i-feather name="edit-3" class="feather-sm"></i-feather>
              </a>
              <a class="text-danger mx-2 ps-3 border-start"
                (click)="deletePackageTypeById(package.PackageTypeMasterSid)">
                <i-feather name="trash-2" class="feather-sm"></i-feather>
              </a>
            </td>
          </tr>
          } @empty {
          <tr>
            No records found
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>