<div class="row">
  <div class="col-12">
    <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm">
      <div class="col-md-4 pb-2">
        <h4 class="page-title mb-0">Package Type</h4>
      </div>
      <div class="col-md-8 pb-2">
        <div class="" data-bs-theme="light">
          <form
            class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="openModal(content)">
              <i class="fas fa-plus me-1"></i> Create
            </button>
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="report()"
              [disabled]="!searchPerformed || totalLengthOfCollection === 0">
              <i class="fas fa-file-alt me-1"></i> Report
            </button>
            <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="resetPage()"
              [disabled]="!searchPerformed">
              <i class="fas fa-sync-alt me-1"></i> Reset
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-12 border-top">
        <div class="row mx-0 py-2">
          <div class="col-md-8 mx-auto px-0">
            <form class="row d-flex flex-wrap align-items-center justify-content-center gap-1 gap-md-2 mx-0">
              <div class="form-outline col-12 col-md px-0">
                <select [(ngModel)]="searchType" name="searchType" class="form-select">
                  <option value="PackageName">Package Name</option>
                  <option value="PackageCode">Package Code</option>
                  <option value="status">Status</option>
                </select>
              </div>
              <div class="d-flex d-md-flex gap-2 col-12 col-md px-0 align-items-center">
                <div class="form-outline flex-grow-1">
                  <input [(ngModel)]="filterValue" name="filterValue" type="text" class="form-control"
                    placeholder="Enter filter value">
                  <i class="fas fa-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                </div>
                <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="search()">
                  <i class="fas fa-search me-1"></i> Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-white py-2 rounded shadow-sm mx-auto" *ngIf="searchPerformed && totalLengthOfCollection > 0">
    <div class="col-12 p-0">
      <div class="table-responsive">
        <table class="table table-hover align-middle no-wrap table-bordered">
          <thead>
            <tr class="bg-info">
              <th class="bg-transparent text-light" scope="col"  width="10%">Action</th>
              <th class="bg-transparent text-light" scope="col">Package Name</th>
              <th class="bg-transparent text-light" scope="col">Package Code</th>
              <th class="bg-transparent text-light" scope="col"  width="10%">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of packageTypeList; trackBy: trackByIndex">
              <td>
                <div class="d-flex gap-2 align-items-center justify-content-center">
                  <button class="btn btn-sm btn-link text-info p-0"
                    (click)="editPackageType(item.PackageTypeMasterSid, content)" title="Edit">
                    <i-feather class="feather-sm" name="eye"></i-feather>
                  </button>
                  <button class="btn btn-sm btn-link text-danger p-0 border-start ps-3"
                    (click)="deletePackageTypeById(item.PackageTypeMasterSid)" title="Delete">
                    <i-feather name="trash-2" class="feather-sm"></i-feather>
                  </button>
                </div>
              </td>
              <td>
                <div class="text-truncate">{{item.PackageName}}</div>
              </td>
              <td>
                <div class="text-truncate">{{item.PackageCode}}</div>
              </td>
              <td>
                @if(item.status === "A"){
                <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                  <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                  Active
                </div>
                } @else {
                <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                  <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                  Suspended
                </div>
                }
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <ngb-pagination [collectionSize]="totalLengthOfCollection" [(page)]="page" [pageSize]="pageSize"
          (pageChange)="updatePaginationData()">
        </ngb-pagination>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="searchPerformed && totalLengthOfCollection === 0">
    <div class="alert alert-info text-center">No records found</div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ isEditMode ? 'Edit' : 'Add' }} Package Type</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="packageTypeForm">
        <div class="col-md-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="row">
                <aside class="col-md-6">
                  <div class="custom-form-group">
                    <input type="text" id="PackageName" formControlName="PackageName" placeholder=""
                      class="custom-input-field sm">
                    <label for="PackageName" class="input-label">Package Name <span
                        class="text-danger fw-bold">*</span></label>
                    @if(packageTypeForm.get('PackageName')?.touched && packageTypeForm.get('PackageName')?.invalid){
                    <div class="error-message">
                      @if(packageTypeForm.get('PackageName')?.hasError('required')){
                      <span>Package Name is required</span>
                      } @else if(packageTypeForm.get('PackageName')?.hasError('maxlength')){
                      <span>Max 100 Characters</span>
                      }
                    </div>
                    }
                  </div>
                </aside>
                <aside class="col-md-6">
                  <div class="custom-form-group">
                    <input type="text" formControlName="PackageCode" id="PackageCode" placeholder=""
                      class="custom-input-field sm">
                    <label for="PackageCode" class="input-label">Package Code <span
                        class="text-danger fw-bold">*</span></label>
                    @if(packageTypeForm.get('PackageCode')?.touched && packageTypeForm.get('PackageCode')?.invalid){
                    <div class="error-message">
                      @if(packageTypeForm.get('PackageCode')?.hasError('required')){
                      <span>Package Code is required</span>
                      } @else if(packageTypeForm.get('PackageCode')?.hasError('maxlength')){
                      <span>Max 3 Characters</span>
                      }
                    </div>
                    }
                  </div>
                </aside>
                <aside class="col-md-6 mt-2">
                  <div class="custom-form-group custom-form-group-select">
                    <select class="form-select" formControlName="status"
                      [class.is-invalid]="packageTypeForm.get('status')?.invalid && packageTypeForm.get('status')?.touched">
                      <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
                    </select>
                    <label class="input-label">Status <span class="text-danger">*</span></label>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onSubmit()"
        [disabled]="btnDisable || packageTypeForm.invalid">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </ng-template>
</div>