<div class="row py-3">
    <div class="col-12">
        <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-0">
            <div class="col-md-4 pb-2">
                <h4 class="page-title mb-0">Add Terms and Condition</h4>
            </div>
            <div class="col-md-8 pb-2">
                <div
                    class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
                        <i class="fas fa-chevron-left me-1"></i>
                        Back
                    </button>
                    <button class="btn btn-sm btn-light-secondary dofi-min-w-80 dofi-max-w-80">
                        <i-feather name="edit-3" class="feather-sm me-1"></i-feather> Edit
                    </button>
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
                        <i class="fas fa-sync-alt me-1"></i>
                        Reset
                    </button>
                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
                        <i class="fas fa-save me-1"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Code">
                            <label for="text-input" class="input-label">Menu <span class="text-danger">*</span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="Name">
                            <label for="text-input" class="input-label">Dept <span
                                    class="text-danger">*</span></label>
                        </div>
                    </aside>

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="numericCode">
                            <label for="text-input" class="input-label">Carrier <span class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="3letterCode">
                            <label for="text-input" class="input-label">POL</label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="address1">
                            <label for="text-input" class="input-label">POD</label>

                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="text-input" placeholder="" class="custom-input-field sm"
                                formControlName="address2">
                            <label for="text-input" class="input-label">FDC</label>

                        </div>
                    </aside>
                    <!-- <aside class="col-md-3">
                        <div class="custom-form-group custom-form-group-select">
                            <ng-select formControlName="PortType" [items]="modeOfStatus" bindLabel="name"
                                bindValue="name">

                            </ng-select>
                            <label for="" class="input-label">Status <span class="text-danger">*</span></label>
                        </div>
                    </aside> -->
                </div>
            </div>
        </div>
    </div>

     <div class="row bg-white py-2 rounded shadow-sm mx-2 mt-2">
        <div class="col-12 ">
            <div class="table-responsive">
                <table class="table table-hover align-middle no-wrap table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <!-- <th class="bg-transparent text-light" scope="col">Action</th> -->
                            <th class="bg-transparent text-light" scope="col">Default</th>
                            <th class="bg-transparent text-light" scope="col">Terms ad Condition</th>
                             <th class="bg-transparent text-light" scope="col">Type</th>
                              <th class="bg-transparent text-light" scope="col">Type Value</th>
                            <th class="bg-transparent text-light" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of [0,1,2,3,4,5,6,7,8]; track $index) {
                        <tr>
                            <!-- <td>
                            <i-feather name="edit-3" class="feather-sm ms-2"></i-feather>
                        </td> -->
                            <td>
                                <div class="text-truncate">OMR</div>
                            </td>
                            <td>
                                <div class="text-truncate">RO</div>
                            </td>
                             <td>
                                <div class="text-truncate">RO</div>
                            </td>
                             <td>
                                <div class="text-truncate">RO</div>
                            </td>
                            <td>
                                <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                    <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                    Active
                                </div>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>