<div class="row compact-form">
  <div class="col-12 px-0">
    <div class="row bg-white mb-1 align-items-center pt-1 rounded shadow-sm mx-0">
      <div class="col-md-4 d-flex pb-1">
        <div class="d-flex align-items-center gap-2">
          <div class="brand-icon">
            <i class="fas fa-code-branch"></i>
          </div>
          <h4 class="page-title mb-0">Merge Booking</h4>
        </div>
      </div>
      <div class="col-md-8 pb-1">
        <div
          class=" d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
          <!-- <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80">
            <i class="fas fa-chevron-left me-1"></i> Back
          </button> -->
          <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
            (click)="fromBookingForm.reset();toBookingForm.reset();">
            <i class="fas fa-sync-alt me-1"></i> Reset
          </button>
          <button type="button" class="btn btn-info btn-sm text-nowrap" (click)="sendManualMail()">
            <i class="fas fa-envelope me-1"></i> Send Mail
          </button>
          <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="mergeBookings()">
            <i class="fas fa-save me-1"></i> Save
          </button>
          <div *ngIf="mps.hasAtLeastOne()" ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-light-secondary btn-sm has-arrow" id="dropdownBasic1"
              ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngIf="mps.has('edoc')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openEDoc()"><i
                  class="fas fa-file-alt me-1"></i> Edoc</button>
              <!-- <button *ngIf="mps.has('terms_and_condition')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openTandC()"><i
                  class="fas fa-clipboard me-1"></i> Terms & Condition</button> -->
              <button *ngIf="mps.has('authority')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openAuthority()"><i
                  class="fas fa-shield-alt me-1"></i> Authorize</button>
              <button *ngIf="mps.has('email')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openEmail()"><i
                  class="fas fa-envelope me-1"></i> Email</button>
              <button *ngIf="mps.has('follow_up')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openFollowup()"><i
                  class="fas fa-paperclip me-1"></i> Followup</button>
                <button *ngIf="mps.has('document_reference')" class="text-dark" ngbDropdownItem appPreventMultiClick (click)="openDocRef()"><i
              class="fas fa-paperclip me-1"></i>Document reference</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-md-12  px-0">
    <div class="row">
      <!-- From Booking -->
      <div class="col-md-6 pe-md-1">
        <div class="card h-100 mb-0">
          <div class="card-body pb-0">
            <h5 class="page-title mb-0">From</h5>
            <form [formGroup]="fromBookingForm">
              <div class="row">
                <!-- Department -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('DepartmentMasterSid')?.value">
                    <dofi-searchable-dropdown [items]="departments" formControlName="DepartmentMasterSid" placeholder=""
                            [displayFields]="departmentLookupConfig.displayFields"
                            [displayLabels]="departmentLookupConfig.displayLabels"
                            [labelFields]="departmentLookupConfig.labelFields" bindValue="DepartmentMasterSid"
                            (itemSelected)="onDeptChange($event)">
                        </dofi-searchable-dropdown>
                    <label class="input-label">Department<span class="text-danger"></span></label>
                  </div>
                </aside>
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('BookingHeaderSid')?.value">
                    <ng-select class="ng-select" [items]="bookings" bindLabel="BookingNo" bindValue="BookingHeaderSid"
                      placeholder="" formControlName="BookingHeaderSid"
                      (change)="onFromBookingChange($event)">
                    </ng-select>
                    <label class="input-label">Booking No <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Customer -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('CustomerMasterSid')?.value">
                    <ng-select class="ng-select" [items]="customers" bindLabel="CustomerName"
                      bindValue="CustomerMasterSid" placeholder="" formControlName="CustomerMasterSid"
                      [disabled]="true">
                    </ng-select>
                    <label class="input-label">Customer <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Sales Person -->
                <aside class="col-md-4">
                  <div class="custom-form-group">
                    <input class="form-control custom-input-field sm" type="text" formControlName="SalesmanName" placeholder="">
                    <label class="input-label">Sales Person <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Shipper -->
                <aside class="col-md-4">
                  <div class="custom-form-group">
                    <input class="form-control custom-input-field sm" type="text" formControlName="ShipperName" placeholder="">
                    <label class="input-label">Shipper <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Consignee -->
                <aside class="col-md-4">
                  <div class="custom-form-group">
                    <input class="form-control custom-input-field sm" type="text" formControlName="ConsigneeName" placeholder="">
                    <label class="input-label">Consignee <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- POL -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select"  [class.filled]="!!fromBookingForm.get('POL')?.value">
                    <ng-select class="ng-select" [items]="ports" bindLabel="PortName" bindValue="PortCode"
                      placeholder="" formControlName="POL" [disabled]="true">
                    </ng-select>
                    <label class="input-label">POL <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- POD -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('POD')?.value">
                    <ng-select class="ng-select" [items]="ports" bindLabel="PortName" bindValue="PortCode"
                      placeholder="" formControlName="POD" [disabled]="true">
                    </ng-select>
                    <label class="input-label">POD <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- FPD -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('FPD')?.value">
                    <ng-select class="ng-select" [items]="ports" bindLabel="PortName" bindValue="PortCode"
                      placeholder="" formControlName="FPD" [disabled]="true">
                    </ng-select>
                    <label class="input-label">FPD <span class="text-danger">*</span></label>
                  </div>
                </aside>
              </div>
            </form>
            <!-- Demo Data Table (replace with live) -->
            @if(fromTotalRecords > 0){
            <div class="col-md-12">
              <div class="table-responsive table-borderless">
                <table class="table table-hover align-middle no-wrap  table-sm mb-1">
                  <thead>
                    <tr class="bg-info">
                      <th class="bg-transparent text-light" scope="col">Commodity</th>
                      <th class="bg-transparent text-light" scope="col">Shipping Bill No</th>
                      <th class="bg-transparent text-light" scope="col">No of Pkg</th>
                      <th class="bg-transparent text-light" scope="col">Gross Wt.</th>
                      <th class="bg-transparent text-light" scope="col">Volume(CBM)</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(item of slicedFromProducts ; track item){
                    <tr>
                      <td>
                        <div class="text-truncate">{{item.ProductName}}</div>
                      </td>
                      <td>
                        <div class="text-truncate">{{item.ShippingBillNo}}</div>
                      </td>
                      <td>
                        <div class="text-truncate text-end">{{item.ExternlQty}}</div>
                      </td>
                      <td>
                        <div class="text-truncate text-end">{{item.GrossWeight}}</div>
                      </td>
                      <td>
                        <div class="text-truncate text-end">{{item.Volume}}</div>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <!-- <div>
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="fromTotalRecords"
                  [pageSize]="pageSizeFrom" [(page)]="pageFrom" (pageChange)="updateFromPagination()" [rotate]="true"
                  [ellipses]="false" [maxSize]="10">
                </ngb-pagination>
              </div> -->
            </div>
            } @else {
            <div class="col-12">
              <!-- <div class="text-center"> Choose booking to see respective cargo details.</div> -->
            </div>
            }
          </div>
        </div>
      </div>
      <!-- To Booking -->
      <div class="col-md-6 mt-1 mt-md-0 ps-md-1">
        <div class="card h-100 mb-0">
          <div class="card-body pb-0">
            <h5 class="page-title mb-0">To</h5>
            <form [formGroup]="toBookingForm">
              <div class="row">
                <!-- Department -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('DepartmentMasterSid')?.value">
                    <ng-select class="ng-select" [items]="departments" bindLabel="departmentName"
                      bindValue="DepartmentMasterSid" placeholder="" formControlName="DepartmentMasterSid"
                      (change)="onDeptChange($event)">
                    </ng-select>
                    <label class="input-label">Department <span class="text-danger"></span></label>
                  </div>
                </aside>
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('BookingHeaderSid')?.value">
                    <ng-select class="ng-select" [items]="toBookingOptions" bindLabel="BookingNo"
                      bindValue="BookingHeaderSid" placeholder="" formControlName="BookingHeaderSid"
                      (change)="patchToBookingDetails($event)">
                    </ng-select>
                    <label class="input-label">Booking No <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Customer -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('CustomerMasterSid')?.value">
                    <ng-select class="ng-select" [items]="customers" bindLabel="CustomerName"
                      bindValue="CustomerMasterSid" placeholder="" formControlName="CustomerMasterSid"
                      [disabled]="true">
                    </ng-select>
                    <label class="input-label">Customer <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Sales Person -->
                <aside class="col-md-4">
                  <div class="custom-form-group">
                    <input class="form-control custom-input-field sm" type="text" formControlName="SalesmanName" placeholder="">
                    <label class="input-label">Sales Person <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Shipper -->
                <aside class="col-md-4">
                  <div class="custom-form-group">
                    <input class="form-control custom-input-field sm" type="text" formControlName="ShipperName" placeholder="">
                    <label class="input-label">Shipper <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- Consignee -->
                <aside class="col-md-4">
                  <div class="custom-form-group">
                    <input class="form-control custom-input-field sm" type="text" formControlName="ConsigneeName" placeholder="">
                    <label class="input-label">Consignee <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- POL -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select"  [class.filled]="!!fromBookingForm.get('POL')?.value">
                    <ng-select class="ng-select" [items]="ports" bindLabel="PortName" bindValue="PortCode"
                      placeholder="" formControlName="POL" [disabled]="true">
                    </ng-select>
                    <label class="input-label">POL <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- POD -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('POD')?.value">
                    <ng-select class="ng-select" [items]="ports" bindLabel="PortName" bindValue="PortCode"
                      placeholder="" formControlName="POD" [disabled]="true">
                    </ng-select>
                    <label class="input-label">POD <span class="text-danger"></span></label>
                  </div>
                </aside>
                <!-- FPD -->
                <aside class="col-md-4">
                  <div class="custom-form-group custom-form-group-select" [class.filled]="!!fromBookingForm.get('FPD')?.value">
                    <ng-select class="ng-select" [items]="ports" bindLabel="PortName" bindValue="PortCode"
                      placeholder="" formControlName="FPD" [disabled]="true">
                    </ng-select>
                    <label class="input-label">FPD <span class="text-danger">*</span></label>
                  </div>
                </aside>
              </div>
            </form>
            <!-- Demo Data Table (replace with live) -->
            @if(toTotalRecords > 0){
            <div class="col-md-12">
              <div class="table-responsive table-borderless">
                <table class="table table-hover align-middle no-wrap  table-sm mb-1">
                  <thead>
                    <tr class="bg-info">
                      <th class="bg-transparent text-light" scope="col">Commodity</th>
                      <th class="bg-transparent text-light" scope="col">Shipping Bill No</th>
                      <th class="bg-transparent text-light" scope="col">No of Pkg</th>
                      <th class="bg-transparent text-light" scope="col">Gross Weight</th>
                      <th class="bg-transparent text-light" scope="col">Volume(CBM)</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(item of slicedToProducts ; track item){
                    <tr>
                      <td>
                        <div class="text-truncate">{{item.ProductName}}</div>
                      </td>
                      <td>
                        <div class="text-truncate">{{item.ShippingBillNo}}</div>
                      </td>
                      <td>
                        <div class="text-truncate">{{item.ExternlQty}}</div>
                      </td>
                      <td>
                        <div class="text-truncate">{{item.GrossWeight}}</div>
                      </td>
                      <td>
                        <div class="text-truncate">{{item.Volume}}</div>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <!-- <div>
                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="toTotalRecords"
                  [pageSize]="pageSizeTo" [(page)]="pageTo" (pageChange)="updateToPagination()" [rotate]="true"
                  [ellipses]="false" [maxSize]="10">
                </ngb-pagination>
              </div> -->
            </div>
            } @else {
            <div class="col-12">
             
            </div>
            }
          </div>
        </div>
      </div>
    </div><!-- end row -->

    <div class="d-flex justify-content-end mt-1">
      <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="mergeBookings()">
        <i class="fas fa-code-branch me-1"></i> Merge
      </button>
    </div>
  </div>
</div>