.quote-text-info {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-color: #ccd5d6; /* Light blue background */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.text-info:hover {
    color: #0056b3; /* Darker blue text */
    text-decoration: none;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 100vh;
    margin: 0 100px 0 100px;
}


.email-btn{
  color: grey;
}
::ng-deep .modal.custom-wide-modal .modal-dialog {
  max-width: 80vw !important;
  width: 80vw;
}

::ng-deep .modal.custom-wide-modal .modal-dialog.full-height-modal {
  height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

::ng-deep .modal.custom-wide-modal .modal-content {
  height: 90vh;
  max-height: 90vh;
  overflow: hidden;
}

::ng-deep .modal.custom-wide-modal .modal-body {
  padding: 0;
  height: 100%;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-grow: 1;
}

.search-input {
  width: 100%;
  padding-right: 2.5rem; 
  padding-left: 0.75rem;
  height: 38px;
  border: 1px solid #d6d2d2;
  border-radius: 4px;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
}


.table-scroll-wrapper {
  width: 100%;
  overflow-x: auto !important;
  overflow-y: hidden;
}

::ng-deep app-reusable-table .table-responsive {
  overflow-x: auto !important;
}

::ng-deep app-reusable-table table {
  min-width: 1400px !important;  
  white-space: nowrap;
}

