<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
        <button ngbNavLink>Pending Rate Request</button>
        <ng-template ngbNavContent>
            <div *ngIf="isMobile; else rrdesktopTemplate">
                <ng-container *ngTemplateOutlet="rrmobileTemplate"></ng-container>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <button ngbNavLink>Quotation</button>
        <ng-template ngbNavContent>








            <div class="row">
                <!-- #region Search Panel -->
                <div class="col-12">
                    <div class="rounded-3 p-2 bg-body-tertiary shadow mb-2" data-bs-theme="light">
                        <form class="d-flex align-items-center gap-2">
                            <div class="form-outline col">
                                <input type="search" class="form-control ps-5" [(ngModel)]="searchText" name="search"
                                    (input)="searchEnquiry()" autocomplete="off" placeholder="Search">
                                <i class="fas fa-search ms-3"></i>
                            </div>
                            <button type="button" class="btn btn-info btn-sm" (click)="createNew()">
                                <i class="mdi mdi-plus" [class.me-1]="!isMobile"></i>
                                @if (!isMobile) {
                                New Quotation
                                }
                            </button>
                        </form>
                    </div>
                </div>
                <!-- #endregion -->
                <div class="col-12">
                    <div *ngIf="isMobile; else desktopTemplate">
                        <ng-container *ngTemplateOutlet="mobileTemplate"></ng-container>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<!-- MOBILE CODE -->
<ng-template #mobileTemplate>
    <div class="mobile-view" *ngIf="totalLengthOfCollection > 0; else noDataTemplate">
        <div class="card" *ngFor="let enq of quoteItems">
            <div class="card-body">
                <div class="d-flex flex-column gap-2 position-relative">
                    <div class="d-flex align-items-start fw-bold dofi-font-16 text-uppercase">
                        <i-feather class="feather-sm me-1" name="hash"></i-feather>
                        <div class="text-truncate">
                            {{ enq.QuoteNumber }}
                        </div>
                        <span class="ms-auto badge dofi-min-w-12 dofi-h-12 rounded-pill px-0 py-0" [ngClass]="{
                            'bg-success': enq.status === 'A',
                            'bg-danger': enq.status === 'S',
                            'bg-warning': enq.status !== 'A' && enq.status !== 'S'
                          }">&nbsp;</span>
                    </div>



                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="user"></i-feather>
                        <div class="ms-2">{{ enq.CustomerName }}</div>
                        <div class="ms-auto d-flex align-items-center gap-1">
                            <a class="text-info" (click)="editEnquiry(enq.QuoteHeaderSid)">
                                <i-feather name="eye" class="feather-sm"></i-feather>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="map-pin"></i-feather>
                        <div class="ms-2">{{ enq.CustomerAddress }}</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="calendar"></i-feather>
                        <div class="ms-2">{{ enq.QuoteDate | dateFormat }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- DESKTOP CODE -->
<ng-template #desktopTemplate>
    <div class="desktop-view" *ngIf="totalLengthOfCollection > 0; else noDataTemplate">
        <div class="row">

            <div class="col-12">
                <!-- #region filter and add new -->

                <!-- #endregion -->

                <div class="card">
                    <!-- #region lead view -->
                    <div class="table-responsive">
                        <table class="table table-hover align-middle no-wrap table-bordered">
                            <thead>
                                <tr class="bg-info">
                                    <th class="bg-transparent text-light" scope="col">Quote Number</th>
                                     <th class="bg-transparent text-light" scope="col">Enquiry No</th>
                                    <th class="bg-transparent text-light" scope="col">Customer Name</th>
                                    <th class="bg-transparent text-light" scope="col">Customer Address</th>
                                    <th class="bg-transparent text-light" scope="col">Quote Date</th>
                                    <th class="bg-transparent text-light" scope="col">Status</th>
                                    <th class="bg-transparent text-light" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let enq of quoteItems">
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.QuoteNumber }}
                                        </div>
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.CustomerName }}
                                        </div>
                                    </td>
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.CustomerAddress }}
                                        </div>
                                    </td>
                                    <td data-label="Phone">
                                        <div class="text-truncate">
                                            {{ enq.QuoteDate | dateFormat }}
                                        </div>
                                    </td>
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.status ==="A"? "Active":"Suspend" }}
                                        </div>
                                    </td>
                                    <td data-label="Action">
                                        <section class="action-items">
                                            <a class="text-info mx-2" (click)="editEnquiry(enq.QuoteHeaderSid)">
                                                <i-feather name="eye" class="feather-sm"></i-feather>
                                            </a>
                                        </section>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- #endregion -->

                    <div class="card-body">
                        <!-- #region Pagination -->
                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                            [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()">
                        </ngb-pagination>
                        <!-- #endregion -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>


<!-- NO DATA TEMPLATE -->
<ng-template #noDataTemplate>
    <div class="text-center py-5">
        <p class="text-muted">No data available.</p>
    </div>
</ng-template>


<!-- MOBILE CODE -->
<ng-template #rrmobileTemplate>
    <div class="mobile-view" *ngIf="totalLengthOfCollection > 0; else noDataTemplate">
        <div class="card" *ngFor="let enq of enquiryItems">
            <div class="card-body">
                <div class="d-flex flex-column gap-2 position-relative">
                    <div class="d-flex align-items-start fw-bold dofi-font-16 text-uppercase">
                        <i-feather class="feather-sm me-1" name="hash"></i-feather>
                        <div class="text-truncate">
                            {{ enq.EnquiryNumber }}
                        </div>
                        <span class="ms-auto badge dofi-min-w-12 dofi-h-12 rounded-pill px-0 py-0" [ngClass]="{
                            'bg-success': enq.status === 'A',
                            'bg-danger': enq.status === 'C',
                            'bg-warning': enq.status !== 'A' && enq.status !== 'C'
                          }">&nbsp;</span>
                    </div>



                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="user"></i-feather>
                        <div class="ms-2">{{ enq.CustomerName }}</div>
                        <div class="ms-auto d-flex align-items-center gap-1">
                            <a class="text-info" (click)="createQuotation(enq)">
                                <i-feather name="eye" class="feather-sm"></i-feather>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="Department"></i-feather>
                        <div class="ms-2">{{ enq.ShipmentType }}</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="Port"></i-feather>
                        <div class="ms-2">{{ enq.POLCode }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- DESKTOP CODE -->
<ng-template #rrdesktopTemplate>
    <div class="desktop-view" *ngIf="totalLengthOfCollection > 0; else noDataTemplate">
        <div class="row">

            <div class="col-12">
                <!-- #region filter and add new -->

                <!-- #endregion -->

                <div class="card">
                    <!-- #region lead view -->
                    <div class="table-responsive">
                        <table class="table table-hover align-middle no-wrap table-bordered">
                            <thead>
                                <tr class="bg-info">
                                    <th class="bg-transparent text-light" scope="col">Rate Request No:</th>
                                    <th class="bg-transparent text-light" scope="col">Customer</th>
                                   
                                    <th class="bg-transparent text-light" scope="col">Department</th>
                                    <th class="bg-transparent text-light" scope="col">POL</th>
                                    <th class="bg-transparent text-light" scope="col">POD</th>
                                    <th class="bg-transparent text-light" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let enq of enquiryItems">
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.EnquiryNumber }}
                                        </div>
                                    </td>
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.CustomerName }}
                                        </div>
                                    </td>
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.ShipmentType }}
                                        </div>
                                    </td>
                                    <td data-label="Phone">
                                        <div class="text-truncate">
                                            {{ enq.POLCode }}
                                        </div>
                                    </td>
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.PODCode }}
                                        </div>
                                    </td>
                                    <td data-label="Action" style="width: 100px;">

                                        <section class="action-items">
                                            <a class="quote-text-info mx-2" (click)="createQuotation(enq)">
                                                <span>Create Quotation</span>
                                            </a>
                                        </section>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- #endregion -->

                    <div class="card-body">
                        <!-- #region Pagination -->

                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                            [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()">
                        </ngb-pagination>
                        <!-- #endregion -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>