.booking-card {
  margin: 20px;
  position: relative;
  overflow: hidden;
  background: #f9f8f8;
  border: 2px solid #f5c892;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  clip-path: path(
    "M 20 0 H calc(100% - 20px) Q 100% 0 100% 20 V calc(100% - 20px) Q 100% 100% calc(100% - 20px) 100% H 20 Q 0 100% 0 calc(100% - 20px) V 20 Q 0 0 20 0 Z"
  );
}

.booking-card .btn {
  min-width: 120px;
}

.veiw-btn{
  border: none;
  outline: none;
  border: 2px solid #183768;
  background-color: #ffffff;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.3s linear;
}


.veiw-btn:hover{
  background-color: #183768;
  color: #ffffff;
}


.ticket {
  border-radius: 4px;
  display: inline-block;
  text-align: left;
  //   text-transform: uppercase;
  width: 100%;
  &.dark {
    background-color: #161616;
    color: white;
  }
  &.light {
    background-color: white;
    color: #161616;

    .ticket-body {
      border-color: #161616;
    }
  }
}

.ticket-body {
  border-bottom: 1px dashed white;
  padding: 15px 35px;
  position: relative;
  p {
    // color: #ddd;
    font-size: 12px;
  }
  .flight-info {
    margin-top: 15px;
  }
  .flight-date {
    font-size: 12px;
    margin-top: 15px;
  }
  &:before,
  &:after {
    background-color: var(--app-bg);
    border-radius: 100%;
    content: "";
    height: 40px;
    position: absolute;
    top: 100%;
    width: 40px;
  }
  &:before {
    left: 0;
    transform: translate(-70%, -45%);
  }
  &:after {
    right: 0;
    transform: translate(70%, -45%);
  }
}
@media (max-width: 575.98px) {
  .text-sm-xs {
    font-size: 0.75rem !important; 
  }
}

@media (max-width: 399.98px) {
  .text-sm-xs {
    font-size: 0.65rem !important; 
  }
}



 