<div class="row compact-form" [formGroup]="cargoForm">
    <div class="col-12 px-0">
        <div class="row bg-white mb-1 align-items-center pt-1 rounded shadow-sm mx-0">
            <div class="col-md-4 d-flex pb-1">
                <h4 class="page-title mb-0">Cargo Receipt</h4>
            </div>
            <div class="col-md-8 pb-1">
                <div
                    class="row d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0">
                    <!-- <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" *ngIf="isEditMode"
                        (click)="openAuditLogs(auditLogModal)">
                        <i class="fas fa-history me-1"></i>Logs
                    </button> -->
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="goBack()">
                        <i class="fas fa-chevron-left me-1"></i>
                        Back
                    </button>
                    <button type="button" class="btn btn-light-secondary btn-sm dofi-min-w-80 dofi-max-w-80"
                        (click)="resetForm()">
                        <i class="fas fa-sync-alt me-1"></i>
                        Reset
                    </button>
                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" (click)="save()">
                        <i class="fas fa-save me-1"></i>
                        Save
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 px-0">
        <div class="card h-100 mb-0">
            <div class="card-body pb-0">
                <div class="row">
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="bookingNo" placeholder="" class="custom-input-field sm"
                                formControlName="BookingNo" readonly />
                            <label for="bookingNo" class="input-label">Booking No <span
                                    class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class=" custom-form-group custom-form-group-select-date">
                            <input type="text" id="bookingDateTime" placeholder="" class="custom-input-field sm"
                                formControlName="BookingDateTime" readonly />
                            <label for="bookingDateTime" class="input-label">Booking Date <span class="text-danger"></span>
                            </label>

                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="DepartmentName" placeholder="" class="custom-input-field sm"
                                formControlName="departmentName" readonly />
                            <label for="DepartmentName" class="input-label">Department<span
                                    class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="customerName"  placeholder="" class="custom-input-field sm"
                                formControlName="CustomerName" readonly />
                            <label for="customerName" class="input-label">Customer Name <span
                                    class="text-danger"></span></label>
                        </div>
                    </aside>

                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="vesselName" placeholder="" class="custom-input-field sm"
                                formControlName="VesselName" readonly />
                            <label for="vesselName" class="input-label">Vessel <span class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="voyageNo" placeholder="" class="custom-input-field sm"
                                formControlName="VoyageNo" readonly />
                            <label for="voyageNo" class="input-label">Voyage <span class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="poo" placeholder="" class="custom-input-field sm"
                                formControlName="POO" readonly />
                            <label for="poo" class="input-label">POO <span class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="pod" placeholder="" class="custom-input-field sm"
                                formControlName="POD" readonly />
                            <label for="pod" class="input-label">POD <span class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input type="text" id="pol" placeholder="" class="custom-input-field sm"
                                formControlName="POL" readonly />
                            <label for="pol" class="input-label">POL <span class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input id="fpd" type="text" placeholder="" class="custom-input-field sm"
                                formControlName="FPD" readonly />
                            <label for="fpd" class="input-label">FPD <span class="text-danger"></span></label>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="custom-form-group">
                            <input id="hbl" type="text" placeholder="" class="custom-input-field sm"
                                formControlName="HBLNo" readonly />
                            <label for="hbl" class="input-label">HBL No <span class="text-danger"></span></label>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-1">
        <div class="row bg-white py-2 rounded shadow-sm">
            <div class="table-responsive table-borderless">
                <table class="table table-hover align-middle no-wrap table-sm mb-1">
                    <thead>
                        <tr class="bg-info">
                            <th class="bg-transparent text-light  dofi-min-w-140" scope="col">Commodity</th>
                            <th class="bg-transparent text-light dofi-min-w-120" scope="col">Shipping Bill No</th>
                            <th class="bg-transparent text-light" scope="col">Date</th>
                            <th class="bg-transparent text-light" scope="col">External Pkg</th>
                            <th class="bg-transparent text-light text-center" scope="col">No of Pkg</th>
                            <th class="bg-transparent text-light" scope="col">Gross Weight</th>
                            <th class="bg-transparent text-light" scope="col">Net Weight</th>
                            <th class="bg-transparent text-light" scope="col">Volume(CBM)</th>
                            <th class="bg-transparent text-light" scope="col">Cargo Recd. Date</th>
                            <th class="bg-transparent text-light" scope="col">CFS</th>
                            <th class="bg-transparent text-light" scope="col">Recd Pack</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="bookingProducts">
                        <tr *ngFor="let prod of bookingProductsArray.controls; let i = index" [formGroupName]="i" class="py-0">
                            <td class="py-0">
                                <div class="text-truncate">{{ prod.value.ProductName }}</div>
                            </td>
                            <td >
                                <div class="text-truncate">{{ prod.value.ShippingBillNo }}</div>
                            </td>
                            <td >
                                <div class="text-truncate">{{ prod.value.ShippingBillDate }}</div>
                            </td>
                            <td >
                                <div class="text-truncate text-center">{{ prod.value.ExternaPkg }}</div>
                            </td>

                            <!-- Editable fields -->
                            <td>
                                <input type="number" class="custom-input-field sm  text-end mt-0"
                                    formControlName="ExternlQty" onlyNumbers>
                            </td>
                            <td >
                                <input type="number" class="custom-input-field sm  text-end mt-0"
                                    formControlName="GrossWeight" DecimalPrecision DecimalPrecisionBefore="7"
                                    DecimalPrecisionAfter="3">
                            </td>
                            <td >
                                <input type="number" class="custom-input-field sm  text-end mt-0"
                                    formControlName="NetWeight" DecimalPrecision DecimalPrecisionBefore="7"
                                    DecimalPrecisionAfter="3">
                            </td>
                            <td >
                                <input type="number" class="custom-input-field sm  text-end mt-0"
                                    formControlName="Volume" DecimalPrecision DecimalPrecisionBefore ="7"
                                    DecimalPrecisionAfter="3">
                            </td>
                            <td>
                                            <div class="custom-form-group custom-form-group-select-date">

              <div class="input-group">
                <input class="form-control" placeholder="DD-MMM-YYYY" name="dp" ngbDatepicker #d2="ngbDatepicker"
                  (click)="d2.toggle()" formControlName="CargoRecDate" (keydown.arrowDown)="d2.open()" [minDate]="today"   container="body"/>
                <button class="btn " (click)="d2.toggle()" type="button"> <i-feather name="calendar"
                    class="feather-sm"></i-feather></button>
              </div>

            </div>

                                <!-- <div class="input-group" >
                                    <input class="form-control" formControlName="CargoRecDate" placeholder="DD-MMM-YYYY"
                                        (click)="d.toggle()" (keydown.arrowDown)="d.open()" ngbDatepicker
                                        container="body" #d="ngbDatepicker" [minDate]="today" />
                                    <button class="btn" type="button" (click)="d.toggle()">
                                        <i-feather name="calendar" class="feather-sm"></i-feather>
                                    </button>
                                </div> -->
                            </td>



                            <td >
                                <div class="custom-form-group custom-form-group-select mt-0" style="width: 150px;"
                                    [class.filled]="!!cargoForm.get('CFS')?.value">
                                    <!-- <ng-select formControlName="CFS" [items]="dropdownStore.customerTypeData()" bindLabel="CustomerName"
                                        bindValue="CustomerName" placeholder=""></ng-select> -->
                                        <dofi-searchable-dropdown 
                                            [items]="cfsList" 
                                            formControlName="CFS" 
                                            placeholder=""
                                            [displayFields]="customerLookupConfig.displayFields"
                                            [displayLabels]="customerLookupConfig.displayLabels"
                                            [labelFields]="customerLookupConfig.labelFields"
                                            bindValue="CustomerName"
                                            >
                                        </dofi-searchable-dropdown>
                                </div>
                            </td>
                            <td class="pb-1">
                                <input type="number" class="custom-input-field sm  text-end mt-0"
                                    formControlName="RecdPack" onlyNumbers>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>