:host .receipt-action-btn {
  min-width: 68px;
  max-width: 68px;
  height: 28px;
  padding: 2px 8px;
  line-height: 1;
}

:host .receipt-action-btn i {
  font-size: 12px;
}

:host .receipt-get-os-btn {
  width: 78px;
  height: 24px;
  padding: 2px 8px;
  line-height: 1;
}

:host .receipt-get-os-btn i {
  font-size: 12px;
}
