<div class="row">
    <!-- #region Search Panel -->
    <div class="col-12">
        <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm justify-content-between  mx-1"data-bs-theme="light">
             <div class="col pb-2">
                <h4 class="page-title mb-0">Enquiry</h4>
            </div>
            <!-- <form class="col-md-8">
                <div class="form-outline col">
                    <input type="search" class="form-control ps-5" [(ngModel)]="searchText" name="search"
                        (input)="searchEnquiry()" autocomplete="off" placeholder="Search">
                    <i class="fas fa-search ms-3"></i>
                </div>               
            </form> -->
             <div class="col-md pb-2">
                <form class="row d-flex flex-wrap align-items-center justify-content-center gap-1 gap-md-2 mx-0">
                    <div class="d-flex gap-2 col-12  px-0 align-items-stretch align-items-md-center">
                        <div class="form-outline flex-grow-1 position-relative">
                            <input name="filterValue" type="text" class="form-control pe-5" placeholder="Search"
                                [(ngModel)]="filterValue" aria-label="Search input">
                            <button *ngIf="filterValue"
                                class="btn btn-sm position-absolute top-50 end-0 translate-middle-y me-3 p-1 text-secondary"
                                tabindex="0" aria-label="Clear search" (click)="clearFilterValue()"
                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Clear search"
                                onfocus="this.classList.replace('text-secondary','text-danger')"
                                onblur="this.classList.replace('text-danger','text-secondary')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="mt-md-0 mt-1">
                            <button type="submit" (click)="searchEnquiry()"
                                class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80">
                                <i class="fas fa-search me-1"></i> Search
                            </button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-auto pb-2">
                  <form class="d-flex flex-wrap align-items-center justify-content-start justify-content-md-end gap-1 gap-md-2 mx-0" >
                    <app-favorite-star screenName="Rate Request" class="mt-1 me-1"></app-favorite-star>
                 <button type="button" class="btn btn-info btn-sm" (click)="createNew()">
                    <!-- <i class="mdi mdi-plus" ></i> -->
                    <i class="fas fa-plus me-1" [class.me-1]="!isMobile"></i>
                    @if (!isMobile) {
                    Create 
                    }
                </button>
                  <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" 
                          [disabled]="!searchPerformed" (click)="report()">
                        <i class="fas fa-file-alt me-1"></i> Report
                    </button>

                    <button type="button" class="btn btn-info btn-sm dofi-min-w-80 dofi-max-w-80" 
                        [disabled]="!searchPerformed"
                       (click)="resetFilters()">
                        <i class="fas fa-sync-alt me-1"></i> Reset
                    </button>
            </form>
            </div>
          
        </div>
    </div>
    <!-- #endregion -->
    <div class="col-12">
        <div *ngIf="isMobile; else desktopTemplate">
            <ng-container *ngTemplateOutlet="mobileTemplate"></ng-container>
        </div>
    </div>
</div>


<!-- MOBILE CODE -->
<ng-template #mobileTemplate>
    <div class="mobile-view" *ngIf="totalLengthOfCollection > 0; else noDataTemplate">
        <div class="card" *ngFor="let enq of enquiryItems">
            <div class="card-body">
                <div class="d-flex flex-column gap-2 position-relative">
                    <div class="d-flex align-items-start fw-bold dofi-font-16 text-uppercase">
                        <i-feather class="feather-sm me-1" name="hash"></i-feather>
                        <div class="text-truncate">
                            {{ enq.EnquiryNumber }}
                        </div>
                        <span class="ms-auto badge dofi-min-w-12 dofi-h-12 rounded-pill px-0 py-0" [ngClass]="{
                            'bg-success': enq.status === 'A',
                            'bg-danger': enq.status === 'C',
                            'bg-warning': enq.status !== 'A' && enq.status !== 'C'
                          }">&nbsp;</span>
                    </div>



                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="user"></i-feather>
                        <div class="ms-2">{{ enq.CustomerName }}</div>
                        <div class="ms-auto d-flex align-items-center gap-1">
                            <a class="text-info" (click)="editEnquiry(enq.EnquiryHeaderSid)">
                                <i-feather name="eye" class="feather-sm"></i-feather>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="tag"></i-feather>
                        <div class="ms-2">{{ enq.ShipmentType }}</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i-feather class="feather-sm me-1" name="calendar"></i-feather>
                        <!-- <div class="ms-2">{{ enq.ShipmentExpectedDate | date: 'dd-MMM-yyyy' }}</div> -->
                        <div class="ms-2">{{ enq.ShipmentExpectedDate | formatDate }}</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- #region Pagination -->
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection" [pageSize]="pageSize"
                [(page)]="page" (pageChange)="updatePaginatedData()" [rotate]="true"
                    [ellipses]="false" [maxSize]="10">
            </ngb-pagination>
            <!-- #endregion -->
        </div>
    </div>
</ng-template>

<!-- DESKTOP CODE -->
<ng-template #desktopTemplate>
    <div class="desktop-view" *ngIf="totalLengthOfCollection > 0; else noDataTemplate">
        <div class="row bg-white mb-2 align-items-center pt-2 rounded shadow-sm mx-1">

            <div class="col-12">
                <!-- #region filter and add new -->

                <!-- #endregion -->

                <div class="card">
                    <!-- #region lead view -->
                    <div class="table-responsive">
                        <table class="table table-hover align-middle no-wrap table-bordered table-sm mb-1">
                            <thead>
                                <tr class="bg-info">
                                    <th class="bg-transparent text-light" scope="col">Action</th>
                                    <th class="bg-transparent text-light" scope="col" (click)="sort('EnquiryNumber')">Enquiry Number  <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'EnquiryNumber', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'EnquiryNumber'}"></i></th>
                                    <th class="bg-transparent text-light" scope="col" (click)="sort('QuoteNo')">Quotation No <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'QuoteNo', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'QuoteNo'}"></i></th>
                                    <th class="bg-transparent text-light" scope="col" (click)="sort('CustomerName')">Customer Name <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'CustomerName', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'CustomerName'}"></i></th>
                                    <th class="bg-transparent text-light" scope="col" (click)="sort('ShipmentType')">Department <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'ShipmentType', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'ShipmentType'}"></i></th>
                                    <th class="bg-transparent text-light" scope="col" (click)="sort('ShipmentExpectedDate')">Expected Shipment Date <i class="fas fa-sort ms-1"
                                    [ngClass]="{'fa-sort-up': sortDirection === 'asc' && sortColumn === 'ShipmentExpectedDate', 'fa-sort-down': sortDirection === 'desc' && sortColumn === 'ShipmentExpectedDate'}"></i></th>
                                    
                                    <!-- <th class="bg-transparent text-light" scope="col">Approval Status</th> -->
                                    <!-- <th class="bg-transparent text-light" scope="col">Create </th> -->
                                    <th class="bg-transparent text-light" scope="col">Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let enq of enquiryItems">
                                    <td data-label="Action" style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        <section class="action-items text-center">
                                            <a class="text-info mx-2" (click)="editEnquiry(enq.EnquiryHeaderSid)">
                                                <i-feather name="eye" class="feather-sm"></i-feather>
                                            </a>
                                            @if(enq.authorizerStatus === 'Approved'){
                                            @if(!enq.quoteNo){
                                            <button class="mx-2 btn btn-sm text-info btn-link border-start ps-3 " style="cursor: pointer;" (click)="goForQuotationCreation(enq.EnquiryHeaderSid)" appPreventMultiClick [isLoading]="loadingEnquiry"
                                            title="Create Quotation"
                                            >
                                                <i-feather name="file-plus" class="feather-sm"></i-feather>
                                            </button>
                                            }
                                            }
                                        </section>
                                    </td>
                                    <td data-label="Company">
                                        <div class="text-truncate">
                                            {{ enq.EnquiryNumber }}
                                        </div>
                                    </td>
                                    <td data-label="Company" style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        <div class="text-truncate">
                                           {{enq.quoteNo ? enq.quoteNo : 'N/A'}}
                                        </div>
                                    </td>
                                    <td data-label="Company" style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        <div class="text-truncate">
                                            {{ enq.CustomerName }}
                                        </div>
                                    </td>
                                    <td data-label="Company" style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        <div class="text-truncate">
                                            {{ enq.ShipmentType }}
                                        </div>
                                    </td>
                                    <td data-label="Phone" style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        <div class="text-truncate">
                                            {{ enq.ShipmentExpectedDate | formatDate 
                                            }}
                                        </div>
                                    </td>
                                    <!-- <td style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        @if(enq.authorizerStatus === "Approved"){
                                        <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                            <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                            Approved
                                        </div>
                                        }@else if(enq.authorizerStatus === "Rejected"){
                                        <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                            <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                            Rejected
                                        </div>
                                        }@else if(enq.authorizerStatus === "Pending"){
                                        <div class="bg-light-info px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                            <span class="dofi-w-4 dofi-h-4 bg-info d-inline-block rounded"></span>
                                            Waiting for approval
                                        </div>
                                        }
                                    </td> -->
                                    <!-- <td data-label="Company" style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        <div class="text-truncate">
                                            @if(enq.authorizerStatus === 'Approved'){
                                                @if(!enq.quoteNo){
                                                <button class="btn btn-sm btn-info" (click)="goForQuotationCreation(enq.EnquiryHeaderSid)" appPreventMultiClick [isLoading]="loadingEnquiry">Create Quotation</button>
                                                } @else {
                                                    <span>Quotation Created</span>
                                                }
                                            } 
                                        </div>
                                    </td> -->
                                    <td data-label="Company" style="padding-top: 2px; padding-bottom: 2px; line-height: 1.5;">
                                        @if(enq.status === "A"){
                                        <div class="bg-light-success px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                            <span class="dofi-w-4 dofi-h-4 bg-success d-inline-block rounded"></span>
                                            Active
                                        </div>
                                        } @else {
                                        <div class="bg-light-danger px-2 rounded-pill d-inline-flex align-items-center gap-1">
                                            <span class="dofi-w-4 dofi-h-4 bg-danger d-inline-block rounded"></span>
                                            Inactive
                                        </div>
                                        }
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- #endregion -->

                    <div class="card-body">
                        <!-- #region Pagination -->

                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalLengthOfCollection"
                            [pageSize]="pageSize" [(page)]="page" (pageChange)="updatePaginatedData()" [rotate]="true"
                    [ellipses]="false" [maxSize]="10">
                        </ngb-pagination>
                        <!-- #endregion -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-template>


<!-- NO DATA TEMPLATE -->
<ng-template #noDataTemplate>
    <div class="text-center py-5">
        <p class="text-muted">No data available.</p>
    </div>
</ng-template>